[2019-10-11 17:06] rth opened #6 "Redunant azure jobs"
Currently in `azure-pipelines.yml` there are,
 - 2 Mac OS VMs
 - 2 Windows VMS

I'm not sure that it's actually necessary to build wheels twice on Mac OS and Windows.

For instance, scikit-learn ships a single wheel (for each Python version) that works for `macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10` (setup [here](https://github.com/MacPython/scikit-lear

[2019-10-14 10:49] marcelotrevisani opened #10 "Generate release to be able to get the code from tarballs"
Could you please generate a release to be able to get the code from tarballs? So in that way it will be possible to create a conda package for it

[2019-10-15 07:51] gtauzin opened #1 "Changes in git history"
Please be aware that the final moving from gitlab to github has led us to modify git history.

@rth, could you please refork?

[2019-10-15 07:52] gtauzin opened #2 "Building manylinux wheels"
From @rth:

Currently wheels are built based on the [ubuntu-16.04 image](https://github.com/giotto-learn/giotto-learn/blob/fefbd7c058421a9250ac017cfe796d6655e4ac56/azure-pipelines.yml#L4) which means that they would work with that Ubuntu version and later, but probably not other linux distributions.

A way to make wheels that would work for any linux distribution is with manylinux wheels https://g

[2019-10-15 07:52] gtauzin opened #3 "Refactoring of azure-pipelines.yml"
From @rth:

The current [`azure-pipelines.yml`](https://github.com/giotto-learn/giotto-learn/blob/master/azure-pipelines.yml) could be refactored a bit to use templates and standalone scripts as done e.g. in scikit-learn [[1](https://github.com/scikit-learn/scikit-learn/blob/master/azure-pipelines.yml)], [[2](https://github.com/scikit-learn/scikit-learn/tree/master/build_tools/azure)]. That would

[2019-10-15 07:54] gtauzin opened #4 "Redundant azure jobs"
From @rth:

Currently in `azure-pipelines.yml` there are,
 - 2 Mac OS VMs
 - 2 Windows VMS

I'm not sure that it's actually necessary to build wheels twice on Mac OS and Windows.

For instance, scikit-learn ships a single wheel (for each Python version) that works for `macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10` (setup [here](https://github.com/MacPython

[2019-10-15 07:55] gtauzin opened #5 "Generate release to be able to get the code from tarballs"
From @marcelotrevisani:

Could you please generate a release to be able to get the code from tarballs? So in that way it will be possible to create a conda package for it

[2019-10-15 09:03] gtauzin commented on #5
@marcelotrevisani, @matteocao  The tarballs have been generated for the first alpha release. It can be found here: https://github.com/giotto-learn/giotto-learn/archive/v0.1a.0.tar.gz

[2019-10-15 10:01] giotto-learn opened #7 "upload to PyPI"
The alpha release is ready: it needs to be uploaded to PyPI with the giotto-learn account.

[2019-10-15 12:52] rth commented on #1
Sure, will do. Thanks @gtauzin !

[2019-10-15 14:00] matteocao opened #9 "bind to binder"
The examples shall be run from binder.

[2019-10-15 15:30] gtauzin commented on #10
This environment.yml contains information that are duplicates of the one in the "examples" extra_requires in setup.py. We should probably merge those two.

[2019-10-17 06:42] matteocao opened #12 "Polish the examples"
We need to upload the data of the examples to openML and make sure they all run smoothly on binder.

[2019-10-17 10:14] matteocao opened #13 "fix windows wheel readme file"
The `twine check` complains about the structuring of the README.rst file in the windows build. Needs to be fixed before being able to upload to PyPI.

[2019-10-17 19:10] ulupo opened #15 "Accept general prime coefficients in VietorisRipsPersistence"
A small fix suggested by @MonkeyBreaker in the [call to `rips_dm_sparse` ](https://github.com/giotto-learn/giotto-learn/blob/ff3987c45bf0b5098791d66caabe57e3912aade5/giotto/externals/python/ripser_interface.py#L18) in ripser_interface.py can allow to use coefficients different from 2 in `VietorisRipsPersistence`. The fix should be implemented and the class updated to exploit this capability.

[2019-10-17 19:40] gtauzin opened #17 "Add GitHub files to prep for v0.1.0"
A number of GitHub files should be added/modified for the v0.1.0:

- [x] README.rst
- [x] CONTRIBUTING.rst
- [x] GOVERNANCE.rst
- [x] DEED_OF_CONTRIBUTION.rst
- [x] ISSUE_TEMPLATE.rst
- [x] LICENSE
- [x] CODE_AUTHORS
- [x] CODE_OF_CONDUCT.rst
- [x] PULL_REQUEST_TEMPLATE.rst
- [x] RELEASE.md

A description of the repo should also be added.

[2019-10-18 07:26] #13 closed, assigned to nobody

[2019-10-18 07:26] #15 closed, assigned to nobody

[2019-10-18 07:26] #12 closed, assigned to nobody

[2019-10-18 07:27] #9 closed, assigned to nobody

[2019-10-18 07:27] #1 closed, assigned to nobody

[2019-10-18 11:57] gtauzin opened #21 "Modify ripser bindings wrapper to accept metric='precomputed'"

[2019-10-18 13:08] nphilou opened #22 "Execute notebooks as tests in CI"
Running notebooks in the CI might be useful as suggested by @gtauzin.

[2019-10-18 13:25] ulupo opened #23 "Fix and expand TransitionGraph for v0.1.0"
- `TransitionGraph` contains a bug in https://github.com/giotto-learn/giotto-learn/blob/d057602df8a62bfcbfdc835bf6d360104856073a/giotto/graphs/transition.py#L56 as the resulting matrix is then not boolean as stated in the docs, and it can have integer entries greater than 1.
- `TransitionGraph` should be generic and therefore more general preprocessing steps than argsort should be available.  This

[2019-10-18 14:22] #23 closed, assigned to nobody

[2019-10-18 14:27] #17 closed, assigned to nobody

[2019-10-18 14:45] gtauzin opened #26 "Remove is_distance_matrix to include that case with metric='precomputed'"
The ripser.py wrapper needs to be refactored for the distance_matrix=True to be included in the metric='precomputed' case that is standard in sklearn.

[2019-10-18 14:50] ulupo opened #28 "else branch missing in TransitionGraph"
https://github.com/giotto-learn/giotto-learn/blob/a43498354a27f8efe1fa8d32c44ee3b7b0fe14b4/giotto/graphs/transition.py#L151
means that `func_` will always be set to `func`.  This was introduced in commit e4c0686.

[2019-10-18 14:52] ulupo opened #29 "Incorrect shapes in time_series module classes"
TakensEmbedding, SlidingWindow and Labeller seem to produce incorrect number of output samples.

[2019-10-18 15:22] #26 closed, assigned to nobody

[2019-10-18 15:43] ulupo opened #32 "Finalise docs for v0.1.0"
Finalise all docstrings ahead of first release.

[2019-10-18 16:20] #28 closed, assigned to nobody

[2019-10-18 16:25] gtauzin opened #36 "CI pipelines should build wheels only when manually triggered"
#### Description
Automatic wheels building takes too much time and his often unnecessary.

[2019-10-18 16:40] #29 closed, assigned to nobody

[2019-10-18 17:41] matteocao opened #38 "license copyright"
The copyright of the code shall remain to those who wrote such code. The copyright of the project as a whole is L2F's.

[2019-10-18 18:06] matteocao commented on #22
Guys,
I think the Jupyter notebook tests cannot work in the way you wrote them: the previous step of the pipeline in azure **UNinstalls** giotto learn. Therefore, the test on the Jupyter notebook would not be able to `import giotto`, since it does not know what giotto is. Have a look at the log: https://dev.azure.com/giotto-learn/giotto-learn/_build/results?buildId=374&view=logs&jobId=90c2d327-7e2

[2019-10-18 20:41] matteocao commented on #2
Fixes #2

[2019-10-18 20:42] matteocao commented on #4
Fixes #4

[2019-10-18 20:43] matteocao commented on #5
Fixes #5

[2019-10-18 20:43] matteocao commented on #7
Fixes #7

[2019-10-19 19:32] #38 closed, assigned to nobody

[2019-10-20 21:32] matteocao opened #42 "Linting"
The azure-pipelines execute the `flake8` command to check the code linting. There are some linting problems:
[code]
Once these linting problems are corrected, we can remove the flag `flake8 --exit-zero` and stop the pipelines if the linting does not pass the tests. Proper linting has to be a mandatory check for all PRs.

[2019-10-20 21:47] Amg88 opened #43 "Input check for geodesic_distance in graphs submodule"
#### Description
A check_graph function is needed in order to check the input adjacency matrices for the geodesic_distance.py; moreover tests to check the behaviour of this function are also needed.

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-10-20 22:48] ulupo opened #45 "Fix PearsonCorrelation problems for v0.1.0"
#### Description
There are some important issues with the current PearsonCorrelation transformer:

1. It acts on single two-dimensional arrays (i.e. single multi-variate time series) instead of on collections of such (as would be produced e.g. by a sliding window procedure)
2. It should be renamed to e.g. PearsonDissimilarity as the output is not the correlation
3. 'positive_definite' does not des

[2019-10-20 22:55] ulupo opened #46 "Index fixing for v0.1.0"
#### Description
The index.rst file should be polished and updated as follows:

1. Include all meta_transformers
2. Include PermutationEntropy, PearsonCoefficient/Dissimilarity (#45 ) and Labeller
3. Improve relative ordering (?)

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-10-21 08:06] ulupo opened #48 "Add "www" to URLs"
#### Description
To be safe on all browser (and friendly to the giotto.ai sysadmins), web links should have "www". E.g. <https://giotto.ai/theory> should be <https://www.giotto.ai/theory>

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-10-21 13:50] nphilou opened #52 "Misreferenced doc version"
#### Description
Doc version don't match release version

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-10-21 14:33] #52 closed, assigned to nobody

[2019-10-21 19:43] #32 closed, assigned to nobody

[2019-10-21 19:43] #45 closed, assigned to nobody

[2019-10-21 19:44] #21 closed, assigned to nobody

[2019-10-21 19:44] #22 closed, assigned to nobody

[2019-10-22 09:31] arksch opened #59 "Core dump with VietorisRipsPersistence and joblib"
### Description
Core dump when calling fit_transform on VietorisRipsPersistence with n_jobs=None or 1,
TerminatedWorkerError when n_jobs=2.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
Illegal instruction (core dumped)

Unreportable Reason: Cannot determine path of python module joblib.externals.loky.backend.popen_loky_posix"

Or if n_jobs=1:

[2019-10-22 09:32] arksch commented on #59
Possibly related to https://github.com/joblib/joblib/issues/849

[2019-10-22 09:40] arksch opened #60 "Issue template"
The issue template has typos. As it is handled through the [github dashboard](https://help.github.com/en/github/building-a-strong-community/creating-issue-templates-for-your-repository) I guess no PRs are possible and the maintainers have to update it.

I was tempted to simply add it to a comment in the actual issue I was opening, but this one will be fast to close and I did not want to spare you

[2019-10-22 11:08] gtauzin commented on #59
Hi,

Thanks for the feedback. Could you provide your joblib version?

[2019-10-22 11:18] matteocao opened #61 "Build wheels for python 3.5"
Include, in the azure pipelines, the python 3.5 build.

[2019-10-22 11:19] gtauzin commented on #60
Thanks @arksch! Regarding your other issue #59, I also added a print for the joblib version.

[2019-10-22 11:19] #60 closed, assigned to nobody

[2019-10-22 11:23] #48 closed, assigned to nobody

[2019-10-22 11:24] #46 closed, assigned to nobody

[2019-10-22 11:42] #7 closed, assigned to nobody

[2019-10-22 11:42] #2 closed, assigned to nobody

[2019-10-22 11:49] gtauzin commented on #61
#58 should be merged first to have full Python 3.5 compatibility.

[2019-10-22 12:41] arksch commented on #59
joblib 0.14.0
Seems to be the most recent version.

[2019-10-22 12:42] arksch commented on #60
Good catch :) Thanks.

[2019-10-24 17:37] ulupo opened #66 "Cite ripser.py and Dyonisus 2 project, more references"
These need proper mention in the project's documentation.  Additionally, Perea's paper on sliding windows should be mentioned in `TakensEmbedding`, and Bauer's on Ripser in `VietorisRipsPersistence`.

[2019-10-24 19:36] #66 closed, assigned to nobody

[2019-10-27 13:11] abk11 opened #69 "Lorenz Attractor Notebook - FileNotFoundError Dataset 74800"
#### Description
It appears that dataset 74800 from openml, used in the Lorenz Attractor example notebook, does not exist.

#### Steps/Code to Reproduce
Run the third code cell in the example notebook https://hub.gke.mybinder.org/user/giotto-learn-giotto-learn-fogohktg/notebooks/examples/Lorenz_Attractor.ipynb

`from openml.datasets.functions import get_dataset`
`point_cloud = get_dataset(74800).g

[2019-10-27 16:50] ulupo commented on #69
This should have been fixed in (#70). @abk11, can you confirm that the issue is resolved for you?

[2019-10-27 22:43] ulupo commented on #43
@Amg88, so as to keep this on record, could you please provide here the specifications for this function?

[2019-10-28 22:36] Amg88 commented on #43
@ulupo, I add the specifications into the validation.py file, basically this function should check the maximum X shape dimension and the facts that every adjancency matrix should be a square symmetric matrix, with every diagonal elements equal to 0.

[2019-10-29 11:13] rocheze opened #72 "giotto.diagrams.PairwiseDistance return zero diagonal"
#### Description

giotto.diagrams.PairwiseDistance return zero diagonal for all dimensions, I was expecting to get the norm of the given diagram

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-10-29 11:26] #72 closed, assigned to nobody

[2019-10-30 08:16] lewtun opened #73 "Hyperlinks in docs return 404 errors"
#### Description

Some of the hyperlinks in the docs point to [https://giotto.ai/theory](https://giotto.ai/theory) which returns a 404 error. It would be nice if we could have an "under construction page" instead of this error which confused me at first. Even better, would be a functioning theory page.

#### Steps/Code to Reproduce

Navigate to [https://docs.giotto.ai/](https://docs.giotto.ai/) an

[2019-10-30 09:50] #61 closed, assigned to nobody

[2019-10-30 13:36] nphilou commented on #73
The right link is [https://www.giotto.ai/theory](url) (Note the www)

@ulupo can you take care of this issue ?

[2019-10-30 13:47] diegofiori opened #75 "Variable not stored in BettiCurveGenerator"
## Description
The variable metric is not stored in the object attribute in the class BettiCurveGenerator at line 263 (link below). The self.metric always stores the string 'euclidean' instead of considering the parameter passed to the constructor.

https://github.com/giotto-learn/giotto-learn/blob/9a5fb3ecc91074b06e0d3fb4296d8b5c8f094326/giotto/meta_transformers/features.py#L263

[2019-10-30 14:28] ulupo commented on #73
This was a problem with the website infrastructure and it should now have been fixed. Could you please verify?

[2019-10-30 16:03] nphilou commented on #73
LGTM, I think we can close the issue

[2019-10-30 16:06] #73 closed, assigned to nobody

[2019-11-01 10:40] lewtun opened #77 "TerminatedWorkerError when calling transform on VietorisRipsPersistence"
#### Description

When calling transform on VietorisRipsPersistence I sometimes get the following error:
[code]

#### Steps/Code to Reproduce

The error is surprisingly hard to reproduce as it appears to depend on how much RAM is available at runtime. The best I can provide at this stage is the following snippet:

[code]
where `doc_matrix` has shape `(1902, 778, 300}` and takes 1775707200 bytes in

[2019-11-01 12:03] #69 closed, assigned to nobody

[2019-11-05 13:49] ulupo opened #79 "Amplitude arrays incorrectly filled in diagrams.Amplitude"
#### Description
The `transform` method in `diagrams.Amplitude` calls the `_parallel_pairwise` utility function for joblib-parallel computation of amplitudes of persistence diagrams. This function first calculates all amplitudes for different homology dimensions and across different slices of the input array of diagrams:

https://github.com/giotto-learn/giotto-learn/blob/a5f2024375fd24c84614b9b77f

[2019-11-06 13:15] #79 closed, assigned to gtauzin, ulupo

[2019-11-07 13:40] gtauzin opened #82 "Make azure-ci and binder hidden"
#### Description
The azure-ci and binder should be hidden. In the case of binder, so far, we use an `environment.yml` file that is on the root directory. This can be confused with an enviornment file that would gather the library dependency.  As a result:
-  A `.binder` should be created to hide the `environment.yml` file
-  The `azure-ci` folder should be renamed `.azure-ci` to be hidden

[2019-11-15 09:54] nphilou opened #85 "_subdiagrams only returns diagrams of the last dim in homology_dimensions"
The `_subdiagrams` method can (and currently should)  take a list of homology dimensions list but will only return the diagrams of the last element in the list.

https://github.com/giotto-ai/giotto-learn/blob/cda44bd79760106185f3a2849d6b36dbfb0a5aae/giotto/diagrams/_utils.py#L17-L23

Should we remove the loop or return an array of [subdiagrams_i, subdiagrams_j] with homology_dimensions = [i, j] as

[2019-11-15 16:49] rocheze opened #87 "infinity_values having no effects"
#### Description

#### Steps/Code to Reproduce

homology_dimensions = [0,1]
point_cloud=np.array([[2994.15145385, 2994.6898423 ],
       [2994.6898423 , 2995.25011228],
       [2995.25011228, 2995.81086442],
       [2995.81086442, 2996.34742252],
       [2996.34742252, 2996.83255758],
       [2996.83255758, 2997.23764226],
       [2997.23764226, 2997.53431672],
       [2997.53431672, 2997.69673226

[2019-11-19 14:12] nphilou opened #89 "HeatKernel sigma param should accept int type"
#### Description
TypeError thrown with integer sigma value for `HeatKernel`

#### Steps/Code to Reproduce
[code]

#### Expected Results
No TypeError

#### Actual Results
`TypeError: Parameter sigma is of type <class 'int'> while it should be of type <class 'float'>
`
#### Versions
Darwin-18.7.0-x86_64-i386-64bit
Python 3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]
N

[2019-11-19 17:45] ulupo commented on #87
This seems to be just due to `VietorisRipsPersistence` always removing one homology class in degree 0 which lives forever. Since there is always one such, it is not informative to keep it. I'll close the issue but it is true that this behaviour is not currently well documented.

[2019-11-19 17:45] #87 closed, assigned to nobody

[2019-11-19 17:56] ulupo opened #90 "Error in documenting default metrics in PairwiseDistance and Amplitude"
#### Description
The docstrings for `PairwiseDistance` and `Amplitude` currently present the default metric as `'bottleneck'`. However, as evident from the source code, the default metric is actually `'landscape'`.

[2019-11-19 18:13] ulupo opened #91 "_filter utility function has bad behaviour when death values are negative"
https://github.com/giotto-ai/giotto-learn/blob/647dd86b91176f87a5ee69ae64b803d1e02f9630/giotto/diagrams/_utils.py#L56

The above line in the definition of `_filter` would presumably yield bad behaviour for filtrations which admit negative parameters, if there are non-positive death values. This in turn would badly affect the behaviour of the `Filtering` class in future releases.

[2019-11-20 12:57] ulupo opened #92 "Document removal of one 0-homology class with infinite lifetime in VietorisRipsPersistence"
Currently, `VietorisRipsPersistence`'s `transform` calls the `_ripser_diagram` helper function, which always removes the last persistent feature in degree 0 produced by Ripser:

https://github.com/giotto-ai/giotto-learn/blob/647dd86b91176f87a5ee69ae64b803d1e02f9630/giotto/homology/point_clouds.py#L111

This is because, in degree 0, there will always be at least one persistent feature with infinite

[2019-11-20 15:37] ulupo commented on #85
It is also worth noting that this impacts performance, however slightly. Perhaps removing the loop and taking an integer instead of iterable as argument is the cleanest option. @gtauzin what do you think? I also agree that the method could be made public, but in that case I'm not sure how we would make it visible in the docs page.

[2019-11-20 17:57] ulupo opened #94 "window_width is a bad name in SlidingWindow"
#### Description

Following user feedback, it seems that the name `window_width` does not convey the meaning of the associated parameter in `SlidingWindow` sufficiently clearly. Another drawback is that it is awkward to document as the number of points in a window of "width" n is n+1. We might prefer, instead, to ask the user to pass the number of points in each window directly as a parameter.

[2019-11-21 05:28] #75 closed, assigned to nobody

[2019-11-21 06:40] #90 closed, assigned to ulupo

[2019-11-21 13:44] ulupo opened #95 ""ValueError: kth(=<n>) out of bounds (<m>)" for large parameters of n_layers in landscapes function"
#### Description
For sufficiently large values of the `n_layers` argument, the `landscapes` function in `diagrams._metric` can throw an error of the kind
[code]
where n and m are integers. This is caused by the line
https://github.com/giotto-ai/giotto-learn/blob/7e693b76e03ea422a3046fc8931f0be6b02fab64/giotto/diagrams/_metrics.py#L28
since if `n_points - n_layers < -n_points` the subsequent line
h

[2019-11-21 16:05] #95 closed, assigned to ulupo

[2019-11-21 17:54] ulupo opened #97 "fit_transform incorrectly documented throughout"
#### Description
Because `fit_transform` is never explicitly defined in our transformers, its behaviour **and docstrings** are inherited from scikit-learn's parent classes (BaseEstimator, TransformerMixin). This yields correct behaviour but incorrect documentation e.g. when scikit-learn's shape rules are broken.

A simple solution might be to add explicit definitions for each problematic `fit_tran

[2019-11-27 11:00] giotto-learn opened #100 "Diffusion module"
Create a new module implementing diffusion on simplicial complexes via the Hodge Laplacian operator.

[2019-12-02 14:57] lewtun opened #102 "Remove football-tda from examples"
#### Description

My understanding is that we have decided to remove all but the simplest examples from the repo. Therefore we should remove the football-tda example since it contains new dependencies and pickled data.

[2019-12-05 19:13] #102 closed, assigned to alexbacce

[2019-12-06 06:56] #42 closed, assigned to nobody

[2019-12-10 17:36] nphilou opened #107 "Add homology_dimensions to diagrams transformers"
#### Description
In the current implementation of `diagrams.Scaler`, `Amplitude` and `PersistenceEntropy`, homology dimensions that don't appear in `fit` will not be considered in `transform`.

It might lead to some unexpected results.

#### Possible improvements

- Documentation
- Add `homology_dimensions` parameter (as done for `Filtering`) to transformers that might ignore some dimensions in tr

[2019-12-10 21:18] ulupo opened #108 "KNeighborsGraph "available" in scikit-learn 0.22 as KNeighborsTransformer"
#### Description
A novelty of scikit-learn 0.22 is the introduction of the [KNeighborsTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsTransformer.html), which implements in the case of single point clouds (rather than collections thereof) exactly what we implemented in graphs.KNeighborsGraph.

While we cannot simply drop our version and straight-up use sc

[2019-12-11 10:10] lewtun opened #109 "Implement nightly builds"
#### Description

To enable users to have access to the latest bug fixes and / or features, it would be good to have nightly builds, i.e. snapshots of the development activity for upcoming giotto-learn releases.

In practice, this would build wheels every night for everything that has been checked into master. This is similar to what is done on [scikit-learn](https://scikit-learn.org/stable/develo

[2019-12-12 09:48] alexbacce opened #110 "Check_array"
#### Description

Following the discussion in the pull request #101, it would be useful add the `check_array` function inside `check_diagrams`, in order to perform other type of checks (e.g. NaN and infinite values).

[2019-12-12 10:40] lewtun opened #111 "Extend unit tests with Hypothesis framework"
#### Description

Instead of using hard-coded examples in our unit tests, we could automatically generate a range of "strategies" using the Hypothesis test framework:

* [Hypothesis](https://hypothesis.readthedocs.io/en/latest/index.html)
* [hypothesis-gufunc](https://github.com/uber/hypothesis-gufunc)

This would allow us to catch a wider range of edge cases.

[2019-12-15 15:48] matteocao commented on #109
The nightly build is working and it automatically updates to pypi: https://pypi.org/project/giotto-learn-nightly/

Fixes (#109)

[2019-12-16 15:30] holmbuar opened #115 "Cmake could not find Boost on Windows"
#### Description

Failing developer installation due to `Boost` library not being found by `Cmake`. Running latest Windows 10.

#### Steps/Code to Reproduce

Install Boost 1.72 in arbitrary folder. Fork and clone `giotto-learn` and run `pip install -e .`  in root directory.

#### Expected Results

[code]

#### Actual Results

[code]
Please note that I can not reproduce actual error message after f

[2019-12-19 14:38] lewtun commented on #109
Adding a comment that for now we manually trigger the nightly builds because the current rate of contributions does not demand it

[2019-12-19 14:38] #109 closed, assigned to matteocao

[2019-12-19 14:39] lewtun commented on #115
@torlarse thanks for bringing this to our attention!

@matteocao do we have a Windows VM that we can test @torlarse's solution on?

[2019-12-19 14:40] lewtun commented on #100
@ulupo can we close this?

[2019-12-19 14:41] ulupo commented on #100
Yes, sure.

[2019-12-19 14:41] #100 closed, assigned to nobody

[2019-12-19 14:42] lewtun commented on #4
@matteocao is this issue done? should we close it?

[2019-12-19 15:48] matteocao commented on #4
Yes, it is solved!

[2019-12-19 15:49] matteocao commented on #36
@lewtun : this issue is solved.

[2019-12-20 02:41] ulupo opened #119 "Requiring scikit-learn >= 0.22"
#### Description
The upcoming Mapper modules from https://github.com/lewtun/giotto-learn/tree/mapper_dev **do not work** on scikit-learn versions prior to 0.22, due to the overhauling of scikit-learn's clustering modules which occurred in moving from 0.21 to 0.22, since our implementations of popular agglomerative clustering algorithms based on stopping rules such as the "simple gap" or "histogram

[2019-12-23 12:55] ulupo opened #120 "Plotly node hover text may not display in interactive mode"
#### Description
In Mapper visualizations produced by `create_interactive_network`, metadata can fail to display upon hovering on some nodes.

#### Steps/Code to Reproduce
Start with a uniform cover with `n_intervals=40`, `overlap_frac=0.3`, DBSCAN with default parameters. The bad behaviour is only observed when changing these parameters to nearby values.

[2019-12-23 13:03] ulupo opened #121 "Remove `node_pos` argument from interactive mode"
#### Description
`create_interactive_network` currently accepts a `node_pos` kwarg which does not really make sense when graphs dynamically change. It would be better to either pass a `layout` kwarg, or even to have possible graph layout algorithms listed in a dropdown menu so that the graph can be dynamically updated.

[2019-12-23 13:20] ulupo opened #122 "Ensure we always use relative imports"
#### Description
Occasionally (https://github.com/giotto-ai/giotto-learn/search?l=Python&q=giotto), we use absolute import paths against usual scikit-learn--inspired convention.

[2019-12-23 13:25] ulupo opened #123 ""This method is there [...]" should be "This method is here [...]""
#### Description
The grammar in the documentation for `fit` throughout _giotto-learn_ could be improved as per the title.

[2019-12-23 13:42] ulupo opened #124 "Warnings for square array input when `metric` is not set to 'precomputed'"
#### Description
We might wish to implement warnings to alert Mapper users when the data input to a MapperPipeline object is a square array and they did not explicitly set `metric='precomputed'` in the clustering step.

Ideas for achieving this:

* Integrate with visualisation with a dedicated textbox widget
* Integrate with visualisation with the current logger widget

[2019-12-23 14:44] ulupo opened #125 "Support for pandas dataframe input"
#### Description
It is worth discussion whether we would like and want to always ensure that our MapperPipelines will be able to take pandas dataframes as inputs directly. There would be potentially many benefits to this ranging from less preprocessing by the user to added functionality for displaying summary information (colour, histograms etc), when the quantity of interest is a specific column

[2019-12-23 15:37] lewtun opened #126 "Clone Mapper pipeline in interactive visualisation"
#### Description

In `create_interactive_network()` we should clone the input `pipe` object to catch scenarios where the user selects an invalid set of parameters in the interactive plot and subsequently re-executed the cell. Currently, this will raise an exception as the `pipe` object stores the state of the invalid set of parameters and thus requires the user to re-initialise the `MapperPipeline

[2019-12-23 15:45] ulupo opened #127 "Make static plotting functions take a Mapper pipeline as input instead of a Mapper graph"
#### Description
For consistency with the interactive plotting API, we might wish to change `create_network_2d` and `create_network_3d` to take a `MapperPipeline` object `pipe` as first argument instead of a graph. As per (#126), we might also wish to clone this pipeline to avoid side effects.

[2019-12-23 16:16] ulupo opened #128 "Extend plotting functionality to include arbitrary quantities of interest"
#### Description
Currently, users of our static or interactive visualisation functions can pass an argument `columns_to_color` to colour Mapper nodes by the average value of one of the columns of the original data. In static mode, an argument `node_color` can also be added if the Mapper nodes are already known and the user wishes to hard-code colour values for each node. While the former can be us

[2019-12-23 16:19] ulupo opened #129 "Show histograms or other summary graphics, globally and/or locally"
#### Description
It might be useful to convey global (i.e. across the full dataset) or local (i.e. per node) summary information on arbitrary quantities of interest as per (#126), in the form of histogram, box plots or other way of conveying summary statistics. In the global case, this would be visual information displayed in a fixed position under the Mapper graph. In the local case, we might hav

[2019-12-23 16:23] ulupo opened #130 "Add maximum number of clusters argument to agglomerative clustering classes"
#### Description
Our classes implementing agglomerative clustering with stopping rules, i.e. `FirstSimpleGap` and `FirstHistogramGap`, currently give no option to place an upper bound on the number of clusters found in the iterative process. This can lead to situations in which the internal iterations stop at huge values of cluster number, and the user might wish to place a limit on the extent to

[2019-12-23 16:30] ulupo opened #131 "Visually convey information on size of intersections"
#### Description
Some users might find it beneficial to have information on the size of intersections between Mapper nodes conveyed in some way.

An idea would be to (optionally) make the thickness of the displayed edge depend on the cardinality of the intersection, or e.g. some symmetric measure such as the ratio between the size of the intersection and the size of the union between the correspon

[2019-12-23 16:43] ulupo opened #132 "Improve reliance on igraph, or replace with another dependency"
#### Description
The decision to rely on _igraph_ instead of _networkx_ for graph handling was mostly due to the _claimed_ relative gain in performance from using the former, owing to its C implementation.

However, the following has to be noted:

1. While the rest of _giotto-learn_ might well benefit from relying on an overall fast and flexible library for graph handling, the Mapper implementatio

[2019-12-23 21:13] lewtun commented on #132
Regarding potential installation issues across different platforms, this excellent benchmarking [blogpost](https://www.timlrx.com/2019/05/05/benchmark-of-popular-graph-network-packages/) provides instructions on how to set everything up via conda: https://github.com/timlrx/graph-benchmarks/blob/master/setup.md

Note this will _not_ solve our Windows problem with python-igraph as conda relies on Py

[2019-12-24 11:29] #126 closed, assigned to lewtun, ulupo

[2019-12-26 11:04] ulupo commented on #125
Fixed by (#135).

[2019-12-26 16:41] Zenilos opened #136 "I can not install giotto."
I a, using ubuntu and in python3.5 and python 3.7 I can not install giotto. How can I install it simply?

`Command "/usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-xsyfhd6s/giotto-learn/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-record-blrgq5ld/in

[2019-12-26 16:56] ulupo commented on #136
Hi @MINIMALaq, thanks for getting in touch! Are you trying to install from source (after cloning the repo)? It looks like you are experiencing compile errors which may be to do with our C++ dependencies. These should not occur if you simply `pip install giotto-learn`, which will attempt to fetch pre-compiled binaries for your system from PyPI.

Having said that, if you'd really like to install fro

[2019-12-26 18:46] Zenilos commented on #136
No, I tested `pip install` method on 2 Linux distros and both throw the same error.

[2019-12-26 21:39] ulupo commented on #136
Thanks for your reply. So if I understand correctly you did not clone or copy the repo, and just attempted `pip install giotto-learn`.

Our wheels for Linux are compiled using a "manylinux2010" docker image (see e.g. https://discuss.python.org/t/manylinux2010-docker-image-now-available/147) for compatibility with almost (but not all, see https://www.python.org/dev/peps/pep-0571/) all distribution

[2019-12-26 21:43] Zenilos commented on #136
Yes, I just used pip install giotto-learn.
I tried it on Ubuntu Linux 16:04 and 19:10.
What do I must do for running wheels correctly?

[2019-12-26 21:57] ulupo commented on #136
Ubuntu 16:04 is precisely the Linux distribution on which our CI pipelines run, so we are pretty confident giotto-learn can be made to work there. The error code you showed is a bit cryptic, but could you please attempt to follow the steps in the top answer here: https://stackoverflow.com/questions/14296531/what-does-error-option-single-version-externally-managed-not-recognized-ind (i.e. upgrading

[2019-12-26 22:12] #89 closed, assigned to nobody

[2019-12-26 22:33] ulupo commented on #4
Although it would have been better to refer to the commit fixing this issue, and commit
dfae479 is actually unrelated (the hashed number there refers to another fork of giotto-learn), I am closing this issue as it appears to be solved.

[2019-12-26 22:33] #4 closed, assigned to nobody

[2019-12-26 22:35] ulupo commented on #5
Although it would have been better to refer to the commit fixing this issue, and commit ab1ff97  is actually unrelated (the hashed number there refers to another fork of giotto-learn), I am closing this issue as it appears to be solved.

[2019-12-26 22:35] #5 closed, assigned to gtauzin

[2019-12-26 22:36] #36 closed, assigned to nobody

[2019-12-27 15:20] Zenilos commented on #136
I used python3.5 and python3.7 on ubuntu 16.04 and both give me the same error.
[code]

[2019-12-29 11:42] ulupo commented on #125
At the level of documentation, this is still an open issue as all docstrings need to be slightly tweaked to state `array-like` instead of `ndarray` when the input can be a pandas dataframe. Notice that outputs are still always `ndarrays`, however.

Notice that this applies to **the whole library**.

[2019-12-29 11:44] ulupo commented on #125
Furthermore, we might wish to extend the functionality of `Projection` to allow for passing column names instead of positional indices.

[2019-12-29 12:06] ulupo commented on #132
Relevant threads:

- igraph: https://github.com/igraph/python-igraph/issues/266
- networkit: https://github.com/networkit/networkit/issues/467 and https://github.com/networkit/networkit/pull/451
- graph-tool: https://git.skewed.de/count0/graph-tool/issues/327

[2019-12-30 15:20] lewtun opened #138 "Include plotting functions for point clouds and persistence diagrams"
#### Description

With the coming release of Mapper in v0.1.4, giotto-learn will include Plotly as one of its dependencies. Given this, it is worthwhile considering whether we should expose the plotting functions in `examples/plotting.py` as part of the library's general API.

Pros:
* My experience is that one almost always needs to visualise the persistence diagrams in a new analysis.
* It helps

[2019-12-30 15:26] lewtun opened #139 "Remove license comments from source code"
#### Description

In many (but not all) of the source code files, we include a comment like

[code]

to indicate what license is being applied. However, this practice is

a) time-consuming to maintain as the license evolves
b) redundant since we already include a LICENSE file.

I propose to remove these source comments, unless there is a clear legal precedent to not do so.

[2020-01-01 14:12] ulupo commented on #136
@MonkeyBreaker, would you be able to have a quick look at this?

[2020-01-01 15:31] ulupo opened #141 "Unclear documentation for parameter infinite_values in VietorisRipsPersistence"
#### Description
In the docstring for the `infinite_values` parameter of the `VietorisRipsPersistence` class,
https://github.com/giotto-ai/giotto-learn/blob/d5701f29d151c4f9a712686ba334f8a27fd61b04/giotto/homology/point_clouds.py#L60
the sentence "``None`` has the same behaviour as max_edge_length" is not sufficiently clear and should be reworded.

[2020-01-01 15:51] ulupo opened #142 "Desiderata for API reference/documentation pages"
#### Description
In view of the upcoming v0.1.4 release, it is worth having a discussion on worthwhile improvements to our current documentation pages, as well to our approach to making and presenting documentation. Note that this thread is *not* meant for discussion on wording issues.

Below is a live list of ideas:
- [x] Include links to source code.
- [ ] Include figures in the "Examples" secti

[2020-01-01 15:58] ulupo opened #143 "giotto-tda and STUMPY"
#### Description
The [STUMPY](https://stumpy.readthedocs.io/en/latest/index.html) library contains high-performance (using Numba and/or Dask) code for calculating the so-called "matrix profile" of a time series. There is some overlap in both methods and intent between the calculation of the matrix profile and the pipeline going from a time series to a persistent homology computation via the Takens

[2020-01-01 17:09] ulupo opened #144 "VietorisRipsPersistence should allow for list of point clouds input"
#### Description
It is worth discussing whether `VietorisRipsPersistence` should allow list inputs to cover the case of point clouds of variable size. This change should be easy, and would not impact the current behaviour when the input is a three-dimensional ndarray.

A much more delicate question is whether we want to allow for padding to be deactivated, so that the output of `transform` can too

[2020-01-03 11:13] lewtun commented on #119
It seems that there were some new developments on the scikit-learn side regarding `check_is_fitted()`: https://github.com/scikit-learn/scikit-learn/issues/15845#issuecomment-568240856

In particular, bumping up to v0.22.1 now implies several of our unit tests fail with

As a result, it might be safer to use explicit version numbers (i.e. `==` instead of `>=`) to avoid unexpected behaviour.

[2020-01-03 11:21] lewtun commented on #132
@matteocao suggests we either look into helping the python-igraph team build the wheels for Windows or include the project as a submodule in giotto-learn, compile from source, and create our own bindings for the necessary igraph classes / functions.

[2020-01-06 09:18] ulupo commented on #119
Unless I misunderstood, it looks like we *must* update master with @lewtun's suggested change for the time being, and implement a solution compatible with v0.22.1 (and retrocompatible, albeit with warnings) as part of e.g. (#137).

[2020-01-06 10:38] ulupo commented on #132
At least for the time being, and thanks to the fix in 13b2ea1e63fd72d5f3dba690b4f6fc5998329934, we might like to automate the installation of python-igraph for developer users, by modifying `setup.py` appropriately. One point is that Windows users might not have `wget` installed. In this case we might want to simply throw an informative error message about this.

[2020-01-06 10:40] ulupo commented on #127
Perhaps cloning of the pipeline, as advocated in (#126) for the interactive case, should also be done in the static case.

[2020-01-06 17:19] ulupo commented on #82
Are you also suggesting that `azure-pipelines.yml` should be placed in `.azure-ci` in the process?

[2020-01-06 17:21] gtauzin commented on #82
No, I think it has to be inisde the root repository.

[2020-01-06 17:22] gtauzin commented on #82
But it also probably apply to the `tools` folder as well.

[2020-01-06 19:50] empet opened #147 "Mapper - import from inexistent sklearn.cluster._hierarchical"
I wanted to try out giotto mapper  running `Christmas-Mapper.ipynb`,  but when I installed `giotto-learn-nightly` `scikit-learn` was upgraded to 0.22.1, and this new version has changed `sklearn.cluster._hierarchical`  to `sklearn.cluster._hierarchical_fast` (see [https://github.com/scikit-learn/scikit-learn/tree/master/sklearn/cluster](https://github.com/scikit-learn/scikit-learn/tree/master/skle

[2020-01-07 09:04] ulupo commented on #82
Ok, perhaps we can just rename `azure-pipelines.yml` to `_azure-pipelines.yml` to at least show intent. Thanks for pointing out about `tools` too.

[2020-01-07 09:12] gtauzin commented on #82
`azure-pipelines.yml` is a very standard name and it is probably necessary to keep it so that it is recognized by GitHub as a CI file for example. Adding a `.` means hidding in bash while adding an `_` only hides a method within a Python context. I would keep `azure_pipeline.yml` as it is.

[2020-01-07 09:18] gtauzin commented on #115
@lewtun This is not a solution to the problem, this will merely fix it for this specific user.

@torlarse You need to set up environmental variables (BOOST_ROOT, BOOST_INCLUDEDIR, BOOST_LIBRARYDIR) telling CMake where your Boost root, include, and lib directories are located. For more information, please have a look here:
https://cmake.org/cmake/help/v3.9/module/FindBoost.html

[2020-01-07 09:49] ulupo commented on #82
Fine with me to keep `azure_pipeline.yml`.  Although apparently its name can be changed without breaking the CI, it is the default naming convention and users might like to use it in their own fork. Just for the record, it does seem that GitHub has some sort of convention on leading underscores, even if just to show intent: see e.g. the `_config.yml` file which was automatically created by GitHub

[2020-01-07 10:06] ulupo commented on #139
For what it's worth, the text of the AGPL v3 licence weakly recommends in favour of some copyright/licence notice in each file, see under Section 17 in https://choosealicense.com/licenses/agpl-3.0/.

[2020-01-07 11:14] ulupo commented on #147
Thanks for reporting this. My interpretation of this is that `sklearn.cluster._hierarchical.py` was renamed into `sklearn.cluster._agglomerative.py` in https://github.com/scikit-learn/scikit-learn/commit/13134a884b92f8c601162ce4f125c2fc17c6ed4a#diff-c8cbdf7d129a8f31f599de9d66a06b39. A fix for the time being to simply copy the newest scikit-learn implementation without importing hidden modules (whi

[2020-01-07 11:52] MonkeyBreaker commented on #136
Hi @MINIMALaq,
Sorry for the late answer, I was on holiday till yesterday.
Could you give me the results of the following command:
`sudo pip3 --version`

Then you can run `sudo pip3 install --upgrade pip` and finally try again to intall `giotto-learn`:
`sudo pip3 install -U giotto-learn`

If this resolves the problem, seems that the default version of `pip3` installed with Ubuntu 16.04, 18.04, 19.

[2020-01-07 12:04] holmbuar commented on #115
@gtauzin thanks for the feedback. I agree that it might be difficult to fix once and for all. Perhaps my intent was to alert you to the possibility of demotivating future users/ contributors. I had never heard of Boost until I tried installing Giotto from source, and struggled quite a bit before being able to complete installation.

[2020-01-07 12:15] gtauzin commented on #115
@torlarse. You're welcome. Boost is indeed a really big dependency that we would be happy to get rid of. The problem is that it is needed in some of the C++ software we rely on.

Users can go around this issue by installing the library using binary "wheels" pre compiled for their system, but aspiring contributors need to go through the definition of environmental variables for CMake to find depend

[2020-01-07 14:05] ulupo commented on #136
Perhaps we should ensure a sufficiently recent version of `pip` is installed by adding an entry to `Requirements.txt`?

[2020-01-07 14:24] reds-heig commented on #136
Well you can update pip when using requirements.txt, but it'll be necessary to test if the following steps (after pip's actions) uses the upgraded version of pip or it continues using the "original" version.

Otherwise, in a Q&A or a troubleshooting document, the user could fix the problem by himself.
I don't know what could be the best approach.

Julián

[2020-01-07 15:50] holmbuar opened #149 "Mapper / Scikit-learn error from precomputed clustering"
#### Description
I have a point cloud of 1920 nine-dimensional points. When applying Mapper with `DBSCAN` clustering as in the Christmas Santa notebook everything works fine. When I apply my own clustering algoritm with a precomputed distance matrix I get an error. Using Kepler Mapper I make this work by setting the parameter `precomputed=True` when calling `mapper.map()`.

PS! I used the color fu

[2020-01-07 16:42] ulupo commented on #149
Hey @torlarse, thanks for the detailed report, and for including the gist which is extremely helpful. Thanks also for powering through despite the lack of complete documentation at this pre-release stage. If I understood your example correctly, the short answer is that you should *not* pass `affinity='precomputed'` -- in fact, you can get away with not passing `affinity` at all since the scikit-le

[2020-01-07 17:15] holmbuar commented on #149
@ulupo thanks so much for superfast response! I hope to gain more insight in your code with time.

I need to use something Gunnar Carlsson calls *Variance Normalized Euclidean* distance as a clustering metric. This means taking Euclidean distance *after* dividing the columns in the dataset with the column variance. The only feasible way I figured how to solve that was to precompute a distance matr

[2020-01-07 18:20] Zenilos commented on #136
Thank you @MonkeyBreaker.
It works after updating pip3 both in ubuntu 19.10 and ubuntu 16.04.

[2020-01-07 20:50] ulupo commented on #149
@torlarse, thanks for the feedback which is extremely useful for our development. I now understand your question and needs I think! In fact, here's a possible solution: generalise the long bottom arrow in my diagram, which is currently restricted to be the identity function. Actually this would only require a very small intervention in the definition of `make_mapper_pipeline` (which is already bei

[2020-01-07 21:51] flamby opened #150 "huge memory needs of TakensEmbedding if n_jobs=-1. Any mitigation?"
Hello,

I realized that TakensEmbedding memory needs with more than 10k rows is quite huge (up to 96GB of RAM in my case) if `n_jobs=-1` and one have lots of cores (10 cores in my case).

Is there another way to mitigate this than `n_jobs=1` for instance, or plan to do so? For instance with batching with [dask](https://dask.org/).

Thanks and keep the good work!

[2020-01-08 07:00] reds-heig commented on #136
Great !
Thank you for the Feedback.

Julián

[2020-01-08 11:01] ulupo commented on #149
@torlarse, does this allow you to obtain the desired results and workflow?

[2020-01-08 11:03] ulupo commented on #136
Reopening this so we can keep discussing a possible enhancement of the installation experience, perhaps via checks made in `setup.py`.

[2020-01-08 11:10] ulupo opened #151 "Refactor giotto.mapper.cluster to avoid relying on hidden scikit-learn modules"
#### Description
We cannot rely on hidden scikit-learn modules in `giotto.mapper.cluster`. For instance, `sklearn.cluster._hierarchical` was renamed to `sklearn.cluster._agglomerative` in going from v0.22.0 to v0.22.1, causing (#147). A temporary fix is implemented in 02fc6c1 (#137), but only consists in explicit scikit-learn version handling and is not maintainable. We should aim to refactor the

[2020-01-08 15:26] holmbuar commented on #149
@ulupo thanks so much for the assistance, it seems to be working at least for a cover of 100 2-cubes. The edge case I am bumping into now is
[code]
The above `Scikit-learn` error code is the result of a partitioning the plane of two PCA component axes with 30^2 = 900 2-cubes. Necessarily there will be a lot of empty cubes and cubes with only 1 sample.

The error arises in the source code of Scikit

[2020-01-08 15:39] ulupo commented on #149
Thanks again, @torlarse. There are two ways to resolve this further point in my mind:
-  Treat this behaviour as a desirable feature of our implementation: here the point of view would be that each pullback cover set should be fitted with the specified clusterer *exactly* as specified by the clusterer. With this view, if scikit-learn's `AgglomerativeClustering` throws an error on singletons, we *w

[2020-01-08 15:42] holmbuar commented on #149
I'll look into everything you say 👍

[2020-01-08 15:47] ulupo commented on #149
I'm not sure I understand your comment:

My view is that this is indeed one point *from* your point cloud, why do you say it is the entire one, flattened?

[2020-01-08 16:04] holmbuar commented on #149
My original point cloud is 1920 nine-dimensional points. When debugging in the mentioned files I saw an 1-dimensional array with 1920 points Without thorough checking I just assumed that it was my point cloud. Unless the array was a distance matrix, then my bad. I am in unfamiliar terrain now, sorry

[2020-01-08 16:16] ulupo commented on #149
To reproduce, should I just re-run the same gist I sent you above?

[2020-01-08 16:19] holmbuar commented on #149
I believe so, if you can load the `point_cloud.csv` file from my gist?

[2020-01-08 16:40] ulupo commented on #149
Ok, I went through it. I can't quite reproduce. I.e., my `ValueError` message is
[code]
This makes sense for a point cloud in 9 dimensions. The shape in the error message you reported would suggest a serious bug in our code, however. So I'm not sure how to reproduce exactly what you had there.

UPDATE: Your shape could be explained by passing the distance matrix instead of the point cloud. But thi

[2020-01-08 16:51] holmbuar commented on #149
sorry, your observation is spot on. I had been juggling a notebook and the python file, also testing precomputed metric passing the distance matrix. After I pass the point cloud itself to the graph pipeline I got the same error code as you. User error.

[2020-01-08 16:53] ulupo commented on #149
Ok, thanks for double checking!

[2020-01-08 17:54] ulupo commented on #150
Thanks @flamby. Could you provide us with a setup and steps to reproduce as faithully as possible? We are currently studying options for mitigating this and other performance bottlenecks for v0.1.5.

[2020-01-08 20:45] lewtun opened #152 "Add examples to docstring of `create_static_network()`"
* Beside the simple stuff, also Include example showing that color_variable can be filter_func.
* Examine whether we can add images to Sphinx docs to show expected output

[2020-01-09 13:19] flamby commented on #150
Hi @ulupo

Sure. Here it is :

[code]

On a 12 cores server, I see memory usage up to 65GB.

Using `n_jobs=1` fix the issue, and I must confess that the duration is not an order of magnitude lower.
`n_jobs=2` requires around 16GB of RAM.

I opened the issue mainly because it took me 2 or 3 freeze of my laptop OS before figuring out it was an _oom_ issue (macOS catalina) running on a MBP w/ 16GB RA

[2020-01-09 14:07] ulupo opened #153 "Add wheels and CI for Python 3.8"
#### Description
As per title.

[2020-01-10 08:40] ulupo commented on #149
Hi again @torlarse, just wanted to make sure a small thing was clear. When running my gist above (although what follows was also true in your earlier version), the PCA step is applied to the *unnormalised* data -- whereas, as we discussed already, the clustering is done using the Variance Normalized Euclidean distance as you required. Is this your desired behaviour? The alternative would have been

[2020-01-10 10:05] holmbuar commented on #149
@ulupo , I sincerely appreciate your scrutiny of my code. I am trying to faithfully reproduce the work of Carlsson and Gabrielsson in [1]. In another file or module I mean-center and normalize the point cloud of 6400 nine-dimensional points before applying a specific density filtration. This is not shown in my gist, but should be implemented in the `point_cloud.csv` if I have done things correctly

[2020-01-11 11:34] holmbuar opened #156 "Bottleneck module not found"
#### Description
When trying to run `Classyfing_shapes.ipynb` from the `examples/` directory, Python trows an error on running the first cell. Other notebooks works fine, for example the Christmas Mapper one. I have installed Giotto with `pip install giotto-learn` in addition to have a local fork of the source code. The fork is up to date with upstream. I get same error running in a local folder a

[2020-01-11 14:22] lewtun commented on #156
@torlarse thanks a lot for raising this issue! We should have caught such errors with our CI so I'll check if I can reproduce it

[2020-01-11 14:56] lewtun commented on #156
i can't seem to reproduce the error, possibly because i am not repeating the same steps as you have.

i ran the following steps in a fresh conda environment on Windows 10:
[code]
i then cloned the giotto-learn repo with
[code]
spun up a jupyter notebook
[code]
and then navigated to the `examples/` directory. from here i was able to run the first cell without an error being thrown.

since the trace

[2020-01-11 16:21] holmbuar commented on #156
@lewtun yes I have installed both versions in the same python environment. It did not occur to me then, but I realize it might have been a silly move.

[2020-01-11 16:25] lewtun commented on #156
indeed that might be the problem :)

please let me know if the problem remains on a clean install. in the meantime, i'll open an issue to improve the docs regarding potentials conflicts with a dual install.

[2020-01-11 16:27] holmbuar commented on #156
It seems you prefer Conda environments over the regular Python/pip version? May I ask why?

[2020-01-11 16:29] lewtun opened #157 "Improve install instructions in README"
As reported in #156, there can be problems importing the giotto-learn modules if _both_ the PyPi package and the repository are installed in the same environment. In other words only one of the following should be recommended:

[code]

or

[code]

Proposal is to tweak the README to warn users about these side effects.

[2020-01-11 16:34] lewtun opened #158 "Standardise file names of notebooks in examples"
We currently have an inconsistent filename convention in `examples/` -- e.g. `Classifying_shapes.ipynb` vs 'Mapper Quickstart.ipynb`.

Proposal: Name every notebook in snakecase _or_ with capitalised words + whitespace.

[2020-01-11 16:38] lewtun commented on #156
for standard usage of the library, `pip` and e.g. `virtualenv` should be perfectly fine.

the main reason  we use anaconda is because it can also install non-Python libraries like `cmake` and `boost` which we need for development.

[2020-01-11 17:32] holmbuar commented on #156
aha, I did not know Conda could do that, thanks for the tip!

[2020-01-11 21:03] holmbuar commented on #156
Problem solved after deleting the source files and all existing envs. Also installed conda, the notebook runs just fine in a conda env 🙂

[2020-01-11 21:10] lewtun commented on #156
Great to hear! Closing the issue now since the problem seems to be resolved

[2020-01-11 21:10] #156 closed, assigned to lewtun

[2020-01-12 08:59] lewtun opened #159 "Refactor plotting functions to match scikit-learn API"
#### Description

scikit-learn now includes a [plotting API](https://scikit-learn.org/stable/visualizations.html#visualizations) to visualise metrics like the confusion matrix or ROC curves:

* The API is based around a plotting function `plot_metric_name(estimator, X, y, ...)` that returns a `MetricNameDisplay()` object that stores computed quantities as attributes.
* `matplotlib` is used to visu

[2020-01-12 10:41] lewtun opened #160 "Drop support for Python 3.5"
#### Description

Consider dropping support for Python 3.5 due to a) low usage and b) enable use of f-strings (https://www.python.org/dev/peps/pep-0498/) which are less error-prone and _faster_ at runtime.

From the plot "Daily Download Proportions of giotto-learn package - Python Minor" on PyPi's [stats](https://pypistats.org/packages/giotto-learn), it is evident that python 3.5 usage is hovering

[2020-01-12 10:52] lewtun commented on #139
True, but following their advice actually entails including significantly _more_ text:
[code]
Perhaps it's possible to setup a git hook that automagically adds this text to each source file that is modified during a commit? Jupyter notebooks in `examples/` should be excluded as that would be very ugly to implement in the metadata.

I still feel this is overkill and a burden on the maintainers - is

[2020-01-12 10:54] lewtun commented on #149
@torlarse would you say that this issue is now resolved?

[2020-01-12 11:20] holmbuar commented on #149
@lewtun thanks for the reminder. Yes the issue is resolved.

[2020-01-12 11:22] ulupo commented on #149
Thanks @torlarse! @lewtun, let's remember to add the most promising ideas for enhancements arising from this discussion to the development backlog. Then, I'll be happy to close the issue.

[2020-01-12 11:27] holmbuar commented on #157
I also suggest a clear and explained recommendation for using Conda when installing from source. I chose not to use Conda because I preferred pip/pyenv. I did not realize the benefits of having isolated Cmake and Boost environments by using Conda. Certainly I was not aware of the potential Boost/ Cmake rabbit hole on Windows.

[2020-01-13 10:26] flamby opened #163 "for non-AVX CPU : giotto-learn manual compilation failure"
Hi,

As pre-built wheels (I tested python 3.7) core dump on non-AVX CPU (Intel E5645), I tried to compile giotto-learn, and raised some error related to header dependencies unavailable that I don't know how to fix :

[code]

These are the packages I had to install on my ubuntu 19.10 (up-to-date):
`apt install python3-pybind11 libboost-dev libboost-tools-dev`

I try to compile giotto-learn for a vi

[2020-01-13 10:26] #157 closed, assigned to lewtun

[2020-01-13 10:29] lewtun opened #164 "Add functionality to save Mapper graph"
#### Description

It would be useful if the output from the static mapper graph could be saved to disk.  Since we currently return a Plotly Figure object, it should be straight forward to save using Plotly's approach: https://plot.ly/python/static-image-export/

Adding this functionality suggests that a class instead of a function may be a better design for the plotting functionality. See also #15

[2020-01-13 12:04] MonkeyBreaker commented on #163
Hi,

Seems that `gudhi-devel` is missing.
If you try to first run this command : `git submodule update --init` and then try to build again, does it work ?

Julián

[2020-01-13 12:31] flamby commented on #163
Hi @MonkeyBreaker,

You've put me on the good track, since I lazely downloaded the v0.1.3 zip from github, hence the git submodule failed due to lack of .git folder.

With the latest git master branch, I was able to compile it successfully, but still get a core dump once loading the homology module :
[code]
Since I've never had to debug such things in python, do you have any guidance to produce a

[2020-01-13 12:40] flamby commented on #163
Forget my last comment. I faced the [issue 157](https://github.com/giotto-ai/giotto-learn/issues/157) described by @lewtun . Hopefully, it has been commited 2 hours ago, so I discovered it.

Once deleted all giotto packages under site-packages, then re-installing them using `python setup.py install`, the faulty import does not crash anymore!

Thanks again.

Closing then.

[2020-01-13 12:40] #163 closed, assigned to MonkeyBreaker, lewtun, ulupo

[2020-01-13 12:49] MonkeyBreaker commented on #163
Hi @flamby,

Thank you for the feedback !

@ulupo also mention about the submodules on the contribution part in the README file ?

Julián

[2020-01-13 15:55] wreise opened #165 "Mapper testing error with contributor installation options"
#### Description

`ModuleNotFoundError: No module named 'hypothesis'`, on 3 mapper tests (`test_filter`, `test_cover`, `test_nerve`), when running `pytest giotto`.

#### Steps/Code to Reproduce

I have installed Giotto-learn, following the *Developer* installation steps:
[code]
On the other hand, import giotto` succeeds.

#### Expected Results
Tests passed, without ModuleNotFoundErrors.

#### Actu

[2020-01-13 17:26] lewtun commented on #165
Thanks @wreise! The problem is due to the fact that our editable install does not include the test suites - I've fixed that in a new PR #166

[2020-01-13 18:52] holmbuar opened #167 "Memory error running 3 dimensions persistence computation"
#### Description
Memory error when running 3 homology dimensions persistence calculation. 2 first dimensions work ok.

#### Steps/Code to Reproduce
Load a dataset of 1920 9-dimensional points, compute 3 first components of PCA. Run a persistence computation for dimensions on `(0, 1, 2)` on a Jupyter notebook copied from the classifying shapes notebook.

#### Expected Results
Persistence diagrams f

[2020-01-14 07:36] lewtun commented on #167
thanks @torlarse! i'll see if i can reproduce the error and get back to you soon

[2020-01-14 14:48] holmbuar commented on #130
As discussed on Slack, I would like to see a feature that somehow forces the minimum number of samples in a node. Intent is to reduce what could be regarded as noise. E.g hundreds of nodes with 1 or so samples in each, potentially obscuring the topology of a point cloud with thousands of higher-dimensional points.

[2020-01-14 14:54] holmbuar opened #168 "Dev installation fail within Conda env"
#### Description
Pip installation of source fails. I used to have both `pypip` version and dev installed in the same `pyenv`. These envs are now deleted.

#### Steps/Code to Reproduce
Create a new Conda env with Python 3.7, install Cmake and Boost as described in Readme. Clone Giotto-learn from Github. `pip install --log 'mylogfile.txt' -e .` from directory.

#### Expected Results
Completed instal

[2020-01-14 15:06] ulupo commented on #168
Thanks @torlarse! Well spotted. This issue is likely to be one which is known and appeared less than 10 days ago as `pybind11` received an update which broke our Windows dev install and wheels. The issue has just been fixed in 3256628 and is soon to be pushed to master along with a host of updates coming from (#137). Pleas let us known again after that PR is merged.

[2020-01-14 15:08] holmbuar commented on #168
nice! Thanks for being so service minded 😀

[2020-01-14 16:00] reds-heig commented on #168
@ulupo after looking to the [error](https://gist.github.com/torlarse/52fd212fd7c62cd558434e0c0b597002#file-pip_giotto_dev_fail-txt-L2192)

The error message `error C4596: 'difference_type': illegal qualified name in member declaration [C:\Users\teril\Documents\Github\giotto-learn\build\temp.win-amd64-3.7\Release\giotto_wasserstein.vcxproj]` is the first time I encounter it.
Not sure it's related t

[2020-01-14 18:19] holmbuar commented on #168
@reds-heig I wish I knew for sure, but i dont write any C++ code. The Visual studio installer *installation details* shows MSVC v142. There are other tools not included like .NET tools and such. I have a screenshot but cant upload them here?

EDIT: I uploaded a screen shot via Firefox Send
https://send.firefox.com/download/7b7eb4c4160903fb/#JvVWaTRWYYxiljeOGPsdPw

[2020-01-14 19:06] lewtun opened #169 "Implement wrapper to concatenate diverse filter functions"
The current procedure to concatenate filter functions in `MapperPipeline()` is to make use of scikit-learn's `FeatureUnion()` class, e.g.

[code]
This works provided:
* Each filter function is a transformer
* The resulting filter function values array has shape `(n_samples, n_features)`

It is conceivable that users will want to create and concatenate specialised filter functions, in which case we

[2020-01-15 07:13] reds-heig commented on #168
HI @torlarse ,

I explored a bit more about the error, I found out that this error is encountered due to boost and MSVC, see this [issue](https://github.com/boostorg/range/issues/66)

Your compiler version seems good to me, but which version of boost do you have installed ? (Check this [link](https://stackoverflow.com/a/13084616)
From our requirements you should have at least version `Boost >= 1.5

[2020-01-15 09:01] holmbuar commented on #168
Ok thanks for tracking down the error. I am using the `conda install -c anaconda boost ` routine as described in the Readme. It seems like the version is 1.71. I also notice that the `conda-forge` packages of Boost has way more downloads. Any idea why?

[2020-01-15 10:23] #165 closed, assigned to lewtun, ulupo

[2020-01-15 10:30] ulupo opened #170 "Broken windows dev installation due to pybind11 update"
#### Description
The changes to `FindPythonLibsNew.cmake` made by https://github.com/pybind/pybind11/commit/07e225932235ccb0db5271b0874d00f086f28423#diff-5d42889ea4f5ea3bb09df0d6cbeceff0 in `pybind11` breaks our Windows builds and dev installations. The issue was fixed temporarily in 3256628 by setting the submodule not to master but to the previous commit. This fix will be pushed to master via (#

[2020-01-16 06:42] lewtun opened #172 "Test Mapper graph layouts for varying number of dimensions"
#### Description

We currently use python-igraph's [layout](https://igraph.org/python/doc/igraph.Graph-class.html) capabilities to plot the resulting Mapper graph. We should check that our current logic does not throw an error for:

* Varying `layout` with `layout_dims` fixed.
* Varying `layout_dims` for `layout` fixed.

[2020-01-16 12:45] ulupo commented on #97
Fixed by (#137).

[2020-01-16 12:45] #97 closed, assigned to ulupo

[2020-01-16 12:47] ulupo commented on #111
A first batch of unit tests written in hypothesis has been written and expanded in (#137). Closing as this is now more of an internal development guideline.

[2020-01-16 12:47] #111 closed, assigned to nobody

[2020-01-16 12:48] ulupo commented on #120
Fixed in (#137).

[2020-01-16 12:48] #120 closed, assigned to lewtun, ulupo

[2020-01-16 12:49] ulupo commented on #121
Fixed by (#137).

[2020-01-16 12:49] #121 closed, assigned to lewtun, ulupo

[2020-01-16 12:52] ulupo commented on #122
Absolute imports remain in test folders and in the `plotting.py` script. Only relative imports are used in the core as of (#137). Closing the issue.

[2020-01-16 12:52] #122 closed, assigned to lewtun, ulupo

[2020-01-16 12:53] ulupo commented on #127
Fixed (in both static and interactive case) by (#137).

[2020-01-16 12:53] #127 closed, assigned to lewtun, ulupo

[2020-01-16 12:54] ulupo commented on #128
Fixed by (#137). Quantities of interests can be external arrays or even transformers acting on data, amongst other things.

[2020-01-16 12:54] #128 closed, assigned to lewtun, ulupo

[2020-01-16 12:56] ulupo commented on #125
The original issue was fixed by (#137) for the Mapper module. But the rest of the library still needs to be looked at systematically.

[2020-01-16 12:57] ulupo commented on #123
Fixed by (#137) and (#173).

[2020-01-16 12:57] #123 closed, assigned to ulupo

[2020-01-16 13:04] ulupo commented on #132
A solution was introduced by 5025215 as part of (#137), but a more ideal solution would require waiting for the core python-igraph team to refactor their C core, python bindings and CI for building cross-platform wheels. As far as we know from igraph/python-igraph#266, this is proceeding at good pace.

[2020-01-16 13:06] ulupo commented on #139
After internal discussion, the one-liner solution we currently adopt was considered adequate for now. It was enforced everywhere by (#137). It remains a possibility to include a copyright line in future, but I'm closing the issue for now.

[2020-01-16 13:06] #139 closed, assigned to lewtun, matteocao, ulupo

[2020-01-16 13:07] ulupo commented on #147
Fixed by (#137).

[2020-01-16 13:07] #147 closed, assigned to ulupo

[2020-01-16 13:58] ulupo commented on #153
Fixed by (#137).

[2020-01-16 13:58] #153 closed, assigned to lewtun, ulupo

[2020-01-16 14:00] ulupo commented on #158
Fixed by (#137), using snake_case.

[2020-01-16 14:00] #158 closed, assigned to lewtun, ulupo

[2020-01-16 14:04] ulupo commented on #169
Fixed by (#137).

[2020-01-16 14:04] #169 closed, assigned to lewtun

[2020-01-17 10:30] lewtun opened #174 "Raise test coverage above 90% for giotto/diagrams/_metrics.py"
Current test coverage from pytest is 79%

[2020-01-17 10:35] lewtun opened #175 "Raise test coverage above 90% for giotto/diagrams/_utils.py"
Current test coverage from pytest is 86%

[2020-01-17 10:36] lewtun opened #176 "Raise test coverage above 90% for gtda/diagrams/features.py"
Current test coverage from pytest is 84%

[2020-01-17 10:40] lewtun opened #177 "Raise test coverage above 90% for gtda/mapper/cluster.py"
Current test coverage from pytest is 57%

[2020-01-17 10:42] lewtun opened #178 "Raise test coverage above 90% for giotto/mapper/cover.py"
Current test coverage from pytest is 57%

[2020-01-17 13:03] lewtun opened #180 "Raise test coverage above 90% for giotto/mapper/utils/_cluster.py"
Current test coverage from pytest is 19%

[2020-01-17 13:07] gtauzin commented on #174
The points was not to do direct unit testing on utils function or more generally on functions from hidden files `_name.py` to avoid redundancy. But only unit test transformers.

For example testing the `_heat` function in `_metrics_py` or testing `HeatKernel` from `features.py` is redundant.

[2020-01-17 13:13] lewtun commented on #174
Thanks! Will update the issues accordingly

[2020-01-17 13:14] #180 closed, assigned to nobody

[2020-01-17 13:15] #175 closed, assigned to nobody

[2020-01-17 13:15] #174 closed, assigned to nobody

[2020-01-17 13:31] lewtun opened #182 "Raise test coverage above 90% for gtda/mapper/visualization.py"
Current test coverage from pytest is 10%

[2020-01-17 13:33] lewtun opened #183 "Raise test coverage above 90% for giotto/time_series/features.py"
Current test coverage from pytest is 46%

[2020-01-17 13:34] lewtun opened #184 "Raise test coverage above 90% for giotto/time_series/preprocessing.py"
Current test coverage from pytest is 84%

[2020-01-17 13:49] lewtun opened #185 "Implement pre-commit hooks using the pre-commit framework"
We currently have a simple pre-commit hook in `tools/` to prevent local commits to master. However, this approach is

* A pain to extend with new hooks
* Does not work with GitKraken because it looks for hooks under `.git/hooks/`

A better alternative is to implement pre-commit hooks using the pre-commit framework: https://pre-commit.com/

To strengthen our development process, we would like to ha

[2020-01-17 16:48] ulupo commented on #168
Hey @torlarse! We just merged major changes ahead of the 0.1.4 release, hopefully on Monday. The README contains new instructions for Windows dev users. If you are curious, you can give the dev installation a fresh go and let us know how things work out.

[2020-01-20 09:07] wreise opened #193 "No non-trivial points fails to create HeatKernel features"
#### Description

The `giotto.diagrams.HeatKernel` method fails when all the points are the same. `giotto.diagrams.PersistenceEntropy`and `giotto.diagrams.PersistenceLandscape`do not suffer from the same phenomenon.

#### Steps/Code to [Reproduce]

[code]

#### Expected Results

A trivial feature, or, an error on `giotto.utils.validation.check_diagram`.

#### Actual Results

[traceback_no_pts_heat

[2020-01-20 14:44] wreise opened #194 "Incoherent documentation of giotto.diagram.Filtering"
#### Description

The wording in the documentation of giotto.diagram.Filtering class implies that the points which do not satisfy a requirement are removed (*Filtering a diagram means removing all points (...)*).

However, the true behavior is that these points are replaced by points on the diagonal.

#### Code
[code]

#### Actual Results

[code]

[2020-01-21 07:48] holmbuar commented on #168
Sorry no, it cant find my Cmake. Does the following traceback seem related to the relevant merge or something local on my machine?

Note that I have ditched Conda and have VS 2019 Cmake and local Boost installation.

[code]

[2020-01-21 08:14] ulupo commented on #168
Hi again! I see, I forgot to mention that our solution was only tested on a Python installation made via Anaconda. Here it looks like you only have the bare bones Python installation. It would be interesting to see if we can have an even more robust fix to cover this case in the future, but can I ask you for now to (uninstall Python and) install Anaconda Python from https://www.anaconda.com/distri

[2020-01-21 08:21] holmbuar commented on #168
Hello there, since the Anaconda environment gave an installation error I decided to uninstall and go back to local Boost and local Cmake. That maneuver itself came with its own worries, Cmake insisted for a long time that the `version.hpp` file was located in the deleted Anaconda boost install. Phew...

[2020-01-21 08:39] wreise opened #199 "Expose giotto.diagrams._metrics in the Transformers from giotto.diagrams.features"
#### Description

The functions which compute distances are hidden in `giotto.diagrams._metrics`.
1. Recomputation of features: the only way to compute distances between a pair of features from diagrams, is to use the PairwiseDistances transformer, which recomputes the features and only outputs the distance.
2. One cannot access the intermediate results from a pipeline which has `PairwiseDistances

[2020-01-21 08:39] ulupo commented on #168
To be even clearer: we are advocating an approach where Anaconda (and hence Python via Anaconda) is installed, *but* CMake and Boost are installed manually as explained in the README. Or am I missing something?

[2020-01-21 08:53] holmbuar commented on #168
Sorry for not being clear, I have struggled quite a bit on this. I'll try to sum up my attempts:
- Installed local Cmake and Boost, using python venv, made Giotto dev work by modifying `CmakeLists.txt`.
- Installed Miniconda with Cmake and Boost as recommended using Conda envs. Did not work.
- Uninstalled Miniconda and corresponding Conda envs
- Reinstalled VS 2019 with Cmake, reinstalled local Bo

[2020-01-21 09:10] reds-heig commented on #168
Hi @torlarse,

About cmake, I tried as you to install the one from Visual Studio (when installing the packages). But as you, It cannot find `cmake` when running `pip install -e .`.

In order to be able to use `cmake`, seems that is necessary to download it and install from [https://cmake.org/download/](https://cmake.org/download/). Take `cmake-3.16.2-win64-x64.msi` or the 32-bit version if you wor

[2020-01-21 09:12] reds-heig commented on #168
@ulupo what do you mean? If it should work without Anaconda and using a "classic" python installation on a windows System ?

Julián

[2020-01-21 09:18] holmbuar commented on #168
@reds-heig Thanks for the tip, I will eventually try reinstalling the ""native"" Cmake.

For the record I successfully installed Boost on a Ubuntu Linux subsystem on Windows following this procedure [here](https://onethinglab.com/2019/01/30/how-to-install-latest-boost-library-on-ubuntu/). It seems to be quite more to it than the `sudo apt install boost` instruction in the README.

[2020-01-21 09:40] reds-heig commented on #168
@torlarse

We'll have a look on the `boost` procedure for Ubuntu. But the big difference from the method you describe and the `apt-get` solution. Is that your solution will always have latest release from `boost` the `apt-get` solution won't necessarily be at the latest release.

We need to find out what would be the best approach.

Have a nice day,
Julián

[2020-01-21 10:36] ulupo commented on #168
@reds-heig yes I meant whether we carefully tested on Python bare bone installations, i.e. not made by Anaconda. I know I never did locally on my Windows or macOS machines. Our `azure_pipelines.yml` presumably do not need Anaconda, but to be sure we would need to inspect what is going on in `- task: UsePythonVersion@0`: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-

[2020-01-21 10:49] lewtun opened #200 "Create wiki with details on how the Azure pipelines are configured"
Currently the team's knowledge on how the Azure pipelines are configured and how to setup nightly builds, releases etc resides in the minds of a few.

The purpose of this story is to bring some transparency on how we setup and run the pipelines so that newcomers to the project are not mystified.

Ides to include in the wiki:

* How to toggle the nightly build
* How to bump a new version on PyPi
*

[2020-01-21 14:40] lewtun commented on #164
As pointed out by @ulupo, users currently _can_ save a PNG export of the Mapper graphs by using the Plotly interface - i.e. clicking on the "photo" button in the resulting plot.

Should we keep this issue open or close for now?

[2020-01-21 22:32] ulupo commented on #136
Closing this as we now recommend upgrading `pip` and `setuptools` in `README.rst`.

[2020-01-21 22:32] #136 closed, assigned to ulupo

[2020-01-21 22:35] ulupo commented on #132
Windows wheels are now available: https://github.com/igraph/python-igraph/issues/266#issuecomment-576043517. As there was no sufficient time to test their integration for v0.1.4, integrating them is now pushed to v0.1.5. Closing this and opening a more on-point issue for that release.

[2020-01-21 22:35] #132 closed, assigned to lewtun, ulupo

[2020-01-21 22:38] ulupo opened #206 "Integrate official python-igraph wheels"
#### Description
Currently, we distribute unofficial wheels for the `python-igraph` dependency, see https://github.com/giotto-ai/giotto-tda/blob/0b6ac12d508f677f2564a21496d89596bf6abf87/setup.py#L52. As of very recently https://github.com/igraph/python-igraph/issues/266#issuecomment-576043517, "official" wheels should be available. Hence, we should review our requirement installation procedure in

[2020-01-21 22:41] ulupo commented on #119
This is now fixed, and we accept to have warnings on scikit-learn v0.22.0 while being silent and compatible with v0.22.1.

[2020-01-21 22:41] #119 closed, assigned to gtauzin, lewtun, matteocao, ulupo

[2020-01-21 22:57] ulupo commented on #130
I had originally missed an obvious point: of course, `FirstHistogramGap` *already* accepts a parameter `freq_threshold`, which when pushed up might help avoiding these situations. But this is not as easily interpretable as solutions based on capping the maximum number of clusters -- dually, as @torlarse suggests, the minimum numbers of samples per cluster.

[2020-01-22 00:16] ulupo opened #208 "CI - `pip install cmake` fails on manylinux2010 docker image in python 3.8 after upgrade to pip>=20.0.0"
#### Description
Our CI has been badly affected by the 20.0.0 and 20.0.1 releases of `pip` made on 21 January 2020. In python 3.8 and on the manylinus2010 docker image, it seems that upgrading to the latest version of `pip`, as is done in https://github.com/giotto-ai/giotto-tda/blob/0b6ac12d508f677f2564a21496d89596bf6abf87/azure-ci/docker_scripts.sh#L8, leads to failure in installing `cmake` via `

[2020-01-22 11:39] holmbuar commented on #129
I support this. My use case is a point cloud of 3 x 3 arrays, each representing a 9-vector of grayscale pixels. I would like to see e.g the the "mean value pixel" when hovering over a node in the Mapper complex. This pixel would be e.g. a precomputed array and passed to visualization.

I have been working on this as a custom tooltip in Kepler Mapper issue number 186 but got tripped up by a HTML li

[2020-01-22 12:44] nphilou commented on #208
Sounds related to https://github.com/pypa/pip/issues/7629

[2020-01-22 13:58] lewtun commented on #152
Resolved by #137

[2020-01-22 15:24] ulupo commented on #152
In what sense was this resolved?

[2020-01-22 15:26] lewtun commented on #152
Ah sorry, I got mixed up between the `make_mapper_pipeline` docstring. Indeed this is open.

[2020-01-23 10:03] #82 closed, assigned to matteocao, ulupo

[2020-01-23 19:11] wreise opened #221 "Invalid range of parameters for the Labeller"
#### Description

Shouldn't the parameter range for the `percentile` parameter of `gtda.time_series.target:Labeller` be [0,100], not [0,1] ? The `percentile`parameter is then used by `np.percentile`, which accepts the so-named parameter in the range [0,100].

The `validate_params`method does not produce an error in this case - why?

#### Steps/Code to Reproduce

[code]

#### Expected Results

`Val

[2020-01-24 13:35] ulupo commented on #130
The now released v0.1.4 has introduced a parameter _max_fraction_ in both ``FirstSimpleGap`` and ``FirstHistogramGap`` which is aimed at giving the user control over the maximum number of clusters as a fraction of the number of points in each pullback cover set. This should be more robust and slightly more principled than a hard threshold. @torlarse, while it does not exactly implement what you as

[2020-01-24 16:24] wreise opened #227 "Discrepancy between fit + transform and fit_transform in edge cases for balanced OneDimensionalCover"
#### Description

Define `oneD = giotto.mapper.cover.OneDimensionalCover()`. For some sets of reasonable parameters, numerical issues lead to different results when applying `oneD.fit_transform(X)` and `oneD.fit(X).transform(X)`. An example can be found below.

#### Steps/Code to Reproduce

[code]

#### Expected Results

`mask_b == mask_a`

#### Actual Results

`mask_b != mask_a`
#### Versions
Dar

[2020-01-24 16:55] wreise commented on #227
With @ulupo , we figured out that we might rely on the implicit assumption that the first interval already does not contain the last point, while it can. (hence, the right limit of the first interval is already greater or equal to the max)

<img width="586" alt="image" src="https://user-images.githubusercontent.com/32167173/73087254-8b56d780-3ed2-11ea-845d-ed87a5b3390f.png">

[2020-01-25 10:04] holmbuar commented on #130
@ulupo thank you so much for keeping me informed. A first run with `FirstSimpleGap` sure looks like this works out fine. Great!

I just get an error message for the custom cluster metric, I will update the corresponding issue.

[2020-01-25 10:08] holmbuar commented on #149
@ulupo I am updating after testing release `0.1.4`.

As a reminder you kindly provided a work-around
[code]
This proceure now triggers the following traceback. Sorry for the long output.

[code]

[2020-01-25 10:11] ulupo commented on #149
Hi @torlarse, thanks for getting back! The hack is now no longer necessary as we have implemented the ``clustering_preprocessing`` step I mentioned above. See https://docs-tda.giotto.ai/generated/gtda.mapper.pipeline.make_mapper_pipeline.html and https://docs-tda.giotto.ai/mapper_pipeline.svg. Let me know if this helps!

[2020-01-25 10:49] holmbuar commented on #149
@ulupo wow, you guys are doing an awesome job.

[2020-01-27 10:25] #184 closed, assigned to wreise

[2020-01-27 14:47] wreise opened #233 "Implicit assumptions on the input to transformers in diagrams.features"
#### Description

**It seems that the vectorization methods in `gtda.diagrams.features` make some implicit assumptions about the properties of the input. Some are listed in this description and in the comments.**

For vectorization methods in `gtda.diagrams.features`, we consider only the homological dimensions that appear in the first 'sample'.

For example, suppose that the first topological spa

[2020-01-27 14:51] wreise commented on #233
In addition, in vectorizing the results for dimension 1, `gtda.diagrams._utils._subdiagrams` is called. It assumes that for a given dimension, all thee diagrams have the same number of points.

Hence, for the same variable `diagrams`, we can execute `gtda.diagrams._utils.subdiagrams(diagrams, [1])`.

- actual result: `[[[4, 6, 1]], [[2, 6, 1]]]`,
- expected result: `[[[4, 6, 1], [2, 6, 1]], [[]] ]

[2020-01-28 08:49] reds-heig commented on #170
After `pybind11` fix is integrated in the library.
In my opinion we can close this Issue.

Julián

[2020-01-30 09:39] ntamas commented on #206
The "official" wheels are not available yet (they are built in CI in Travis and Appveyor, but they are not on PyPI yet). We plan to release python-igraph 0.8.0 soon (now that igraph 0.8 has been released yesterday), and the wheels should be available together with the next release. Stay tuned and thank you for your patience :)

[2020-01-30 09:56] lewtun commented on #206
This is fantastic news @ntamas! Thank you very much for the great work you and igraph team have been doing recently - this enhancement will make life much, much simpler for our Windows users :)

[2020-01-30 12:44] ulupo commented on #206
Indeed, and thanks for paying us a visit to tell us :).

[2020-02-01 12:25] holmbuar commented on #167
The memory error seem to be persistent in the latest release (pun). This time it fails for samples with 1000 points e.g

[code]

[2020-02-03 08:21] lewtun commented on #167
thanks for the reminder @torlarse and sorry i have not addressed this issue yet ;(

we will try to have a look at this asap

[2020-02-03 10:17] lewtun opened #237 "Node size in tooltip does not match node_elements for FirstSimpleGap clusterer"
#### Description

As reported by Tor Larsen, the values shown for _Node size_ in the Mapper graph visualisation and those obtained by indexing into the `node_elements` attribute of `node_metadata` do not agree when `FirstSimpleGap` is chosen as the clusterer (DBSCAN works).

#### Steps/Code to Reproduce

Follow the Mapper quickstart notebook, but swap DBSCAN for
[code]
in Section 1.4. Minimal work

[2020-02-03 13:56] wreise commented on #237
[code]

Then,
```len(X_[89][3]) == 121```
```len(X[85][0][2]) == 121```
```len(X[89][0][2]) == 16```
So, it seems like you would like to information from `X` in `node_elements`, but you do have that from `X_`.
*Edit*: or the other way around

[2020-02-04 07:09] lewtun commented on #237
It I understand correctly, the problem lies in the construction of `X_`?

I personally find this functional approach extremely hard to debug, so would favour a refactoring to make it simpler ...

[2020-02-04 07:18] lewtun opened #241 "Interactive Mapper throws error with default value of node_color_statistic"
#### Description

Just before release 0.1.4 we replaced the default value of `node_color_statistic` from `np.mean` to `None` in `plot_interactive_mapper_graph()`. This appears to have introduced a bug in the resulting figure, where it renders when instantiated, but throws

[code]

when any of the pipeline parameters are tuned.

#### Steps/Code to Reproduce

Follow the Mapper quickstart notebook, n

[2020-02-04 07:22] lewtun commented on #241
Note that the error is not thrown if one passes `node_color_statistic=np.mean`, so the fix presumably lies making sure the callbacks are correctly updating this argument in the default case.

[2020-02-04 08:25] wreise commented on #241
It is fixed in PR #228.

[2020-02-04 13:42] ulupo commented on #237
I'm a little confused by the claim made here: we don't _know_ that the globally unique node ID for the node hovered on in the picture is indeed `89`.  All we know from the hover info is that this node comes from the `89`th pullback cover set. Now, _in the absence of filter cover sets with empty preimage_, this means the node belongs to the preimage of the `89`th filter cover set (say cover interva

[2020-02-04 13:51] ulupo commented on #237
An example to make this concrete: suppose the filter function maps to 1D and a cover with three overlapping interval is chosen. There are three cover sets, labelled `0`, `1` and `2` -- these numbers correspond to the `'pullback_cover_set'` metadata. Now, suppose only one cluster is found in the preimage of cover set `0`, and similarly for `2`, _but _ 2 clusters are found in the preimage of cover s

[2020-02-04 14:29] ulupo commented on #237
As (after double checking with Tor Larsen) this appears not to be a bug, I'm removing the label and closing this issue.

[2020-02-04 14:29] #237 closed, assigned to ulupo

[2020-02-05 16:55] ammedmar opened #245 "Missing theory of filtered cubical complexes in glossary"
#### Description
As #234 adds CubicalPeristence, the theory glossary should be appropriately updated to cover it.

The theory glossary is now located in doc/theory/glossary.tex as per #244.

[2020-02-05 17:59] wreise opened #246 "The listed available metric parameters do not change with respect to the metric chosen in PairwiseDistances."
#### Description

The list of available `metric_params` is static, and does not update, regardless of the choice of metric we make. To my mind, the  list should not be the same in `PairwiseDistance(metric)`, with
`metric='betti'` and `metric='heat'`.

#### Steps/Code to Reproduce

[code]
#### Expected Results

[code]

#### Actual Results

[code]
#### Versions
Darwin-19.2.0-x86_64-i386-64bit
Python

[2020-02-05 18:00] gtauzin commented on #246
utils/validation.py needs to be modified.

Can you take care of it?

[2020-02-05 18:07] wreise commented on #246
Yes, I  was just not sure that this is the desired behavior.

[2020-02-06 08:36] ulupo opened #248 "Make interactive Mapper graphs work in Google colab"
#### Description
This issue thread is for sharing ideas on how to make `plot_interactive_mapper_graph` work in Google colab notebooks. As @lewtun reported, this might need some interfacing with javascript as required by colab.

[2020-02-06 13:31] ulupo opened #250 "Theory page issues"
#### Description
This thread is for reports on issues/typos with the theory page, uploaded as a tex file by https://github.com/giotto-ai/giotto-tda/commit/7b4ead4bb04260eb1c6408195832e5e2bf3bb505. All welcome to participate!

[2020-02-06 13:33] marek094 commented on #250
There is a one-letter typo in the definition of _Persistence module morphism_ to commute with simplicial maps: F(t) \circ f_{st} = f_{st} \circ F(s).
(moreover, assuming that the f_{xy} are generic for both modules which may not always be the case :/)
_Persistence entropy_ --  missing L_{D} index in the where clause

[2020-02-06 13:52] marek094 opened #251 "Dependencies installation command for Ubuntu/Linux"
There is a wrong name for the Boost apt-get package in the [installation guide for Linux Developers](https://github.com/giotto-ai/giotto-tda#linux):
~`sudo apt-get install cmake boost`~
`sudo apt-get install cmake libboost-dev`

[2020-02-06 13:54] ulupo commented on #251
That's an embarrassing miss! Thanks for pointing it out.

[2020-02-06 16:30] #176 closed, assigned to wreise

[2020-02-07 11:23] #241 closed, assigned to nobody

[2020-02-07 11:24] #227 closed, assigned to nobody

[2020-02-07 11:44] rth opened #254 "Consider using sphinx-gallery for examples"
Opening this issue to consider using [sphinx-gallery](https://github.com/sphinx-gallery/sphinx-gallery) for examples as opposed to jupyter notebook. The basic format is .py files interlaced with .rst blocks for description, but once rendered corresponding notebooks are generated.

Several projects use it, including (scikit-learn, pytorch tutorials, matplotlib) and it would allow to address a numbe

[2020-02-07 11:53] rth commented on #142
Related discussion in #254

Both are indeed possible. Read The Docs is probably easiest to start start. With Github Pages one would typically use Circle CI to build the doc (and allow preview) and then push it to Github pages when merged: documentation versioning also needs to be manually managed in that case. Though maybe there is now a better way to do it with Github Actions, not sure.

[2020-02-07 12:35] wreise opened #255 "Coverage figures not consistent with local runs"
#### Description

The coverage figures for tests run local and in CI are not consistent. Follow up on #229 ?

#### Steps/Code to Reproduce
Locally:
[code]
#### Expected Results

Consistent results.

#### Actual Results

 Coverage local:  94%, on CI 83%

[2020-02-07 12:37] #178 closed, assigned to nobody

[2020-02-07 12:37] #183 closed, assigned to wreise

[2020-02-07 13:21] #255 closed, assigned to wreise

[2020-02-07 13:23] rth commented on #251
Also when building from sources with pip, in the dependencies python-igraph installation failed for me due to,
[code]
so I think adding `lxml2-dev` to the list might also be useful.

[2020-02-07 13:31] ulupo commented on #251
Thanks @rth. Indeed, our Azure CI has the following line to deal with the `python-igraph` dependencies:
[code]
This issue comes from the fact that the `python-igraph` team have not yet built wheels for linux and macOS, and the `igraph` C core needs to be compiled before `python-igraph` can be installed. Following @lewtun's issue https://github.com/igraph/python-igraph/issues/266, it seems they are

[2020-02-07 13:32] rth opened #256 "Internal modules exposed at top level during install."
When building inplace with,
[code]
I can see that all extension modules are built in the top level folder,
[code]

tests work as expected and I see that these modules such as `giotto_persistent_cohomology` are then used by pybind, but this seems to indicate that all those modules are installed when one installes `gtda` which is maybe not so ideal?

For instance, after `pip install .` form a differ

[2020-02-07 13:36] rth commented on #251
Sure, mentionning that python-igraph should be installed manually before, with a reference to its documentation would also be fine. Just to avoid the situation of [dev installation instrucations](https://github.com/giotto-ai/giotto-tda#developer-installation) failing with an error for users.

[2020-02-07 14:38] ammedmar commented on #250
Preparing a PR to fix those typos. Thanks @marek094 !

[2020-02-08 01:11] ntamas commented on #251
python-igraph 0.8.0 now ships wheels for all major variants - please give them a go and let me know if you run into any issues.

[2020-02-08 16:07] lewtun commented on #251
This is fantastic news @ntamas!!! It will dramatically simplify our builds and (hopefully) the installation of giotto-tda for our users :) We'll test the new wheels next week and report back if any issues arise.

[2020-02-10 07:00] #177 closed, assigned to nobody

[2020-02-10 07:03] #149 closed, assigned to ulupo

[2020-02-10 07:06] ulupo commented on #170
@MonkeyBreaker I'm still experiencing issues in installing on a Windows laptop: again, `pybind11` is looked for in the `Program Files (x86)` folder, but this time there is nothing there.

[2020-02-10 07:08] ulupo commented on #152
We could consider resolving this using sphinx-gallery as suggested in (#254).

[2020-02-10 11:38] wreise opened #266 "Colors in plot_*_mapper_graph not normalized"
#### Description
The colors on `plot_static_mapper_graph` and `plot_interactive_mapper_graph` do not reflect the desired colors passed in `node_color_statistic`.

#### Steps/Code to Reproduce
Run the script from the root of the us-election-tda use case.
[code]

#### Expected Results

![image](https://user-images.githubusercontent.com/32167173/74146756-18ec3400-4c02-11ea-82bb-89c1f37a7a51.png)
The

[2020-02-10 12:27] ammedmar opened #267 "Glossary: missing hyperlinks"
#### Description
Missing hyperlinks on the glossary. Cross references should be implemented.

[2020-02-10 13:40] ulupo opened #269 "Bump joblib requirement to >= 0.12 or 0.13"
#### Description
@rth has pointed out to us that joblib 0.11 is quite an old version and only supported by scikit-learn for legacy/retrocompatibility reasons. He suggested that as we are not bound to the same user base we can and should allow ourselves to require later versions. @rth, any futher recommendation as to whether we should bump to joblib 0.13, or would 0.12 be enough?

[2020-02-10 14:09] rth commented on #269
Maybe 0.13, as 0.12 introduced a somewhat experimental loky backend for multiprocessing (used by default) and it took a few more minor release to iron out most of the issues https://github.com/joblib/joblib/blob/master/CHANGES.rst#release-0130

[2020-02-10 14:23] rth opened #270 "Investigate scikit-build"
As discussed earlier it might be worth investigating the use of [scikit-build](https://github.com/scikit-build/scikit-build) for integration with Cmake, instead of the custom logic currently defined in setup.py.

I have not used it personally, but heard overall good feedback about it. See e.g. https://blog.kitware.com/18772-2/ for more context about this project.

[2020-02-10 14:31] rth opened #271 "Caching in CI"
One way to make CI faster could be cache installation or compilation objects with ccache in CI.

Cf https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops for more details.

I will look into it.

Another way mentioned earlier is to pre-build containers or VMs used in CI (https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops).

[2020-02-10 14:37] wreise opened #272 "Improve documentation with ReadTheDocs"
#### Description
Guide the user with a clearer docs page: API, theory, examples and use cases all in one place. Give readTheDocs a go.

#### Steps:
[] Build the existing Sphinx documentation on ReadTheDocs,
[] Add the Theory, What's new, Development Roadmap pages,
[] Integrate the examples/use-cases (with Sphinx-gallery?).

[2020-02-10 14:54] wreise commented on #272
Currently, I am stuck.

**Context**: ReadTheDocs runs a container, clones the repo, and can install a bunch of packages useful to generate the SphinxDocs. With Sphinx, we are assuming that the package is installed  in the current environment, what requires cmake, which cannot be used in the ReadTheDocs container.

**Problem**: Cannot install gtda inside the ReadTheDocs container.

**Solutions**:
1

[2020-02-10 15:03] rth commented on #272
You might be able  to install cmake with conda by creating a dedicated `environment.yml` and giving a path to it in [.readthedocs.yaml](https://docs.readthedocs.io/en/stable/config-file/v2.html#conda) but I agree it's maybe not that ideal.

[2020-02-10 15:24] wreise commented on #272
I may have solved the previous issue, by temporarily disabling the cMake (check out `setup.py` on my [readthedocs](https://github.com/wreise/giotto-learn/tree/readtheDocs) branch). (we will need another fix in the long-term, if we are to use Sphinx-gallery).

[Now](https://readthedocs.org/api/v2/build/10412823.txt), two issues:
1. I believe I have installed `giotto-tda`, but none of the imports su

[2020-02-10 16:19] rth commented on #271
A question: when one builds boost, I see that it needs `pyconfig.h`. Does that mean that boost has has to be compiled for each python version (or alternatively rebuild if python version changes)? Or would building it for a single version would be enough?
cc @ulupo @gtauzin

[2020-02-10 16:22] ulupo commented on #271
@rth I'm not sure unfortunately, it is the first time I see this. Are you seeing it from the CI, or simply from looking at the boost documentation?

[2020-02-10 16:32] rth commented on #271
After looking into manylinux builds which as the slowest, I saw that boost installation takes indeed quite a long time as discussed. One way around as mentioned by @gtauzin is to  create a specific docker image with boost installed. ccache is not ideal for this, as is more focused on speeding up project build itself, not so much it's dependencies, and it would not help with download and configure

[2020-02-10 18:01] rth opened #275 "Auto-cancel of CI builds in PRs"
In PRs when new commits are pushed, CI for older commits can be cancelled to save CI resources. This should be the [default behavior in Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#pr-triggers) but it doesn't seem to be the case now.

I'm not sure if this was intentionally modified in the AZP UI, or should we try to get it to wor

[2020-02-10 19:31] #206 closed, assigned to lewtun, ulupo

[2020-02-10 20:38] #160 closed, assigned to gtauzin, lewtun, ulupo

[2020-02-10 20:40] ulupo commented on #3
@rth is this rather old issue still relevant to recent discussion on CI refactoring?

[2020-02-11 09:01] rth commented on #275
Although maybe it's because manually started jobs are not auto-cancelled by default, and it would get resolved if automatic trigger of CI in PRs is re-enabled.

[2020-02-11 09:42] rth commented on #275
@ulupo It would be nice to look into this, as the current setup is really suboptimal for debugging CI. For instance https://github.com/giotto-ai/giotto-tda/pull/274 is using a lot of CI ressources needlessly (slowing other PRs) with manual job submission and without auto-cancel of builds.

[2020-02-11 09:56] ulupo commented on #275
Thanks for looking into this @rth. I was under the impression that auto-cancel was working correctly even with manual trigger -- and am quite sure that it did when we had automatic triggering. Manual triggering has been introduced to avoid WIP PRs from triggering Azure and slowing more "mature" PRs down, but maybe there's a lesson on good practices to be heard there...

[2020-02-11 10:05] rth commented on #275
I guess in the end it's a matter of how fast CI is, if we manager to make it faster, triggering automatically shouldn't be an big issue. Another  downside is that manual triggering produces a fair amount of noise (1 notification for new commit + 1 to trigger CI + 1 comment from CI) for each new commit, which makes it less likely that external contributors would keep following discussions on Github

[2020-02-11 14:42] wreise commented on #272
So, no effective progress on the issues.
1. I tried to reproduce the errors in a local docker container, but having to guess the Dockerfile/sequence of commands makes it difficult. Precisely, the directory structure and usergroups are not set in the same way, and produce some errors locally, while,remotely,it does not happen.

2. I believe I can install `gtda`, but, sphinxdocs fail to generate. Th

[2020-02-12 10:36] wreise opened #279 "Papermill produces a new warning"
#### Description

After papermill released 2.0 on pypi, the executions  of example notebooks end with `[IPKernelApp] WARNING | Parent appears to have exited, shutting down`, what causes our pipelines to fail.

#### Expected Results
No fail.

#### Actual Results
https://dev.azure.com/maintainers/f3825528-0a61-43d7-87c2-e296dd6abb14/_apis/build/builds/1213/logs/107

[2020-02-12 10:53] ammedmar commented on #250
From gtda.time_series.TakensEmbedding:

"Based on a time-delay embedding technique named after F. Takens [1]. Given a discrete time series X and a sequence of evenly sampled times , one extracts a set of -dimensional vectors of the form for X. This set is called the **Takens embedding** of the time series and can be interpreted as a point cloud."

I think we have a lot of things called Takens embe

[2020-02-12 11:44] ulupo commented on #251
@ntamas, python-igraph 0.8.0 is now integrated in our CI and so far it is all working very smoothly! Thanks again for the hard work you put into this.

[2020-02-12 13:58] gtauzin commented on #159
As `plotly` has become a compulsory dependence, it is indeed also interesting to add visualisation capabilities to the modules of the library related to persistent homology. One way would be to create function such as:
- `plot_betti_curves`
- `plot_landscapes`
- `plot_window`
- `plot_cohomology_representatives`
- `plot_homology_representatives` (using my modified version of PHAT, this could be pos

[2020-02-12 14:27] #279 closed, assigned to wreise

[2020-02-12 14:59] #245 closed, assigned to ammedmar

[2020-02-12 15:41] rth commented on #159
I think yellowbrick is quite relevant. For reference the scikit-learn plotting API can be found in https://scikit-learn.org/dev/developers/plotting.html  I have mixed feelings about mixing plotting (with plotly) with calculation with in the same estimator, and we should consider what side effects this could have (e.g. for pickling), but if some estimators are never used without plotting then it ma

[2020-02-12 15:55] gtauzin commented on #159
@rth Thanks!

If no attributes are instanciated in the plot method itself, would it have any side effects? I believe pickling would not be a problem if those method do not modify the instance of a class in any way.

[2020-02-12 15:58] #266 closed, assigned to lewtun

[2020-02-12 16:04] rth commented on #159
Indeed. If plotly is a mandatory dependency it should probably be fine.

[2020-02-12 16:41] rth opened #283 "Naming of the nightly builds"
Follow up on https://github.com/giotto-ai/giotto-tda/issues/109. Currently nightly builds are named `giotto-tda-nightly` and are uploaded [on PyPi](https://pypi.org/project/giotto-learn-nightly/). This issue aims to discuss whether the approach is optimal, with respect to,
 - using a different package name between nightly and releases
 - uploading nightly to PyPi

There are two approaches.
1. what

[2020-02-12 16:52] ulupo commented on #283
@rth thanks for formally initiating this discussion here so it reaches beyond the confines of our private chats. I guess I would see _some_ merit to having two different names if they could somehow be used simultaneously. But I suppose (correct me if I'm wrong) that for this to happen the module names should also be changed (e.g. from `gtda` to `gtda_nightly`), and I don't think this is what we do

[2020-02-12 16:54] ulupo commented on #283
Just for context, there are inependent reasons why we need nightly wheels quite quickly, and moving to a setup like sklearn's is a bit of a further intimidating dev-ops undertaking, at least for me at present.

[2020-02-12 17:55] rth commented on #283
Right, but that exactly the situation one wants to avoid, I think? Because otherwise when users have 2 versions of a package installed and are getting errors, it's quite hard to debug what's going on. Also nightly wheels should be roughly equivalent to building master from sources, in which case it can be confusing that the package names are different.

Thanks for the additional context! Definitel

[2020-02-12 17:59] ulupo commented on #283
I realise I was very unclear: I meant to say that e.g. both `impor gtda` and `import gtda_nightly` would be available if both the nightly and stable version are installed. What do you think about this? I do take the point about similarity between the nightly and dev versions though...

[2020-02-12 18:54] holmbuar commented on #168
I have got a working dev version of gtda now. I think the procedure can be explained quite generally. Install native Cmake and modify a few lines of code in `Cmakelists.txt`. If Windows-based contributors regularly struggle with Boost, I can do a writeup or a video :)

[2020-02-12 19:10] holmbuar commented on #283
I personally would support having both versions on pip. Particularly if it is possible to throw an exception if and when the user tries to install more than one version in the same environment. For example having `gtda` installed in `gtda-env` and then `pip install gtda_nightly` without creating a new `env`. Does that make sense?

[2020-02-13 10:53] wreise opened #284 "Mapper color normalization fails when a color is nan"
#### Description
When the `node_color_statistic` passed to `plot_static_mapper_graph` contains nans, the normalization introduced in #277 produces behavior we might want to review.

#### Steps/Code to Reproduce
Look at the `Color by Economic indicator` section in the [us-election](https://github.com/wreise/us-election-tda/blob/master/county_level_mapper_insight.ipynb).

#### Expected Results
Color

[2020-02-13 12:17] lewtun commented on #284
As a user I would like to be warned about such situations as it might indicate a problem in the data preprocessing step in generating the color array.

One possibility could be to use scikit-learn's `check_array` [function](https://scikit-learn.org/stable/modules/generated/sklearn.utils.check_array.html) so we can also check for `np.inf` entries. Then it's up to the user to decide what to do with

[2020-02-13 15:40] #251 closed, assigned to MonkeyBreaker, ulupo

[2020-02-13 16:19] ulupo commented on #168
Hey @torlarse. A contribution of the kind you mention would be awesome! I think our Windows dev install still suffers from some issues linked with `pybind11` -- at least I still have issues in my Windows laptop even when Boost and CMake are well installed and well linked. @MonkeyBreaker and @reds-heig have looked deeply into such issues and it would be nice if you could participate in a discussion

[2020-02-14 08:05] #284 closed, assigned to lewtun, wreise

[2020-02-14 17:26] wreise opened #291 "Test of precomputed_distances on FirstHistogramGap checks cluster labels instead of sizes"
#### Description
We test the equivalence of the two ways of using the `FirstHistogramGap` clusterer:
1. Using a precomputed distance matrix,
2. From the point-cloud.
For a given point-cloud from which we compute the distance matrix, the clustering should be the same, and it is.

We need to compare clusterings, instead of comparing the labels.

#### Steps/Code to Reproduce
See the [CI logs](https:/

[2020-02-14 17:48] wreise commented on #272
It seems like there is an intrinsic problem with imports. I have tried gh-pages with sphinx, and they work.
However, as soon as I try to do versioning (with [this fork of a fork of a fork](https://github.com/vale981/sphinx-versions)), i get a similar error to the one in rtd.
![image](https://user-images.githubusercontent.com/32167173/74554644-49adcf80-4f5a-11ea-85f0-d0c48cda949f.png)

[2020-02-17 11:58] gtauzin commented on #233
The assumption that we make is that the diagrams will be the output of one of our homology modules. If that's the case, every sample diagram contains at least one point per homology dimension (although it can be on the diagonal).

[2020-02-17 12:00] gtauzin commented on #233
We could add a note to let the user know about some details about the expected input data structure.

I can make a PR.

[2020-02-17 12:17] wreise commented on #233
That would be ideal, and this is the solution I was thinking about: we don't have to deal with crazy inputs from the user, but you can certainly imagine that one could want to use `gtda.diagrams._` on precomputed diagrams.

[2020-02-17 12:24] rth commented on #283
It's possible indeed, but likely not very simple since gtda could be installed by either one of conda or pip. In any case documenting that both shouldn't be installed at the same time would definitely be useful.

[2020-02-17 13:03] rth commented on #272
Thanks for working on this @wreise !

I think fundamentally we need to fully build the gtda package in order to build sphinx documentation. Skipping the cmake install will only lead to import errors down the road (unless I'm missing something) since docs are generated dynamically by inspecting imported classes/functions.

Using readhthedocs may indeed be non trivial with cmake extensions, I'll hav

[2020-02-17 13:31] wreise commented on #272
As you point out, we need to build it. **Excluding cmake was tried only for readthedocs.**

Gh-pages build on sphinx with a reathedocs theme works well (and is [online](https://wreise.github.io/gtda-docs/)). The problem that I point out just above appears only when adding the extension with versioning. It looks like sphinx-versioning checkouts previous stages and builds the doc from it. It might b

[2020-02-17 15:12] gtauzin opened #295 "Missing theory of filtered cech complexes in glossary"
#### Description
#264 adds persistent homology of filtered Cech complexes. But Cech complexes are missing from the theory glossary.

[2020-02-17 16:19] ulupo commented on #275
@rth, I believe I have now removed the need to trigger the pipelines via a comment, *unless* the PR is made by a non-team member. Please let me know in your next PR if that is the case, and if we also notice auto-cancellation we should be able to close this issue.

[2020-02-17 16:20] ulupo commented on #271
@rth, we should be able to get @MonkeyBreaker and @reds-heig's insight into this this week.

[2020-02-17 16:58] ulupo opened #297 "Verbose logs with progress bars in manylinux docker scripts"
#### Description
The Azure logs are now quite verbose with seemingly unnecessary progress bars being printed to the Azure console. See e.g. https://dev.azure.com/maintainers/Giotto/_build/results?buildId=1304&view=logs&j=b8baa944-5515-5c79-fabf-2e14b3468c09&t=29f7556a-8291-57b8-eebb-de06d08d2893. I hadn't noticed it before #274, but perhaps that PR is unrelated.

[2020-02-17 16:59] #291 closed, assigned to wreise

[2020-02-18 09:07] MonkeyBreaker commented on #168
Hi @torlarse,

Could you please tell me which prompt on Windows are you using (Anaconda prompt, MinGW, cmd, etc.) ?
We're looking into some inconsistencies in installations procedures for Windows depending on the user setup.
Also what did you mean on your previous post with

Could you please give me more details on your changes, this could help us a lot, thank you.

Have a nice day,
Julián

[2020-02-18 09:21] MonkeyBreaker commented on #271
Hi @rth,

Nice work on the caching, I'm not a CI guru myself, I really appreciate the work done on the matter.
As you found, `pyconfig.h` is python version dependant.
But, the features depending on `boost` do not change often (at least at the moment). I can have a look if we could reuse, part of previous build that did not change. I'm not sure it's even possible, but if this allow us to gain time

[2020-02-18 09:59] #170 closed, assigned to MonkeyBreaker, ulupo

[2020-02-18 10:00] ulupo commented on #170
Closed this issue as the remaining problems with `pybind11`, though there, are not related to the description of this issue. See also the discussions in #168 on general issues with dev installs on Windows.

[2020-02-18 10:26] holmbuar commented on #168
@MonkeyBreaker I am glad to help :)

I have tried several Windows prompt from the Terminal preview app, but mostly stick to Powershell Core. I *have changed* my environment config from using Conda to using `venv`.

The following is the change I made to the Cmakelists file to let Cmake successfully find Boost. I have not reflected upon how to generalize this work-around, it just works for me.

Dele

[2020-02-18 10:32] rth commented on #271
Thanks for the feedback @MonkeyBreaker !

For the record, I did try to reuse the boost installation with a pre-built Docker container in https://github.com/giotto-ai/giotto-tda/compare/master...rth:manylinux2010-container?expand=1 before running in the issue with `pyconfig.h` being version dependent. Anyway with ccache enabled now this would wouldn't improve runtime significantly I think (since cu

[2020-02-18 10:41] rth commented on #297
It's not related to caching, see for instance output of the test step in manylinux builds just before #274 was merged https://dev.azure.com/maintainers/Giotto/_build/results?buildId=1283&view=logs&jobId=b8baa944-5515-5c79-fabf-2e14b3468c09&j=b8baa944-5515-5c79-fabf-2e14b3468c09&t=32bb162a-167b-5940-1b5a-5f4c882aadbf , but it would be definitely good to fix this (and also look into raised warnings

[2020-02-18 10:52] MonkeyBreaker commented on #168
@torlarse thank you for the FB,

I must admit, I'm not a big fan of hard-coding paths.
But from my understanding, you have boost installed, how did oyu install it by the way ? (on my side I download from [here](https://sourceforge.net/projects/boost/files/boost-binaries/1.72.0/) this binary `boost_1_72_0-msvc-14.2-64.exe`.

But if `find_package(Boost)` fails, seems that other users on Windows expe

[2020-02-18 10:54] rth commented on #272
I see, thanks for the confirmation.

OK, so the error you are getting in the log from https://github.com/giotto-ai/giotto-tda/issues/272#issuecomment-584668344 (I'm not sure if this is on readthedocs or nor)
[code]
looks related to https://github.com/sphinx-doc/sphinx/issues/6771#issuecomment-552075594 and it might be worth trying the same approach as them.

I wonder how reliable that extension is

[2020-02-18 11:27] holmbuar commented on #168
If I recall correctly, I downloaded the `boost_1_72_0.7z` file from boost.org. I have looked at other solutions but could not make them work. It is quite possible that installing the `.exe` file might have been the right thing to do.

[2020-02-18 11:38] holmbuar commented on #168
I seem to remember that the majority of the solutions were based on manually configuring Cmake and generating build files. Just like one does before building and installing OpenCV on Windows for example. The difference between installing OpenCV and Giotto is that Cmake is not used explicitly to generate build files for the latter. Rather that building Giotto is called from `setup.py`.  Sorry if th

[2020-02-18 12:01] MonkeyBreaker commented on #168
It's correct, but `find(X)` is provided by `cmake` directly, so it *should* work. As in your case, we encounter something that isn't correctly managed by the `find(x)` from cmake.

If you experience this, for sure other users will experience something similar.
My remark about hard-coded path, can only be applied in an ideal world of course ^^.

would you mind trying the solution with the `.exe` fi

[2020-02-18 12:09] holmbuar commented on #168
@MonkeyBreaker I'm sorry but I'd rather not disturb my working solution. If I have to go through a new installation routine I will certainly consider your suggestion.

[2020-02-18 12:12] MonkeyBreaker commented on #168
@torlarse No problem, I understand perfectly, I'll discuss with @ulupo what we should communicate for future users.

[2020-02-18 13:50] gtauzin opened #299 "ImageToPointCloud should return a list of point clouds"
#### Description
As of #263, ImageToPointCloud returns an array of point clouds, forcing all of them to have the same number of points. However, each binary image in the input collection can have a different number of activated pixels leading to a different number of points.

This can be solved by outputting a list of point clouds instead. But homology modules nead to be able to handle that first.

[2020-02-18 16:24] ulupo commented on #299
I guess what I was wondering is whether the following code is equivalent to the current implementation -- assuming here that `X` is the 3- or 4-dimensional input array containing all images:
[code]

[2020-02-18 16:40] holmbuar commented on #129
I have started working on this issue.

[2020-02-18 17:34] rth commented on #275
Nice! I can confirm that automatic triggering with auto-cancel of CI is working, thanks!

[2020-02-18 17:34] #275 closed, assigned to nobody

[2020-02-18 18:08] #221 closed, assigned to wreise, ulupo

[2020-02-18 18:08] #246 closed, assigned to wreise

[2020-02-19 08:49] rth commented on #3
Yes, I think with all the latest changes to CI we can close it. Thanks!

[2020-02-19 08:49] #3 closed, assigned to nobody

[2020-02-19 08:56] rth commented on #270
cc @reds-heig, @MonkeyBreaker in case it might help for issues like https://github.com/giotto-ai/giotto-tda/pull/301#issuecomment-588096580

[2020-02-19 08:57] MonkeyBreaker commented on #256
After looking a bit more on this, I think that we should embed `giotto_*` into `gtda/externals/<somewhere>`.

Because when installing the module with `pip install -U giotto-tda`, the site-package folder is "polluted" (see below), I expect to only have a gtda folder and then from it import all internal modules.

[code]

As @rth explains, this allows to per example use giotto_witness_complex ( `impo

[2020-02-19 09:04] ulupo commented on #256
@MonkeyBreaker I do think this looks to be a cleaner solution but have very little understanding of whether there are repercussions beyond the path changes you mentioned.

[2020-02-19 09:04] MonkeyBreaker commented on #270
I wasn't aware of that, I'll have a better look on it !

Thank you @rth

[2020-02-19 09:10] MonkeyBreaker commented on #256
Well, for example, in file `gtda/diagrams/_metrics.py` we should modify line 4 and 5.
From
[code]

To
[code]

Previous example would be how the library would need to be updated (We could directly update bindings names if necessary), but, if users where using directly functions from `giotto_*`, then after upgrading the library, executing their old script could fail to import old modules.
Let me kno

[2020-02-19 09:27] gtauzin commented on #256
I agree with @MonkeyBreaker.

Maybe we could create a `gtda/externals/modules/` with an empty `__init__.py` and have CMake put all of them there?

[2020-02-19 15:12] #297 closed, assigned to rth

[2020-02-19 16:03] MonkeyBreaker commented on #167
I took a look on the matter,

I wasn't able to reproduce the problem, I tried with the `csv` file and the data generated with `tori_sampler`.
What I could observe on my resources is that it needed **8GB** of RAM for complete the task.
I don't know if this comes from the C++ or the Python side.

In my opinion there's an out of memory error behind the problem, maybe catch exception on Python or add

[2020-02-20 08:34] lewtun opened #307 "Apply python -m consistently in CI"
#### Description

In PR #287 it was observed that the following step fails for the Linux build:

[code]

suggesting a mismatch between the Azure python environment and that running in the Docker container. @rth and @ulupo suggested that applying `python -m` is a better practice (see also [here](https://snarky.ca/why-you-should-use-python-m-pip/)), but this did not solve the Linux problem.

The goa

[2020-02-20 09:07] ulupo opened #308 "Installations from PyPI tarballs fail"
#### Description
I believe that all installs from tarballs on PyPI currently fail. The reason seems to be that we do not package the `CMakeLists.txt` file needed by `CMake`.

#### Steps/Code to Reproduce

1. Create a new environment in an OS not supported by current wheels. E.g., for `giotto-tda-nightly`, wheels only support macOS 10.14 or above following updates in the Azure VM images https://doc

[2020-02-20 09:40] ulupo opened #309 "Use of pathlib in setup.py"
@rth recently pointed out that some parts of `setup.py` can be written in neater ways in Python 3.6 using the `pathlib` package: an example is https://github.com/giotto-ai/giotto-tda/pull/304#discussion_r381876026

This does look like a neater solution which we could employ throughout.

_Originally posted by @rth in https://github.com/giotto-ai/giotto-tda/pull/304_

[2020-02-20 10:12] #256 closed, assigned to gtauzin, MonkeyBreaker, ulupo

[2020-02-20 10:13] rth opened #310 "test_projection_values_equal_slice failed due to unreliable test timings"
test_projection_values_equal_slice failed on master in fcffaf8
 due to unreliable test timings in hypothesis,
[code]

likely not critical, still the different in run time is surprising.

[2020-02-20 10:14] ulupo commented on #310
Thanks! Yes, we noticed that before but it slipped due to other priorities, good it's now here so we don't forget!

[2020-02-20 10:29] rth commented on #168
This is not helping with the original issue on Windows, and was probably discussed earlier, but I can confirm that installing boost with conda on Linux works as expected with the current version on master,
[code]

[2020-02-20 11:00] rth opened #311 "Multiple names on pypi"
I think the current situation where both giotto-tda, giotto-lean, giotto-learn-nightly and giotto-tda-nightly can be confusing.

For instance, I just searched for "giotto nightly" and ended up installing the wrong version of the nightly: giotto-learn-nightly

While maintaining previous names for backward compatibility can make sense, at least for some time, I think it would be helpful to push a pa

[2020-02-20 11:01] rth commented on #311
Also there should be no harm, in at least removing `giotto-learn-nightly` I think.

[2020-02-20 11:05] ulupo commented on #311
Thanks @rth! Concerning `giotto-learn-nightly`, we are keeping it for legacy reasons due to what arguagly has been a development mistake in introducing a feature too early. This feature was widely advertised (as part of a nightly release) in https://towardsdatascience.com/the-shape-of-chemical-functions-d1e1568d020, but it has yet no place in `giotto-tda` (even nightly).

Concerning having `giotto

[2020-02-20 11:16] rth commented on #308
There seem to be another issue with nightly wheels: I get a segfault when running tests in `continuumio/miniconda3` container,
[code]
For instance,
[code]
and with a full backtrace,
[code]
which is a Ubuntu based system,
[code]

Not much ideas what could be wrong so far.

[2020-02-20 12:27] rth commented on #311
Indeed, but the user will import `gtda` which doesn't exist.

Aww, I see.

[2020-02-20 12:48] ulupo commented on #311
Fair point. The rationale was that at this point we have essentially erased all traces of `giotto-learn` aside from that very Medium blog post which I referred to. So we assumed virtually nobody would want to run `pip install giotto-learn`. But your Google search example seems to disprove that claim. We'll discuss this.

[2020-02-20 12:51] ulupo commented on #308
@rth, thanks for the report!

[2020-02-20 12:56] rth commented on #308
For the error with .tar.gz I can confirm I get the same error on Linux with,

[code]
which yields,

[code]

The issue is in this line https://github.com/giotto-ai/giotto-tda/blob/6b0411bb281303b96fc38711fd73d368efeea829/setup.py#L119 which assumes that gtda is a git repository, which is not the case in a `.tar.gz`.

[2020-02-20 12:57] wreise opened #313 "OneDimensionalCover fails for small overlap fractions"
#### Description
When `overlap_fraction` is very small (close to 0) and `n_intervals` is a multiple(?) of the number of points (X.shape[0]), the `fit_transform` step produces a cover, which does not cover anything (since the endpoints are not included, open cover of the range).

We notice this in [CI tests](https://dev.azure.com/maintainers/Giotto/_build/results?buildId=1372&view=logs&jobId=b8baa9

[2020-02-20 12:58] rth opened #314 "pybind11 and cmake as build dependencies in pyproject.toml"
Both [pybind11](https://pypi.org/project/pybind11/) and [cmake](https://pypi.org/project/cmake/) are on PyPi and conda. Can we not specify them as regular dependencies instead of manually installing in setup.py which leads to issues like https://github.com/giotto-ai/giotto-tda/issues/308 ?

In general `pyproject.toml` might be a solution for specifying build time dependencies.  See https://www.pyt

[2020-02-20 13:00] ulupo commented on #308
@rth thanks for diagnosing this and for opening #314! It seems that in the current approach we should simply not publish the tarballs at all as they are guaranteed to fail.

[2020-02-20 13:02] wreise commented on #313
@ulupo @lewtun  What is the desired output in this case? I believe the cover should remain 'open' and I see two possibilities:
1) output no interval (since none of them includes any point),
2) an array of shape (n_points, n_intervals), with n_intervals specified  by the user.

What do you think?

[2020-02-20 13:07] MonkeyBreaker commented on #314
I don't think that adding `cmake` as dependencies could be a problem.
The issue about `pybind11` is that we only need the headerd (c++) files, I didn't check what's downloaded when using `pip install pybind11`.

About issue #308 Even if we add these dependencies, we have some submodules in `gtda/externals/` I don't know how we could download them. Do you have any suggestions ?

[2020-02-20 13:22] rth commented on #314
Indeed. One way could be to make sure submodule contents get included in the .tar.gz then there there is not need to run `git submodule update`. Maybe this is already happening now, not sure.

In any case I think that command should be run explicitly during the development installation process instead of automatically in `setup.py`.

[2020-02-20 13:27] MonkeyBreaker commented on #314
In this case, the developer must do `git submodule update` before trying to use it. Is it a big requirement for the developer ? I mean, currently he needs to:

[code]

Then he will need to do:
[code]

I don't think is to much of a burden for the developers, but previous developers would need a notification about this change, I don't know what do you think about it @ulupo ?

[2020-02-20 13:29] ulupo commented on #314
This one is thorny...

[2020-02-20 13:57] rth opened #316 "Build wheels with minimal supported numpy versions"
Generally libraries linked against numpy are forward compatible, meaning that wheels should be generated with minimal numpy versions (here. `1.17`) and they will be compatible with following numpy versions.

The current situation of generating wheels with latest numpy means that earlier numpy version might not work.

This means that for building wheels and testing different numpy versions could op

[2020-02-23 10:35] ulupo opened #322 "Refactoring of utils/validation.py"
#### Description
[Our validation utils](https://github.com/giotto-ai/giotto-tda/blob/master/gtda/utils/validation.py) are likely in need of refactoring. This applies particularly to `validate_params`, whose logic is too difficult to follow and maintain, and which also contains errors, e.g. the unreachable line https://github.com/giotto-ai/giotto-tda/blob/d4e138c1a7014e961ed0e0011405a0a2f4a419e7/gt

[2020-02-23 10:46] ulupo commented on #313
@wreise I'm not as sure that the fix in #315 cannot give us sufficient mileage with this issue. After all, numerics are a hard fact of life, and the user warning you added is quite clear. Perhaps we could:
- Reflect a bit more on whether the current choice of `1e-8` to trigger a warning is correct. Maybe a back-of-the-envelope calculation would show that there is a "provably safe" limit somewhere

[2020-02-23 18:45] ulupo opened #324 "_heat in diagrams/_metrics.py does not return the result of applying gaussian_filter"
#### Description
In https://github.com/giotto-ai/giotto-tda/blob/d4e138c1a7014e961ed0e0011405a0a2f4a419e7/gtda/diagrams/_metrics.py#L40,
a new local variable `heat` is created in the scope of `_heat`, but as far as I can tell the input `heat` is _not_ modified. To achieve this, one could slice `heat` as follows:
[code]

On a side note, I think the first argument of `_heat` should be called `image`

[2020-02-24 08:08] ulupo opened #325 "Glossary: silhouettes entry"
#### Description
Given that #247 will soon be merged, we should have a glossary entry covering silhouettes, and once this is done cross-check that the docs for `Silhouette` play well with it.

[2020-02-24 09:43] wreise commented on #325
@ammedmar I am on it, will request your review shortly.

[2020-02-24 10:37] #269 closed, assigned to ulupo

[2020-02-24 12:49] #324 closed, assigned to wreise

[2020-02-24 16:34] wreise opened #327 "Support order=np.inf in Silhouettes"
#### Description
According to the thoery page, and the docstring in Silhouette, it should be possible to pass `order=np.inf` to `Silhouette`. In that case, the silhouette should be \lambda_i, with i=argmax (d_i-b_i).
Currently, the code will produce NaNs for orders 'as small as' 1000.

[2020-02-24 17:14] #267 closed, assigned to nobody

[2020-02-25 08:49] ulupo opened #328 "[Proposal] Run pyupgrade to automate checks against Python versions"
It might be worth running https://github.com/asottile/pyupgrade on the code, which automates this and some of the other fixes.

_Originally posted by @rth in https://github.com/giotto-ai/giotto-tda/pull/321#issuecomment-590258746_

[2020-02-25 14:01] #325 closed, assigned to wreise, ammedmar

[2020-02-26 11:35] saramasarone opened #330 "No module named 'sklearn.cluster._hierarchical'"
Hi 😊,

I'm trying to import the packages as listed on  "tutorial_mapper/Christmas Mapper.ipynb" but it fails to do so. I know for sure that my sklearn package works, since I use it every day.
Is there any chance that sklearn has changed the name of the clustering modules and therefore it fails to import the required packages?

I attach the pics of the error it throws:

<img width="1125" alt="Scree

[2020-02-26 12:34] WeilerP commented on #330
Hi Sara, thank you for your feedback!
The problem should indeed be the version of `scikit-learn`. The current implementation on the master branch requires `scikit-learn==0.22.0` and not `scikit-learn>=0.22` as the `README` suggests. I ran the notebook in a clean environment with `scikit-learn==0.22.0` and it works. Please let us know if this solves your problem.

@wreise, is there a reason why the

[2020-02-26 13:21] ulupo commented on #330
Hi @saramasa22, and thanks for the interest! As @WeilerP pointed out, the problem is due to the fact that we had not got round to updating the repo to the _new_ version (and name!) of the library. Note that the library is now called _giotto-tda_ (not _giotto-learn_) and that the main module is called `gtda` (and not `giotto`).

We just merged https://github.com/giotto-ai/tutorial_mapper/pull/8 and

[2020-02-26 13:49] saramasarone commented on #330
Hi, and thank you for the prompt reply!
I did uninstall giotto-learn and giotto-learn-nightly and I installed the gtda package but I still get some errors during the run. The first part runs smoothly but then it seems like it can't find the module called "plotting", the FilterFunctionName and CoverName.
Do I need to import any additional package to ones listed in the notebook?

<img width="1440" a

[2020-02-26 14:04] ulupo commented on #330
Thanks for the feedback @saramasa22. Your last screenshot doesn't look to me like it's coming from [`tutorial_mapper/Christmas Mapper.ipynb`](https://github.com/giotto-ai/tutorial_mapper/blob/master/Christmas%20Mapper.ipynb). It looks like it's coming from [`giotto-tda/examples/mapper_quickstart.ipynb`](https://github.com/giotto-ai/giotto-tda/blob/master/examples/mapper_quickstart.ipynb). The form

[2020-02-26 14:06] ulupo commented on #330
In [`giotto-tda/examples/mapper_quickstart.ipynb`](https://github.com/giotto-ai/giotto-tda/blob/master/examples/mapper_quickstart.ipynb), we should point out that `plotting.py` is needed!

[2020-02-26 14:30] ulupo commented on #330
Update: I am now advocating for replacing the import statement involving `plotting.py`, and using vanilla `plotly` code instead. See #332.

[2020-02-26 14:46] wreise commented on #327
@ulupo this should have been automatically closed, right?

[2020-02-26 14:46] ulupo commented on #327
Indeed!

[2020-02-26 14:46] #327 closed, assigned to wreise

[2020-02-26 14:50] wreise commented on #313
@ulupo I am happy to discuss your estimates.

[2020-02-27 10:48] wreise opened #337 "Support extended persistence"
#### Description
Some use cases involve producing diagrams, with points under the diagonal - for example, with superlevel-set filtrations. Do we want to extend the API to offer this?

Currently, the users can modify the metric by hand, to invert the order that the edges appear in. But, the features (Betti  Curves etc.) require  the persistence diagrams to satisfy birth<=death.

One idea to solve t

[2020-02-27 11:04] MonkeyBreaker opened #338 "MSCV compilation unknown options"
#### Description

When compiling the library on Windows, most of the compilation flags used are ignored. MSVC compiler does not use the same arguments for producing similar results as `gcc` or `clang`.

[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results

No ignored compilation options

#### Actual Results

Ignored compilation options

#### Versions

[code]

[2020-02-27 11:07] MonkeyBreaker commented on #338
From MSVC documentation, we should have a look at the following [link](https://docs.microsoft.com/en-us/cpp/build/reference/o-options-optimize-code?view=vs-2019)

Also, what are the best practices for setting compilation flags in `CMakeLists.txt` ?

[2020-02-27 12:00] ulupo commented on #330
@saramasa22 since we merged #332, you should have fewer things to do to make the `mapper_quickstart` notebook work. Additionally, the `Christmas Mapper` notebook should also now be fixed to work with the latest stable version of `giotto-tda`. Could you let me know if you still experience issues?

[2020-02-27 13:44] gtauzin opened #340 "Missing theory of filtered flag complexes in glossary"
#### Description
#339 adds persistent homology of filtered Flag complexes. But Flag complexes are missing from the theory glossary.

[2020-02-27 13:44] gtauzin opened #341 "Missing theory of filtered Witness complexes in glossary"
#### Description
#155  adds persistent homology of filtered Witness complexes. But Cech complexes are missing from the theory glossary.

[2020-02-27 16:23] ulupo opened #342 "Better understanding of usage of np.bool_ in homology/cubical.py"
I don't know if I approve of these changes, since I do not really understand what the changes imply.
[code]
[Here](https://stackoverflow.com/questions/55905690/how-exactly-does-the-behavior-of-python-bool-and-numpy-bool-differ) is an extensive discussion.

_Originally posted by @wreise in https://github.com/giotto-ai/giotto-tda/pull/333/files_

[2020-02-27 16:27] wreise commented on #342
Investigate [this](https://github.com/giotto-ai/giotto-tda/pull/333/files#r385220387)

[2020-02-27 19:06] saramasarone commented on #330
It does work! Thank you!!

[2020-02-27 19:27] #330 closed, assigned to ulupo

[2020-02-28 15:19] wreise opened #343 "Missing theory for vectorisation methods in glossary"
#### Description
In the docstrings of the Representation Transformers, we redirect users to the theory page. But some of those methods do not have an entry. To name a few,

- [ ] Persistence Image,
- [ ] Heat kernel.

[2020-02-28 15:22] wreise commented on #343
Overall, this is quite similar to #295, #340, #341. Would it make sense to regroup?
@ammedmar , maybe i can help and take some of it?
I would need the sections (as placeholders) to be there, so as I can reference them in the documentation that I change.

[2020-02-28 15:31] wreise commented on #343
Also, the [second paragraph in the docstring of `CubicalPersistence`,](https://github.com/giotto-ai/giotto-tda/blob/master/gtda/homology/cubical.py) there is [a reference to the theory page for `grayscale image`](https://github.com/giotto-ai/giotto-tda/blob/6e2e205e62b5e1554a2a620cfbd855ee04818e30/gtda/homology/cubical.py#L19)- why?
I don't see a corresponding entry and I am not aware of any plans

[2020-02-28 16:49] ammedmar commented on #343
About:
#295, I sent a pull request for it.
#340 we have an entry "Clique or flag complexes". If there something missing in it @gtauzin ?
#341 I working on this now.

If you want to take on heat kernel that would be great. I'll write the entry for persistence images asap.

[2020-02-28 18:33] wreise commented on #343
Ok, thanks @ammedmar . Let's get back to it next week.

[2020-03-02 07:48] wreise opened #344 "Docstrings for consistentRescaling still point to gtda.homology"
#### Description
`ConsistentRescaling` and `ConsecutiveRescaling` have been moved from `gtda.homology` to `gtda.point_clouds`, but the dosctrings in the examples still point to the old locations.

[code]

[2020-03-02 09:31] lewtun opened #345 "Add datasets module to load and generate toy datasets"
#### Description

scikit-learn has a [datasets module](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.datasets) that provides handy utility functions to load and generate toy datasets. These functions feature prominently in the scikit-learn examples and it would be nice to have a similar functionality in giotto-tda.

Suggestions for synthetic datasets include:

* `make_point_c

[2020-03-02 22:17] #344 closed, assigned to wreise

[2020-03-03 07:55] holmbuar opened #349 "Suggestion for feature request issue template"
#### Description

The current issue template is mostly valid for bug reports. In case of a user wanting to suggest a feature or enhancement, the issue template must be modified in an arbitrary manner.

I suggest to standardize the feature request procedure by implementing an issue template for this purpose. An example can be found at https://github.com/microsoft/vscode/issues/new/choose

[2020-03-03 11:13] ammedmar commented on #345
This would be good. @gtauzin  and I started doing something along the `make_point_clouds` methods you envisioning and manage to get a few nice spaces and constructions on spaces. The reason this was not completed was the lack of uniformity of the sampling. In order to get this done well, the probability function has to be modified by a hessian term associated to the parametrization of the curved s

[2020-03-03 18:48] lewtun commented on #345
Cool, it seems you guys went for the hardcore version :) All I had in mind were spheres and tori with gaussian noise added, but perhaps this is too limiting.

If you have some Python code lying around, you could make GitHub gist and link it in these comments.

[2020-03-03 20:01] ammedmar commented on #345
The code is not so important, specially since it doesn't do what one would really like it to do, but since you asked, I am sending code that samples a point cloud near the real projective plane embedded in R4.

To get this thing properly done, what we need is a method that can sample an interval according to a costume, non necessarily uniform, probability distribution function. Any leads on someth

[2020-03-04 10:12] wreise commented on #345
I wanted to have a look at the notebook, but i do not have access rights- you should  receive an email requesting them.

For sampling from arbitrary densities, something like Metropolis-Hastings? Or, if the density is represented as a discretize array, maybe inverse transform sampling?

[2020-03-04 12:45] MonkeyBreaker opened #350 "Bindings externals wasserstein, input parameter q type"
#### Description

Variable `q` in `wasserstein` bindings is of type [int](https://github.com/giotto-ai/giotto-tda/blob/adfb1489bf31fa31286fef772cf8b793290a1aeb/gtda/externals/bindings/wasserstein_bindings.cpp#L14). But the C++ implementation, `q`, called `wasserstein_power` is of type `Real` => `double`, [link](https://github.com/giotto-ai/giotto-tda/blob/adfb1489bf31fa31286fef772cf8b793290a1aeb/g

[2020-03-06 12:24] #350 closed, assigned to nobody

[2020-03-08 14:21] #194 closed, assigned to ulupo

[2020-03-09 10:30] #338 closed, assigned to MonkeyBreaker

[2020-03-09 15:09] ammedmar commented on #340
I will add an extra paragraph to the existing entry on clique and flag complexes addressing the filtration structure associated to a weighted 1 skeleton.

[2020-03-09 17:22] #295 closed, assigned to ammedmar

[2020-03-10 09:38] wreise opened #356 "Kernels on diagrams"
#### Description
During development of #343 and following the discussion in #348 , we noticed that we are missing kernel methods as such. Maybe we could implement a `Kernel` transformer, with an API similar to `PairwiseDistances`, and a parameter `method`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Something along the lines of
![X_{i,j} = \langle \phi(diagrams_i), \phi(diagrams_j)

[2020-03-10 23:23] #349 closed, assigned to nobody

[2020-03-11 08:10] ulupo commented on #349
Thanks @torlarse for suggesting this! It was a simple change and as of #357 it is now available.

[2020-03-11 15:29] ulupo opened #361 "Glossary entry for general diagram distances (and diagram kernels)"
**Is your feature request related to a problem? Please describe.**
While `PairwiseDistance` supports both bottleneck/wasserstein distances and notions of distances coming from $L^p$ norms of the differences of functions derived from diagrams (e.g. Betti curves, landscapes, etc.), we currently don't have a unified approach to this in the glossary, and the best we can currently do in the docstrings

[2020-03-12 07:36] wreise commented on #322
Correct me if i am wrong, @ulupo , but I think you did all the necessary to close this.

[2020-03-12 07:36] #322 closed, assigned to wreise

[2020-03-12 13:18] #168 closed, assigned to ulupo

[2020-03-12 13:50] #138 closed, assigned to lewtun, ulupo

[2020-03-12 17:35] #340 closed, assigned to ammedmar

[2020-03-12 18:19] madarax64 commented on #308
Hello,
So is there a workaround for this issue at the moment? For me, install via pip(3) fails with the same error regarding git, and when I try to install it directly as a wheel by saying
`pip3 install https://github.com/giotto-ai/giotto-tda/releases/download/v0.1.4/giotto_tda-0.1.4-cp36-cp36m-manylinux2010_x86_64.whl`
I get an error saying that xxxxx is not a supported wheel on this platform. My

[2020-03-12 18:24] ulupo commented on #308
Thanks for the report @madarax64! The message seems to suggest you are running on a potentially exotic (for ``giotto-tda`` at least) Linux version. Could you tell us what that is? Notice that the meaning of `manylinux2010` is explained in https://www.python.org/dev/peps/pep-0571/.

Finally, what you mean by "fails with the same error regarding git"? Which error exactly?

[2020-03-12 18:31] madarax64 commented on #308
Hey @ulupo
Weird - I'm on Ubuntu 18.04.

This one:
`subprocess.CalledProcessError: Command '['git', 'submodule', 'update', '--init', '--recursive']' returned non-zero exit status 128.`

[2020-03-12 18:33] ulupo commented on #308
Ubuntu 18.04 should definitely be supported by the manylinux wheels. So just to be clear, what does a run of
[code]
on a fresh environment, not in the repository root, yield?

[2020-03-12 18:35] madarax64 commented on #308
So I upgraded my pip3, and then simply did:
`pip3 install giotto-tda`
And that worked off the bat. But when I actually run code, I get an error reading:
`Illegal Instruction (core dumped)`

Running with gdb like above gives the following error:
`Thread 1 "python3" received signal SIGILL, Illegal instruction.
0x00007fffd3b24870 in ?? () from /usr/local/lib/python3.6/dist-packages/giotto_ripser.cpyt

[2020-03-12 18:39] ulupo commented on #308
Illegal Instruction (core dumped)

Could you give us the code you ran, to reproduce?

[2020-03-12 18:40] ulupo commented on #308
Thread 1 "python3" received signal SIGILL, Illegal instruction. 0x00007fffd3b24870 in ?? () from /usr/local/lib/python3.6/dist-packages/giotto_ripser.cpython-36m-x86_64-linux-gnu.so

So this is installing from a clone of the repository? By wich I mean
[code]

The error looks like an esoteric C++-related error, which @MonkeyBreaker may be in a better position to diagnose.

[2020-03-12 18:55] madarax64 commented on #308
I'm not working in Anaconda or a Virtualenv, so this is directly on my machine. Running `pip3 install giotto-tda` in say, an empty folder works perfectly without any errors, after I upgraded my pip3 to version 20.

To reproduce the error, you can run the following:
`python3 -c "import gtda.homology as hl"`

No, I never installed from the clone of the repository. This came from the version I got fr

[2020-03-13 07:03] MonkeyBreaker commented on #308
Hi @madarax64,

Sorry that you encounter `Illegal Instruction (core dumped)`, this was fixed yesterday in PR #360.
This was caused by illegal instructions running on the CPU, in this case some AVX instructions that your CPU does not support.

I don't know when will the wheels integrate this change, but I think that `giotto-tda-nightly` should now integrate them, or am I wrong @ulupo ?

[2020-03-13 07:11] ulupo commented on #308
@MonkeyBreaker @madarax64, I don't think a nightly with these changes has been pushed yet. But the new stable version 0.2.0 which will include these fixes will be out today or Monday.

[2020-03-13 08:21] madarax64 commented on #308
Hi @ulupo @MonkeyBreaker
Thanks, I look forward to it. I really appreciate it.

[2020-03-13 09:59] ammedmar commented on #361
How about the following entry?

Entry name: Pairwise distance and amplitude.
Defined concepts:
* pairwise distance
* amplitude
* metric
* norm
* kernel

[2020-03-13 10:16] wreise opened #365 "Warning in CechComplex bindings"
**Describe the bug**
`CechComplex` produces a warning during `__del__`.

**To reproduce**

[code]

**Expected behavior**
Nothing

**Actual behaviour**
Outputs
[code]

**Versions**
[code]

[2020-03-13 11:00] MonkeyBreaker commented on #365
My bad, I made a mistake on the bindings,

It is:
[code]

And it should be:
[code]

But even more strange is why our test do not show the problem, I covered this kind of issue.
When I look at the output of the tests with the following command `pytest gtda/externals/python/tests/test_cech_complex.py -v -s` I get the following:

[code]

[2020-03-13 15:26] ammedmar commented on #361
Also, I see that all implemented "metrics" are actual metrics. Why does one need the more general notion?

[2020-03-16 07:46] wreise commented on #365
Thanks!

[2020-03-16 07:46] #365 closed, assigned to reds-heig

[2020-03-18 11:21] ulupo commented on #361
I am unsure that the issue is really solved by #370, although the additions there certainly prepare the ground. My point here is that the newcomer who wonders "what does landscape distance mean?" finds little help in the theory glossary.

The vague proposal here is at least to unify all notions of pairwise distances and of amplitudes which come from functional L^p norms of vectorisations. For now

[2020-03-18 13:40] ammedmar commented on #361
OK, so, let me freestyle a bit. What about an entry called _vectorizations, kernels and amplitudes_ defining these concepts respectively as a function to an inner product space, the pull back of the inner product via one such function, and the pull back of the norm. This will work if all implemented vectorization for PDs send the fat diagonal to 0.

Then, have an entry for _Lˆp inner product space

[2020-03-22 17:52] lgaborini opened #374 "Broken links in plotting API docs"
**Describe the bug**

All links in the plotting API [tutorial](https://giotto-ai.github.io/gtda-docs/latest/notebooks/plotting_api.html) are broken.
They point to the `dev` version, but the only `latest` is live.

- the mapper tutorial points [here](https://giotto-ai.github.io/gtda-docs/dev/notebooks/plotting_api.html) instead of [here](https://giotto-ai.github.io/gtda-docs/latest/notebooks/mapper

[2020-03-22 17:59] ulupo commented on #374
@lgaborini, thanks for reporting this. Apologies for the inconvenience. We are aware of most of what you report (I'll double check about the Markdown errors though, so thanks!). Those issues are there because unfortunately the new docs are still too tricky to deploy automatically, and the changes just introduced with #363 at the doc level have not yet been all deployed manually.

Additionally, we

[2020-03-23 08:55] #144 closed, assigned to lewtun, wreise, ulupo

[2020-03-23 10:52] lgaborini commented on #374
Thanks, looking forward to 0.2.0!

[2020-03-23 12:07] ulupo commented on #374
@lgaborini us too! Nearly there... #375

[2020-03-23 19:19] ulupo commented on #374
@lgaborini 0.2.0 is out and the issues should all be fixed. May I close the issue?

[2020-03-23 21:43] lgaborini commented on #374
Yep!

[2020-03-23 21:43] #374 closed, assigned to wreise

[2020-03-30 15:58] ulupo commented on #272
This seems to have been rendered obsolete by #306. @wreise, would you like to close the issue?

[2020-03-30 16:05] #299 closed, assigned to ulupo

[2020-03-30 16:33] wreise commented on #272
i believe we didn't close it because of the sphinx-gallery idea, for docstring code examples.
Maybe it can go into a separate issue? Or, some even more remote desiderata list?

[2020-03-30 16:34] ulupo commented on #272
I think sphinx-gallery is the subject of another issue, i.e. #254.

[2020-03-30 18:08] wreise commented on #272
My bad, thanks!

[2020-03-30 18:08] #272 closed, assigned to wreise

[2020-04-06 10:58] #361 closed, assigned to ammedmar

[2020-04-06 21:51] cyinbox opened #387 "plot_point_cloud, and VR.plot can show figures on Jupiter Notebook, but not in standalone Python IDE console"
**Describe the bug**

**To reproduce**

**Expected behavior**

**Actual behaviour**

**Versions**

**Additional context**

[2020-04-07 06:03] ulupo commented on #387
Hi @cyinbox, thanks for the interest! However, we need a little more detail to reproduce. For instance, I just ran this in a Python console session:
[code]
and then
[code]
and as expected in each case I get a browser window/tab opened with the plot correctly displayed. This is what is expected from `plotly` so I cannot reproduce the issue.

All our plotting functions simply construct a `plotly` fi

[2020-04-07 11:19] #130 closed, assigned to ulupo

[2020-04-07 13:02] cyinbox commented on #387
The figures can be rendered in a browser (Jupyter notebook), but not in a standalone IDE, for example, I use Spyder in Anaconda.

[2020-04-07 13:10] ulupo commented on #387
@cyinbox thanks for the feedback.

Could you edit the title and description of the issue to reflect this? Right now, you refer to the "Python console" which I take to mean a Python session launched directly from the terminal (bash, Windows command prompt, etc.) by typing the command "python".

I'm not sure how Spyder works as we only use and reliably support code launched from jupyter notebook/jup

[2020-04-07 13:17] cyinbox commented on #387
Thanks!  I just edited the title of the bug.   Besides Jupyter, development can also use standalone IDE, for example, Anaconda/Spyder, PyCharm, etc. We need to output the figures from these IDEs, so the code in standalone can be developed and deployed as a service. The figures generated from standalone also allows being justified for high-quality/resolution for publishing purpose.  Therefore,  ren

[2020-04-07 13:23] cyinbox commented on #387
yes, The Spyder/Anaconda3 IDE can produce other regular figures, but not from the giotto-tda plottings.

[2020-04-07 13:24] ulupo commented on #387
Thanks again @cyinbox. However, the issue as it stands is not sufficiently detailed for us to act on it quickly. Could you furnish a step-by-step explanation of how to reproduce your situation, adding it to the issue description as per the issue template? I, for instance, use PyCharm so could quickly test there.

[2020-04-07 13:27] ulupo commented on #387
Could you also report on how to reproduce the examples which *do* work for you? Bear in mind they should be `plotly` figures to have a meaningful comparison.

[2020-04-07 13:30] cyinbox commented on #387
Sure, thanks! I will describe it in detail. It probably just needs small code changes (figure shows).

[2020-04-07 14:28] wreise commented on #387
I have managed to plot in the Spyder IDE, using a temporary workaround. I did the following:
1. Install `psutil` and `plotly-orca`
2. Change the plotly renderer to `.svg` (is it what one uses for publications?):
[code]
Maybe this allows you to temporarily visualize the solution.

[2020-04-08 20:38] cyinbox commented on #387
Thank you! Yes, that approach works.  Or I can export the HTML rendered from plotly in giotto.  plotly is for web-based interactive figures.  Probably static figures plotting in giotto are also needed as new features.

[2020-04-09 15:20] wreise commented on #387
@ulupo , do we have a plan on how to address this?
Should we close?

[2020-04-10 11:07] ulupo commented on #387
@wreise, I'm not sure. Let's discuss here.

 I am curious about the last two statements by @cyinbox:

This is not what I thought – `plotly` has plenty of support for high-quality offline plots. It is true that it is made to have *particularly* good support for web integration but also, importantly, for `ipython` (inc., but not only, Jupyter notebooks). The latter is an important strength for `giot

[2020-04-14 09:43] miltminz opened #397 "PairwiseDistance with bottleneck metric returns non-symmetric matrix when delta is not zero"
Test code:
[code]
The output returns, for example, `X_distance[:, :, 0]` which is not symmetric. As noticed by @ulupo in [this discussion](https://groups.io/g/dionysus/topic/bottleneck_distance_is_not/22450341?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,22450341), the computation of the bottleneck distance is made by Hera and when delta is not zero the calculations are approximate and symmetry

[2020-04-14 10:10] miltminz opened #398 "Doc typos"
Section Theory Glossary - Homology

Persistence landscape
Line 6:  :math:`k`

Weighted silhouette
Line 2:  :math:`D` weighted by :math:`w`
Line 6:  :math:`p`

[2020-04-14 12:48] ulupo commented on #398
@ammedmar would you mind slotting some fixes in #394 ?  The point is that while surrounding math environments with \textit works in pure LaTeX, it does not play well with pandoc's way of generating the RST files which are uploaded to the web.

[2020-04-14 13:08] ammedmar commented on #398
Noted. Fixes in PR #394

[2020-04-15 16:17] miltminz opened #399 "[BUG] Mapper colormap for large range variables"
**Describe the bug**

Function `plot_static_mapper_graph` produces a wrong colouring of the nodes of the mapper graph. This happens apparently only for variables with large ranges.

**To reproduce**

[code]
**Expected behavior**

In the dropdown menu 'Column A', graph nodes are coloured differently according to the mean value of the elements in the node.

**Actual behaviour**

In the dropdown menu

[2020-04-15 19:32] cyinbox commented on #387
Sorry for being late in replaying

I think the better approach is to add new functions in plotting tda diagrams using matplotlib, while keeping the plotly.  The plot functions by matplotlib are for static figures, and the existing plotting functions by plotly  are for interactive web figures.

https://github.com/giotto-ai/giotto-tda/issues/387#issuecomment-611986141

[2020-04-17 11:28] #356 closed, assigned to nobody

[2020-04-17 11:29] ammedmar commented on #398
Should I close this issue? Now that the fix is merged?

[2020-04-17 11:30] ammedmar commented on #343
Should I close this issue now that #394 is merged?

[2020-04-17 11:30] ulupo commented on #398
@ammedmar I believe so!

[2020-04-17 11:36] ammedmar opened #401 "Expand time series glossary entries"
**Is your feature request related to a problem? Please describe.**
As pointed out by @wreise , the explanations surrounding time series and takens embedding are not ideal.

**Describe the solution you'd like**
Rewrite and expand the section Time Series in the glossary

**Additional context**
See also #250

[2020-04-17 11:44] #398 closed, assigned to ammedmar

[2020-04-22 11:49] miltminz opened #403 "Scaled color_variable in plot_static_mapper"
**Describe the problem**

When giving an input to `color_variable` parameter in `plot_static_mapper`, the resulting variable results scaled in the interval [0, 1]

**To reproduce**
[code]
**Proposed solution**
Show the `color_variable` unscaled as for the other variables of the dataframe (as one can see in the dropdown menu) or add a boolean parameter to let choose between a scaled version or an u

[2020-04-22 11:50] ulupo commented on #403
Thanks for reporting this @miltminz!

[2020-04-22 11:58] miltminz opened #404 "Display value of colouring attribute on nodes of plot_static_mapper_graph"
**Describe the solution you'd like**

In the output of `plot_static_mapper_graph` when one hovers over a node of the graph it would be useful to display the (by default mean, in general defined by `node_color_statistic`) value of the colouring attribute selected in the dropdown menu.

[2020-04-22 12:03] ulupo commented on #404
Thanks for reporting this @miltminz! One of us will open a PR with a suggested fix ASAP.

[2020-04-24 07:14] #343 closed, assigned to nobody

[2020-05-20 08:32] ulupo opened #408 "[DOCS] Underscores not properly formatted in API reference"
**Describe the bug**
Underscores in our [API reference page](https://giotto-ai.github.io/gtda-docs/) are displayed with a preceding backslash.  This is visible e.g. in all class attribute names.  As an example, `infinity_values_` is incorrectly displayed as `infinity_values\_` in [VietorisRipsPersistence](https://giotto-ai.github.io/gtda-docs/latest/modules/generated/homology/gtda.homology.Vietori

[2020-05-20 08:38] ulupo opened #409 "[BUG] `plot_diagram` assumes no data with negative x- or y- coordinates"
**Describe the bug**
`plot_diagram` is currently hard-coded to only display the positive x- and y-axes, due I believe to the way `range` is set for the `xaxis1` and `yaxis1` keys in the figure's `layout` dictionary, see https://github.com/giotto-ai/giotto-tda/blob/c5bae0438d056ed9977ccc3e9edf34dbe513a6ca/gtda/plotting/persistence_diagrams.py#L31

As e.g. `CubicalPersistence` will often lead to neg

[2020-05-31 09:48] #399 closed, assigned to nobody

[2020-05-31 09:48] #403 closed, assigned to nobody

[2020-05-31 09:48] #404 closed, assigned to nobody

[2020-06-06 22:11] charliecb opened #418 "[BUG] Installation error on Windows 10 (user)"
**Describe the bug**
During pip install giotto-tda, dependency on pycairo error thrown.

**To reproduce**
Install Python 3.8.3 on Windows 10, and run pip install giotto-tda.

**Expected behavior**
I expect giotto-tda to install pycairo automatically.

**Actual behaviour**
After running pip install giotto-tda, I have the following:

`ERROR: Packages installed from PyPI cannot depend on packages whi

[2020-06-07 00:03] ulupo commented on #418
@charliecb your error couldn't have been produced by the version currently hosted on PyPI. The link `https://storage.googleapis.com/l2f-open-models/giotto-learn/windows-binaries/pycairo/pycairo-1.18.2-cp38-cp38-win_amd64.whl` no longer exists in the codebase (it was removed a few versions back) – I've even double-checked by examing the correct Windows wheel for Python 3.8, which is https://files.p

[2020-06-08 16:17] ulupo commented on #418
@charliecb did you have any luck with the approach suggested above?

[2020-06-17 19:39] ektas0330 opened #423 "Attribute error when importing Binarizer or HeightFiltration from gtda.images"
I was able to successfully install giotto-tda using pip. (Using Python 3.6.10 in Anaconda virtual environment on a computer running Windows 10)

The import for Binarizer and HeightFiltration fails with the following traceback

File "giottoTrial.py", line 15, in <module>
    from gtda.images import Binarizer,HeightFiltration
  File "C:\Users\mypc\anaconda3\envs\py36\lib\site-packages\gtda\images\__

[2020-06-17 21:39] ulupo commented on #423
Hi @ektas0330, thanks for reporting this. At the moment, I cannot reproduce the issue as I interpreted it. Namely, I created a python 3.6.10 environment, created a `test.py` file whose only content is
[code]
and am executing this script from the command line via `python test.py`. I encounter no issues even after executing the script 10 times.

It would help if you could you provide more detail, es

[2020-06-17 23:07] ektas0330 commented on #423
Thanks for the quick response @ulupo. Here's a skeleton of what I am trying to do in giottoTrial.py
[code]

Sorry for missing to mention this before, but seems like the following is the issue:
I had tried to use ```os.environ["CUDA_VISIBLE_DEVICES"] = "1" ``` at the beginning of my code to see if I can run computations on a GPU (i wasn't sure about compatibility; so I just gave it a shot) It seems

[2020-06-18 04:53] ulupo commented on #423
@ektas0330 thanks for figuring this out! I couldn't tell you why what you did broke the installation but yes, `giotto-tda` does not yet have GPU support.

Since this seems to be resolved now, I'll close the issue.

[2020-06-18 04:53] #423 closed, assigned to nobody

[2020-06-23 19:19] anorak94 opened #426 "Computing pairwise distance between persistence diagrams of a list of filtrations"
I have two sets of images, one set is the reference database and the other is a deformed version of the reference dataset. I want to find these deformed images in the reference dataset. I am computing the filtrations for these deformed images, so i have a list of 5 filtrations, radial, signed distance, erosion, dilation and height. Then i use Cubical Persistence to compute the persistence diagram

[2020-06-24 10:49] ulupo commented on #426
Hi @anorak94! I'll try to answer the question of how to compute pairwise distances between diagrams computed according to different filtrations. One possibility is to use `sklearn`'s `FeatureUnion`. See e.g. the following example:
[code]
Then `res` is a 2D numpy array with the following characteristics:
- It has size `(X.shape[0], len(features_to_combine) * Y.shape[0])`.
- For any `i`, `j` and `k`

[2020-06-24 13:01] anorak94 commented on #426
hey @ulupo

Thanks for your help. Could you tell me what kind of topological features might be most helpful for classifying shapes in images. I have a reference set of images of the cerebellum and other set of images obtained experimentally.

<img width="915" alt="Screenshot 2020-06-24 at 14 58 46" src="https://user-images.githubusercontent.com/45297533/85560769-45da3a00-b62b-11ea-9cba-7fd9e2455b9

[2020-06-24 13:21] anorak94 commented on #426
also during persistence diagram calculations i get b,d,q triplets and the documentation says only those triplets are valid in which b<d. Is this taken care of during the persistence entropy and pariwise distance computation if not what is the correct way to handle such spurious triplets

[2020-06-24 13:51] ulupo commented on #426
Concerning your last question: all our transformers deal with triplets correcting, ignoring trivial padding triples. The point in the documentation is that if you want to write your own transformers acting on the outputs of PH calculations, you need to do the same and ignore padding triples.

[2020-06-24 13:53] anorak94 commented on #426
ah thanks any tips for the first question

[2020-06-24 13:58] ulupo commented on #426
Hey @anorak94. My colleagues who have more experience in the image domain will get in touch with you concerning the other question. Not to discourage you on asking such questions (please do), but GitHub issues are not really the correct vehicle for research-style questions. For these, please contact us via email instead, or e.g. on the Giotto-ai Slack channel :)

[2020-06-24 14:00] anorak94 commented on #426
thanks @ulupo i will close this issue

[2020-06-24 14:11] ulupo commented on #418
HI @charliecb, I'm closing the issue due to inactivity. Please let us know if you are still experiencing difficulties.

[2020-06-24 14:11] #418 closed, assigned to nobody

[2020-06-24 14:27] ulupo commented on #426
@anorak94 is there still some remaining implementational question that explains the reopening of the issue?

[2020-06-24 14:28] anorak94 commented on #426
ah no sorry you said someone else might get in touch
thats why i reopened it should i close it i dont have an implementation question more of a research question

[2020-06-24 14:29] ulupo commented on #426
They will contact you by email (I believe you already contacted them, or at least one of them?). I'm closing the issue.

[2020-06-24 14:29] #426 closed, assigned to nobody

[2020-06-24 17:48] NickSale opened #427 "[BUG] read-only error when computing persistence image or heat kernel with input > 1MB and n_jobs > 1"
**Describe the bug**

"ValueError: assignment destination is read-only" error thrown when calling transform (or fit_transform) on PersistenceImage or HeatKernel with n_jobs > 1 and diagrams sufficiently large

**To reproduce**

Gist HeatKernel: https://gist.github.com/NickSale/30d9ae30b2d99b3d62700a4a92907422
Gist PersistenceImage: https://gist.github.com/NickSale/403ba2218de93fc9dbefb77e1ab9d0f3

[2020-06-24 18:02] ulupo commented on #427
Thanks @NickSale! I'm investigating whether this is a bug of `giotto-tda` or of `joblib`. Are you able to reproduce the issue with "nontrivial" input data? In your examples, the input persistence diagrams are all trivial (birth=death). When I make a non-trivial example (e.g. adding `1` in the second column) I do not see the issue.

[2020-06-24 18:05] ulupo commented on #427
@NickSale actually, let me correct that: when I change the line
[code]
for
[code]
or
[code]
then things work out (regardless of triviality).

So indeed data size seems to be the issue here.

[2020-06-24 18:13] NickSale commented on #427
Hi @ulupo - I originally ran across this bug when working with a large collection of non-trivial diagrams coming from a project I'm working on. I managed to figure out what was happening and you might have seen that I've just submitted a pull request which should fix it, but it seems to be that joblib is working as expected, just that its automatic memory mapping functionality hadn't been accounte

[2020-06-24 18:16] ulupo commented on #427
Hi, yes I'm looking at #428 now, thank you very much for it! At first glance it looks like your diagnosis and fix are on point.

[2020-07-14 16:30] ulupo opened #431 "New list created by check_point_clouds even when copy=False"
_Originally posted by @gtauzin in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjc2ODE3ODEwOnYy/pull_request_review_threads/discussion_

The reason for this situation is explained in my responses https://github.com/giotto-ai/giotto-tda/pull/424#issuecomment-648844401 and https://github.com/giotto-ai/giotto-tda/pull/424#issuecomment-649536688.  However, a better solution may

[2020-07-16 17:26] #115 closed, assigned to lewtun, matteocao, ulupo

[2020-07-20 21:38] ulupo opened #438 "[BUG] `Amplitude` fails with metric='persistence_image'"
**Describe the bug**
Instead of returning an array of amplitudes, `Amplitude(metric='persistence_image').fit_transform` fails on typical input.

**To reproduce**
[code]

**Expected behavior**
Amplitudes based on persistence images are returned.

**Actual behaviour**
[code]

**Versions**
Windows-10-10.0.18362-SP0
Python 3.8.3 (default, May 19 2020, 06:50:17) [MSC v.1916 64 bit (AMD64)]
NumPy 1.19.0

[2020-07-21 11:45] #427 closed, assigned to nobody

[2020-07-28 10:19] #409 closed, assigned to nobody

[2020-08-01 21:16] #91 closed, assigned to gtauzin, ulupo

[2020-08-02 08:21] ulupo commented on #233
@wreise it's worth pointing out that the first implicit assumption you mention is implied by the second -- if all sample diagrams have the same number of triples in each homology dimensions then in particular the only homology dimensions one can ever see are the ones contained in the first sample. Of course it is true that one can have the first assumption without the second, but AFAIK this does n

[2020-08-02 09:00] ulupo commented on #387
This has now been implemented in #441 and with the addition of `plotly_params` one has further control over how the figure is generated. Furthermore, since the figure is returned the user can export it in a convenient high-quality format (SVG, PDF, etc) if they so desire.

Unfortunately, we do not have the resources to satisfy @cyinbox's wish of having alternative `matplotlib`-based plotting funct

[2020-08-02 09:00] #387 closed, assigned to nobody

[2020-08-02 10:11] #233 closed, assigned to wreise

[2020-08-02 19:26] lewtun opened #446 "[BUG] Dev install fails on macOS Catalina with Python 3.8"
**Describe the bug**

I am running into C++ errors during the developer install (stack trace below) 😭

**To reproduce**

1. Create a conda env with Python 3.8:
[code]
2. Install the external dependencies:
[code]
3. Install the remaining dependencies:
[code]

**Expected behavior**

Install step passes without error.

**Actual behaviour**

[code]

**Versions**

- macOS-10.15.5-x86_64-i386-64bit
- Py

[2020-08-02 19:51] ulupo commented on #446
That's interesting, things are OK with me on macOS-10.15.6 and Python 3.8.3. And I think I even had 10.16.5 + 3.8.3 in a previous machine...

[2020-08-03 06:17] MonkeyBreaker commented on #446
I'll try to reproduce it (but I do not have any Mac machine...), but I'm a bit surprised that the error is:

* `error: deduced return types are a C++14 extension`

Quite strange, I cannot see your gcc version, could you please put the gcc version: `gcc --version`

[2020-08-03 06:23] ulupo commented on #446
I had a working installation with `gcc` versioned at 9.3. I've now upgraded `gcc` to 10.2.0 via `brew` (leaving `boost` at 1.720_2) and still cannot reproduce @lewtun's issue.

[2020-08-03 06:27] MonkeyBreaker commented on #446
That's bothersome, @lewtun did you run `python -m pip install -e .` in a directory where you had already build in the past ?
What I mean is, did you already have a `build` directory ?

If yes, try to delete the build directory and also delete the `gtda/externals/pybind11` directory so he download the latest version.

I'm looking if I find a reason of this happening.

[2020-08-03 06:30] ulupo commented on #446
I also just upgraded `boost` from 1.72.0_2 to 1.73.0, and still can install without issues.

[2020-08-03 06:34] MonkeyBreaker commented on #446
I don't think it's related to boost (at least at the moment)
I think more about a compilation conflict if the folder already contained a previous build with a different version.
But I'll wait for @lewtun input first.

[2020-08-03 06:35] ulupo commented on #446
Sure, I just wanted to help you try reproduce as I have access to a mac :). I too had previous issues which ended up resolved after cleaning the build folders.

[2020-08-03 06:41] MonkeyBreaker commented on #446
Sure thank you :)

It's always a bit frustrating when compilation fails and it's hard to reproduce :sweat_smile:

At least at the moment, on `pybind11` side, the requirement is to be at `>=c++11` (as in the past) and from what I see, the error arise with the `hera` compilation, and the `hera` version we use did not change at the moment.

[2020-08-03 08:12] lewtun commented on #446
Hi @MonkeyBreaker thanks for the tips! Here's the result from `gcc --version`:
[code]
Is it possible that the problem is that I'm using `clang` instead of a native `gcc` compiler?

This is a clean install, but in any case I tried as you suggested and deleted the `build` and `pybind` directories - the error remains 😿.

For reference I'm running `cmake` version 3.18.1

[2020-08-03 08:14] ulupo commented on #446
Incidentally, running `gcc --version` gives me similar results as @lewtun, namely
[code]

However, in my case things work smoothly.

[2020-08-03 08:27] lewtun commented on #446
I'll try a completely clean install later tonight and report back if there's still a problem.

[2020-08-03 08:30] MonkeyBreaker commented on #446
Just to force everything, could you just try to add this to `CMakeLists.txt` file at root of the project:

* line 4: `set (CMAKE_CXX_STANDARD 14)`

Delete the build directory and run everything again.

[2020-08-03 08:31] MonkeyBreaker commented on #446
@ulupo ony your side when you repeated the installation procedure, you were in a conda environment ?

[2020-08-03 08:32] ulupo commented on #446
@MonkeyBreaker yep, a fresh one created just for this test. And I had a fresh clone of the repo.

[2020-08-03 09:25] lewtun commented on #446
@MonkeyBreaker your tweak to `CMakeLists.txt`did the trick 🎉 🚀 🥳 ! Should we include this line in future?

[2020-08-03 09:39] MonkeyBreaker commented on #446
We shouldn't :sweat_smile:
Normally the `CMakeLists.txt` file has for each module the flag enable, it's really really strange

BTW, which cmake version both of you are you using ?

[2020-08-03 09:40] ulupo commented on #446
Running `cmake --version`, I get 3.17.2.

[2020-08-03 09:46] lewtun commented on #446
I'm running `cmake` version 3.18.1

[2020-08-03 09:49] ulupo commented on #446
@MonkeyBreaker, what do you think about this:
- first I try a fresh install with your fix for @lewtun on my current `cmake` version (to have a better idea of retrocompatibility if we integrate that fix in the repo);
- then I upgrade `cmake` to be in line with Lewis, and try a fresh installation again.

[2020-08-03 09:51] MonkeyBreaker commented on #446
To have more details of what does cmake do in your case, could you please share the output of a file with and without the option enable (`set_property(...)`)

The file: `build/<something_related_to_your_architecture>/CMakeFiles/gtda_bottleneck.dir/flags.make`

Before running each version, please delete the build folder.

On my system I have something like:

[code]

[2020-08-03 09:53] MonkeyBreaker commented on #446
@ulupo I would like to not integrate my "hack" into the library, if there's a problem, I would prefer to find where the configuration is wrong.

Updating the cmake could be a good idea, on my system I have a prehistoric version (cmake version 3.10.2)

[2020-08-03 20:04] ulupo commented on #446
@MonkeyBreaker just checking in to say that I tried upgrading my `cmake` to be the same version as @lewtun's, i.e. 3.18.1, and I still cannot reproduce the issue on a fresh install (new conda env, removed build files).

[2020-08-03 20:22] MonkeyBreaker commented on #446
@ulupo Thank you for the insights, at least it doesn't see to be the cmake version the culprit.

@lewtun If you can please, provide the content of `build/<something_related_to_your_architecture>/CMakeFiles/gtda_bottleneck.dir/flags.make`, when the hack I give you is enable and also when disable. (don't forget to delete the build directory ;)

But right now I'm struggling to understand why this has

[2020-08-03 20:32] lewtun commented on #446
@MonkeyBreaker see below for the contents of `flags.make`:

### With hack
[code]

### Without hack
[code]

As far as I can tell, the contents are the same 🤔. I'm not sure whether it is worth spending much time trying to debug a non-reproducible bug ... I'm happy to use you hack and leave this as a mystery for now (my macbook is > 5 years old, so it could be something weird there).

[2020-08-04 05:55] MonkeyBreaker commented on #446
@lewtun Don't worry but thank you, we can clearly see the issue in your files:

## With hack

[code]

## Without hack

[code]

Now why the standard isn't set properly to c++14, is quite strange, I'll look on cmake forums if I can find something related to this issue.

[2020-08-04 06:19] MonkeyBreaker commented on #446
Could you try on the meantime 2 different versions of `CMakeLists.txt`

* [cfeatures_CMakeLists.txt](https://github.com/giotto-ai/giotto-tda/files/5020406/cfeatures_CMakeLists.txt) (delete before the underscore)
* [checkEnable_CMakeLists.txt](https://github.com/giotto-ai/giotto-tda/files/5020407/checkEnable_CMakeLists.txt) (delete before the underscore)

Each time of course delete the `build` dire

[2020-08-04 06:57] MonkeyBreaker commented on #446
Maybe I found out the reason, see [link](https://gitlab.kitware.com/cmake/cmake/-/issues/15943).

If the fix resolves the issue, good, but I don't understand why everyone isn't affected by the issue.

After trying the CMake files in my previous answer, take the orginal CMakeList.txt file, without any modification, and add **before** the `project(gtda_bindings LANGUAGES CXX)` line (line 2), the fol

[2020-08-04 20:59] lewtun commented on #446
Hi @MonkeyBreaker, I tried doing the install with the 2 versions of `CMakeLists.txt` that you provided. In each case I do not find a file is produced in `build/<something_related_to_your_architecture>/CMakeFiles/gtda_bottleneck.dir/flags.make`; indeed there is no `gtda_bottleneck.dir` folder at all and the error says that it can't find `cmake/HelperBoost.cmake` 🤔 .  In case it helps, below are the

[2020-08-05 05:57] MonkeyBreaker commented on #446
@lewtun It's really strange it cannot find `cmake/HelperBoost.cmake`, it's like the file didn't exist at all, like the folder `cmake` was deleted, even more strange, why on the last case it didn't encounter this issue ...

Wait, how do you download `giotto-tda` library ? I have the feeling that you're not working on the `master` branch.

[2020-08-09 20:40] lewtun commented on #446
hi @MonkeyBreaker yes you were right, my `master` branch was outdated - sorry!

here's the contents of `flags.make` for the two cmake files you shared:

### Using cfeatures_CMakeLists.txt
[code]

### Using checkEnable_CMakeLists.txt

[code]

In both cases, the installation did not succeed (as you expected). To be safe I reran your final suggestion

but found the install still does not succeed. Con

[2020-08-09 20:48] ulupo commented on #446
@lewtun, could you pull the most recent version of master which includes the fixes in #451 , and try again? Or have you already done so and I'm confused?

[2020-08-10 06:53] lewtun commented on #446
i'm working from commit f65f89947240dee62d9071789a8e148effe9d257 which looks to be the latest on `master`. sorry for the confusion 😬

[2020-08-10 06:59] ulupo commented on #446
Right. But this seems at odds with line
[code]
in your stack trace, doesn't it?  Perhaps you can try to clean up any remnants of a previous `pybind11` installation?

[2020-08-10 07:02] ulupo commented on #446
I.e. I think the following line:
https://github.com/giotto-ai/giotto-tda/blob/f65f89947240dee62d9071789a8e148effe9d257/setup.py#L114
might be responsible for your issue. So maybe you can try deleting `gtda/externals/pybind11` and try again?

[2020-08-10 16:03] lewtun commented on #446
Good catch @ulupo! Removing the `pybind11` directory did the trick with

[code]

in the `CMakeLists.txt` file. I think adding this change should fix the problem for future noobs like myself 🙃

[2020-08-10 16:06] ulupo commented on #446
@lewtun that's great news! Are you convinced that the change to `CMakeLists.txt` was also necessary? I ask because we observed that an update to `pybind11`'s master branch caused our Azure pipelines to fail, but this was single-handedly solved on the Azure machines by fixing to the 2.5 branch, without any changes to `CMakeLists.txt`.

[2020-08-10 16:12] lewtun commented on #446
Even better catch 😸 !

I just did a clean build from commit 3bb84d905fb7b8294247bc04b7993a626a4aa3bb (_without_ @MonkeyBreaker's proposed change to `CMakeLists.txt`) and the installation also works!

So after all this, I think we can safely close this issue. Thanks for all you help and sorry for taking up your time on this annoying topic

[2020-08-10 16:13] ulupo commented on #446
Hoorray! Fixed by #451.

[2020-08-10 16:13] #446 closed, assigned to nobody

[2020-08-12 17:14] changshuowang opened #455 "Does giotto-tda yet have GPU support?"
Hello,the program runs slowly in the cpu, then how the giotto-tda  has GPU support if it maybe?

[2020-08-12 17:15] ulupo commented on #455
Hello! Unfortunately, `giotto-tda` is a CPU-only library at the moment. We will keep you up to date when GPU support is here!

[2020-08-12 17:15] #455 closed, assigned to nobody

[2020-08-14 07:02] #438 closed, assigned to wreise, ulupo

[2020-08-23 15:39] ulupo commented on #59
@arksch was this ever resolved? Is it still happening with the latest version of  `giotto-tda`?

[2020-08-23 15:40] #77 closed, assigned to nobody

[2020-08-23 15:42] ulupo commented on #85
Fixed by #439.

[2020-08-23 15:42] #85 closed, assigned to gtauzin, ulupo

[2020-08-23 15:45] ulupo commented on #141
The documentation is now clearer in this regard.

[2020-08-23 15:45] #141 closed, assigned to ulupo

[2020-08-23 15:54] ulupo commented on #164
In my opinion, this point makes the above a non-issue. in the case of static mapper graphs. Interactive graphs are a more complex story perhaps, but I don't think we have the resources to work on this. I'm in favour of closing this issue.

[2020-08-23 15:55] #159 closed, assigned to gtauzin, lewtun, ulupo

[2020-08-24 07:15] beew opened #463 "Tests failed"
I built and installed giotto-tda successfully but running

pytest gtda resulted in a lot of errors because 'gtda.externals.modules' are missing from the test suite/

[code]
python-3.7.8 on Ubuntu, compilld gtda from master.

[2020-08-24 08:34] ulupo commented on #463
Hi @beew, thanks for the report! Could you please retry this on a completely fresh environment?  It looks to me like you are missing the compiled components.

To help me diagnose, if you are using `conda`, please create and activate a fresh environment via
`conda create --name gtda_tests python=3.7.8 -y && conda activate gtda_tests`
then please clone the repo again in a *new* directory, `cd` to th

[2020-08-24 09:13] beew commented on #463
But I am not using conda, I have python installed in a local folder and use a script to invoke it, works fine for me. conda just pulls in too much junks and I have to reinstall a lot of duplicate packages. I think a git pull and git submodule sync
 git submodule update --init --recursive should be able to bring in all the components, no?

[2020-08-24 09:41] ulupo commented on #463
Thanks for the reply @beew. You could also use `virtualenv` to create a virtual environment if you prefer to avoid `conda`. If you prefer not to use environments at all, and to avoid worrying too much about submodules I suggest that you:
- uninstall `giotto-tda`;
- delete the repo and clone it again (let me know if you are worried about this step -- I don't see any problem with it personally if yo

[2020-08-24 10:00] beew commented on #463
Hi,

Just tried again, turned out I was building with the wrong command "python setup.py build  python setup.py install" so this time I did
python m pip install -e ".[dev]"

I still get errors but different ones

[code]

[2020-08-24 10:19] ulupo commented on #463
You seem to have a visualization library called `igraph` installed, instead of or as well as `python-igraph`. So all your `igraph` imports in the `gtda` code are failing.
[code]
This suggests you should run `python -m pip install --upgrade igraph`, and then check `python-igraph` is installed: `python -m pip install python-igraph`.

Unless, of course, you don't care about the visualization library

[2020-08-24 11:17] beew commented on #463
Hi
It works (mostly) now

There is still one failed test

[code]
I am wondering if numpy >= 1.19.1 is necessary because of this https://github.com/numpy/numpy/issues/16769
The test is done with numpy binary installed with pip (not compiled against MKL)

Thanks for the help.

[2020-08-24 11:27] ulupo commented on #463
@beew, I'm glad things are basically OK now. The problem you are observing is numerical, it's due to the fact that `hypothesis` produces for us a huge amount of examples, many quite pathological (it helps us find corner failures and fix them!). I think in your case it is producing particularly large values that `numpy` is not happy to handle.  It might even not happen on a second run (`hypothesis`

[2020-08-24 11:44] beew commented on #463
I just tested with numpy 1.18.5 (by editing requirement.txt) 57tests failed all because of "ValueError: cannot reshape array of size 0 into shape (0,newaxis)"

The issue with numpy 1,19.1 is not critical, it failed a test when compiled against MKL (and it failed three instead of one test for gtda for stock numpy installed with pip)

g-tda installed with pip only need numpy >= 1.17.0. Is there anyw

[2020-08-24 12:01] ulupo commented on #463
@beew I'm not sure I fully follow. `numpy` is now required at at least 1.19.1 on `master` (https://github.com/giotto-ai/giotto-tda/blob/master/requirements.txt), and indeed there are no guarantees with lower versions such as 1.18.5. What version do you have installed when you test the dev install of `gtda`? Does the error appear on subsequent runs, or is it sporadic?

I don't understand. Do you me

[2020-08-24 12:17] beew commented on #463
@ulupo
All tests above were done with numpy 1.19.1 on master.

BTW I rerun the test again and this time I ran out of memory

[code]

I have 32G of ram.

[2020-08-24 12:39] ulupo commented on #463
@beew thanks. Perhaps our tests can be quite extreme on some systems, such as yours.  I experience no problems on a 2017 Windows (!) laptop with only 16 GB RAM, or on a more modern MacBook with 16GB RAM, but the OS could be playing a part too. You can tweak the parameters to avoid ending up testing such extreme scenarios. In particular, in both tests you can try lowering the values of `sigma` some

[2020-08-25 10:26] ulupo commented on #463
@beew are you happy with the suggestions above?

[2020-08-25 17:43] beew commented on #463
@ulupo

Hi, I tried build again on a fresh git pull yesterday and everything worked. Looks like you have removed the problematic test? Anyway I won't have access to that laptop for a month and the temporary replacement I am having now is quite weak for testing anything.

[2020-08-25 17:47] ulupo commented on #463
Hi @beew. I'm glad things are working out perfectly for you. We did not modify any test whatsoever, as I was saying above the issue you were experiencing has almost surely just to do with pathological example generation by `hypothesis` (which is a good thing despite some nuisances sometimes). I hope you enjoy using and developing on Giotto-tda. I'll close the issue.

[2020-08-25 17:47] #463 closed, assigned to nobody

[2020-08-25 17:51] beew commented on #463
I see. I tried it on the replacement machine with only 4 G or ram and it works too though a bit slow. Thanks for the help!

[2020-08-29 07:07] gtauzin commented on #108
Thanks Umbe, I agree with both your points. Indeed there are many things to get from `sklearn` by just making it available on a collection of objects and decorators are definitely the way to go, but I believe for praticality and documentation purposes each class should be independently wrapped.

Also I would love to have MDS act on a collection of distance matrices, even if is just for visualizati

[2020-09-01 23:50] #92 closed, assigned to ulupo

[2020-09-03 15:19] ulupo commented on #108
Thanks @gtauzin, yes having been prompted by you to look at this again I think we can do a good job of this. In principle, any dimensionality reduction algorithm (IsoMap, MDS, UMAP, you name it) could and should be turned into a version for collections in an easy way.  Individually wrapped is fine of course, but what is the main argument against a factory function that works universally for anythi

[2020-09-08 22:29] jlevy44 commented on #59
I'm getting this issue as well.

[2020-09-09 05:30] ulupo commented on #59
@jlevy44 thanks for the report! Could you please provide us with your setup and with a minimum working example so we can try to reproduce this issue?

To get the setup, please run the following snippet and paste the output:
[code]

[2020-09-09 12:07] jlevy44 commented on #59
Sounds good.
[code]
Instead of posting a working example, I can send you my solution, which I was able to get to run! I ended up hacking your script and replacing the joblib backend with dask:
[code]
This worked as intended. :)

[2020-09-09 12:10] ulupo commented on #59
@jlevy44 thanks for reporting on your setup and it's interesting that you found a solution with dask!

However, it is still important to have a minimum working example (if you are able to provide it), to be able to better pinpoint the exact origin of the problem. Since we use `joblib` for now, we cannot fix the issue otherwise!

[2020-09-09 12:12] ulupo commented on #59
Additionally, I'm wondering if you were passing a collection with a single sample even before finding the solution with dask.

[2020-09-09 12:16] jlevy44 opened #485 "Model Interpretation"
Thanks for the great package! I love the concepts introduced by TDA and really appreciate formalizing this into a user-friendly package for TDA novices like me to use :)

I am wondering, when fitting persistence images and entropies, I suppose diagrams for that matter, then wrapping another model such as LogisticRegression for prediction tasks, what means may be used to interpret which collection

[2020-09-09 12:31] jlevy44 commented on #59
No, I wasn't, if I'm understanding you correctly. Sometimes it (joblib backend) would work (especially if I reduced the number of point clouds to ~30), other times it would fail (especially close to 100 clouds and higher max_edge_length).

I am unable to provide our working example right now, apologies!

[2020-09-09 12:35] ulupo commented on #485
Hi @jlevy44, your question is very relevant and it can be broadly stated as follows: how do you "locate" the topological features computed by persistent homology algorithms?

This is a very relevant research question.  The short answer is that mathematically speaking, a single topological feature may be concretely "realized" by several "equivalent" representatives.  This is the "problem of choosin

[2020-09-09 12:40] ulupo commented on #59
@jlevy44 thank you, I understand that you cannot provide this example. Could you perhaps give me information on the shape of the point clouds you use?

[2020-09-09 12:43] ulupo opened #486 "Missing theory for edge collapse in glossary"
#469 and #483 have introduced the possibility of using GUDHI's edge collapse as a preprocessing step for ripser. It would be nice to have this entry in the glossary if possible.

[2020-09-09 14:38] ammedmar commented on #486
On it...

[2020-09-09 14:55] jlevy44 commented on #485
Excellent, thank you for your thoughtful and detailed response! I will think more about this and review some of the material you have sent me.

[2020-09-09 14:58] ulupo commented on #485
Thanks, I'll close the issue but feel free to get in touch for further discussion. Email or the Slack channel would be better for this kind of discussion.

[2020-09-09 14:58] #485 closed, assigned to nobody

[2020-09-09 20:57] #94 closed, assigned to ulupo

[2020-09-10 07:46] ulupo opened #487 "README.rst in examples folder needs updating following introduction of 4 new notebooks"

[2020-09-11 09:41] ulupo commented on #59
@jlevy44 aside from my above question about shapes and number of point clouds used (so I can try my best to reproduce), I'm wondering if you can try the following since you don't seem scared by the idea of changing the source code: in the call to `Parallel` in `VietorisRipsPersistence.transform`, could you try to insert various allowed values for the keyword parameter `backend`, according to https

[2020-09-11 15:03] #250 closed, assigned to ammedmar

[2020-09-11 15:04] ammedmar commented on #250
This system to report issues has been deprecated. Current method is based on a single issue per requested upgrade.

[2020-09-11 15:05] ulupo commented on #250
Thanks @ammedmar !

[2020-09-14 08:31] arksch commented on #59
I cannot reproduce it with the newest version. Solved from my side. Thanks!

Linux-4.15.0-117-generic-x86_64-with-Ubuntu-18.04-bionic
Python 3.6.9 (default, Jul 17 2020, 12:50:27)
[GCC 8.4.0]
NumPy 1.19.2
SciPy 1.5.2
Joblib 0.16.0
Scikit-learn 0.23.2
Giotto-tda 0.2.2

[2020-09-14 09:49] ulupo opened #490 "Proposal: Metaestimators making any fit-transformer act on collections"
I think the issue encountered by @lewtun here is too bad and it shows that we should add some utilities for the user to be able to promote `scikit-learn` transformers (which act on 2D data) to transformers acting on collections of 2D arrays.

It would be quite easy to provide this sort of functionality to the user, and I can see at least two ways.

## A metaestimator taking a transformer instance

[2020-09-14 10:30] ulupo commented on #342
There is no tension actually: `np.bool` is simply an alias for `bool`, and `np.bool_` (which is not the same as `bool`) is the type of each object in a boolean `numpy` array. See https://stackoverflow.com/questions/55905690/how-exactly-does-the-behavior-of-python-bool-and-numpy-bool-differ.

[2020-09-14 10:30] #342 closed, assigned to nobody

[2020-09-14 13:29] ulupo commented on #59
@arksch thank you so much for coming back to this thread, and for the report!

It would be good to have @jlevy44's answer so we can attempt to reproduce his issue and improve the experience for other users.

[2020-09-15 07:07] wreise commented on #490
Yes :heart_eyes: ! (I would vote for the solution based on the factory pattern )

[2020-09-15 13:49] ulupo commented on #490
@wreise: @gtauzin and I had a chat about this and we agreed that given that some aspects of the second solution are difficult to test comprehensively in a `scikit-learn` context (dynamical signature and class name changes in particular), and given also that the first solution allows for the estimator type to be treated as a hyperparameter (good for some users), we'll be pushing the first version f

[2020-09-17 08:15] #408 closed, assigned to wreise

[2020-09-17 16:43] ulupo opened #499 "[BUG] CubicalPersistence unable to handle lists of arrays of variable shapes"
**Describe the bug**
Following the changes in #467 which allow `CubicalPersistence` to act on lists of arrays,
https://github.com/giotto-ai/giotto-tda/blob/1472ec629aeee82236730c6e86b1eb2f7acf3c1c/gtda/homology/cubical.py#L169
will fail when `X` is a list of arrays of variable shape.

This can be fixed either by checking for the type of `X` and using different logics for computing the maximum valu

[2020-09-18 06:42] wreise commented on #499
This points to the fact that there are no tests for lists and in particular for the case when `infinity_values=None`
What would you say about changing the tests to
[code]
?

[2020-09-18 06:47] ulupo commented on #499
@wreise you are right about adding tests for lists but a list of arrays of the same shape actually works with `np.max` (it is smart like that), so one really needs to add lists of multiple arrays with different shapes to avoid this regression.

[2020-09-18 06:54] wreise commented on #499
Ups, good catch!

[2020-09-18 07:06] ulupo commented on #499
@gtauzin just assigning you to bring it to your attention as it is relevant to later plans for API change. I can take care of this very easy change one way or the other. Personally, I slightly prefer having simplicial and cubical transformers aligned at all time including now, until we have a universal solution to the `infinity_values=None` problem. Thus I'd slightly advocate for having `infinity_