[2020-09-25 19:25] sparvaneh opened #504 "Outdated code in Stock Market Crash Detection"
I am getting error message ImportError: cannot import name 'check_diagram' from 'gtda.utils.validation' while tried to run Stock Market Crash Detection example
Windows 10
Python 3,7

How can I resolve the issue?

[2020-09-25 20:59] ulupo commented on #504
Hey @sparvaneh, thanks for reaching out!  Unfortunately, many of the notebooks outside this repo (such as the one on stock market crashes you mention) were written using old versions of `giotto-tda`. It should not require too much effort to modify them to the latest version of the library, however. If you are using `giotto-tda` v0.2.2, please consult https://giotto-ai.github.io/gtda-docs/0.2.2/lib

[2020-09-25 20:59] #504 closed, assigned to nobody

[2020-09-28 05:53] #499 closed, assigned to gtauzin, ulupo

[2020-09-30 16:27] ulupo opened #509 "Generalize check_array to fix a specific dimension or range of dimensions"
For far away in the future, it would be nice to be able to specifiy details about the shape to a `check_array` of our own.

_Originally posted by @gtauzin in https://github.com/giotto-ai/giotto-tda/pull/480#r497615592_

[2020-10-04 17:01] Leboea opened #510 "Error Importing SingleTakensEmbedding from gtda.time_series"
Hi I am using gtda for my project that is due on Tuesday 06/02/2020. I am on Python version 3.7.6 and everything is working well except I get the error importing SingleTakensEmbedding from gtda.time_series . The error that I get is: _ImportError: cannot import name 'SingleTakensEmbedding' from 'gtda.time_series' (C:\Users\leboea.polinyane\Anaconda3\lib\site-packages\gtda\time_series\__init__.py)_

[2020-10-04 17:11] ulupo commented on #510
Hi @Leboea!  We're honoured that you are using the library for a project.  The issue is that `SingleTakensEmbedding` is not in `giotto-tda` v0.2.2 (latest stable from PyPI).  You can have it by pip-installing `giotto-tda-nightly` instead of `giotto-tda` (please avoid installing both in the same environment!).  `giotto-tda` v0.3.0 is coming in just a couple of days and will include `SingleTakensEmb

[2020-10-04 17:19] Leboea commented on #510
Hi @ulupo, thank you so much for your speedy response. Tell me, will all other packages still work if I uninstall giotto-tda and keep giotto-tda-nightly? Because I know I have them both installed on my anaconda.

[2020-10-04 17:31] Leboea commented on #510
Also, how to I call modules on the giotto-tda-nightly...when I put gtda.time_series it says gtda is not available.

[2020-10-04 18:06] ulupo opened #511 "Clarify meaning of n_jobs and parallel_backend_prefer/require in CollectionTransformer and ParallelClustering"
I'd like to get the official answer from `joblib`, hopefully they will be able to react quickly in https://github.com/joblib/joblib/issues/1109.

_Originally posted by @ulupo in https://github.com/giotto-ai/giotto-tda/pull/495#discussion_r496540209_

[2020-10-04 18:15] ulupo opened #512 "Compute mask sizes more carefully in DensityFiltration"
Currently, the logic in

https://github.com/giotto-ai/giotto-tda/blob/d08900294467417a1ddc29a19d8c353583c567f1/gtda/images/filtrations.py#L1166-L1169

assumes a fair amount form the metric used.  In particular, it assumes that the metric has a counterpart in 1D and that a cubical "container" for the appropriate mask can be found purely by considering this 1D counterpart.

[2020-10-04 19:13] ulupo commented on #510
Glad this was fixed for you (offline)!

[2020-10-04 19:13] #510 closed, assigned to nobody

[2020-10-05 11:30] ulupo opened #514 "Find a better solution to #513"
Find a better solution to #513, possibly based on help received (?) from Azure DevOps tech support.

[2020-10-05 17:35] ulupo commented on #490
#495 closes this issue.

[2020-10-05 17:35] #490 closed, assigned to gtauzin, lewtun

[2020-10-05 17:50] ulupo commented on #182
Coverage is now 90% there.

[2020-10-05 17:50] #182 closed, assigned to wreise

[2020-10-07 20:37] Filco306 opened #518 "Line in tutorial should be changed due to not working anymore."
https://github.com/giotto-ai/giotto-tda/blob/ef19301faa52cc66cf4e0c284d34b875345bf681/examples/mapper_quickstart.ipynb#L371

Hello,

First of all, thank you for a nice repo! I am fiddling around and discovered that this line is wrong as of version 0.2.2, with version 0.8.2 of `igraph`, this line should be `node_elements = graph['node_metadata']["node_elements"]` and not `node_elements = graph.vs["

[2020-10-08 06:24] ulupo commented on #518
Hi @Filco306, and thanks for the kind words about the project.  Concerning your issue, what you are pointing out is not a mistake.  The point is that you are looking at the state of the `master` branch, which is well ahead of the `0.2.X` from which release 0.2.2 was made.  In other words, at all times `master` can be considerably far ahead relative to the latest stable release.  Usually, I would t

[2020-10-08 06:24] #518 closed, assigned to nobody

[2020-10-08 11:48] ulupo commented on #518
The (rather large!) changelog for 0.3.0 can be seen at https://github.com/giotto-ai/giotto-tda/releases/tag/untagged-5bc624a2c88e721cf434

[2020-10-09 15:19] wreise opened #520 "No figure captions in MNIST_classification notebook and docs"
**Describe the bug**
Currently, the figure captions are visible neither in the notebook nor in the documentation. The previous approach consisted of sing raw html, but it didn't work once pulled through sphinx. I tried to put captions as the alt text (drawing inspiration from `persistent_homology_on_graphs.ipynb`), but i get an error `invalid option block.` (even when replacing the ":" with `-`.

[2020-10-31 10:28] rorondre opened #526 "[BUG] [gtda-docs] LaTeX doesn't display text in formulas properly in online docs (Theory Glossary)"
**Describe the bug**
LaTeX doesn't display text in formulas properly in the Theory Glossary part of the online docs for latest and version 0.3.0 (previous version 0.2.2 works ok).

**To reproduce**
One example:
In https://giotto-ai.github.io/gtda-docs/latest/theory/glossary.html , section Analysis/Metric spaces definition.
In https://github.com/giotto-ai/gtda-docs/blob/master/0.3.0/theory/glossary

[2020-11-01 11:49] #397 closed, assigned to ulupo

[2020-11-01 19:19] wreise commented on #526
Thank you for pointing this out!

It seems that I managed to solve the issue.

For the latest update, I was using pandoc 1.19.2.4 instead of the 2.10, which were used previously to compile the glossary for, for example, 0.2.2 (and also 0.3.0 in the previous commits).

[2020-11-01 19:21] ulupo commented on #526
Indeed, this seems fixed. Thanks @rorondre for spotting this and @wreise for fixing it!

[2020-11-01 19:21] #526 closed, assigned to wreise

[2020-12-07 08:49] MonkeyBreaker opened #539 "[CI] Update maynlinux2010 version"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when the CI starts to fail x)

Last week, CI, build wheels with `maynlinux2010` started to fails because `Cent OS 6` has reached EOL [see](https://github.com/pypa/manylinux/issues/836).

After an issue was raised to the main repository and a fix was merged, a new issue was encountered. This issue is now fixed

[2020-12-11 16:39] Filco306 opened #547 "[BUG] Issues installing giotto-tda, python3.9"
**Describe the bug**
I am trying to install giotto-tda on my computer, but I am running into problems.

**To reproduce**

Reproduce:
[code]

**Expected behavior**

It should be installed

**Actual behaviour**

**Versions**

[code]

The last one was perhaps a bit obvious, haha.

**Additional context**

The output I get (which is very long) is the following.

[code]

Would anyone know what the probl

[2020-12-11 17:00] wreise commented on #547
Hey! Thank you for reporting this!
I was wondering whether you are trying to install the package from pypi or from source - the log would point to the fact that the latter, but the source is not included on pypi.

[2020-12-11 17:04] Filco306 commented on #547
Thank you for your quick reply! I run `pip3 install giotto-tda`, so I assume pypi?

[2020-12-11 17:46] wreise commented on #547
Actually, we do not officially support python 3.9 just yet, and it seems that the wheels for it are not yet out. You should be able to install the package from source anyway, following [the instructions in the documentation](https://giotto-ai.github.io/gtda-docs/0.3.1/installation.html#to-install). You can also use an environment with python 3.8, if you insist on installing from pypi.
Good news is

[2020-12-11 18:32] ulupo commented on #547
Indeed, wheels for `python` 3.9 are hopefully a couple of days away... For now, you will need to resort to the developer installation, which is a little bit more involved (but not exactly *hard*): https://giotto-ai.github.io/gtda-docs/0.3.1/installation.html#developer-installation

[2020-12-11 19:26] Filco306 commented on #547
It worked! Wohoo!!

[2020-12-11 19:26] #547 closed, assigned to nobody

[2020-12-11 19:27] ulupo commented on #547
@Filco306 great! This is the best way to go to start developing your own code ;)

[2020-12-12 17:01] ulupo commented on #164
I disagree with closing the issue. I think we should implement this in the interactive function via an "export" button. This should be simple to do, and I have been asked this by several people! For the static case on the other hand, there is not much we can do (apart from creating a trivial wrapper for plotly's `write_image`) because we return a figure.

@lewtun what do you think?

[2020-12-12 19:21] lewtun commented on #164
If it's a feature request then yes, let's do it! I could have a stab at it next week :)

[2020-12-12 19:48] ulupo commented on #164
Look, if you're offering... :)

[2020-12-13 20:12] Filco306 opened #549 "Parameters for functions in Mapper pipeline are set to None."
**Describe the bug**

I have a problem with a piece of code. I am trying to use custom filtering functions and custom clustering functions, as well as custom cluster preprocessing. However, when doing this, my input variables to the different classes are set to `None`, even though I want them to be specific values. It is as if the mapper pipeline instantiates new objects that do not

**To reproduc

[2020-12-13 20:46] ulupo commented on #549
Thanks for the detailed report!  It is a funny issue and digging a little bit into StackExchange it seems it is an issue with `joblib`: https://stackoverflow.com/questions/55955330/printed-output-not-displayed-when-using-joblib-in-jupyter-notebook.  See also https://stackoverflow.com/questions/56845418/print-the-output-of-a-function-in-joblib. So it affects the `ParallelClustering` step in the Map

[2020-12-13 21:04] Filco306 commented on #549
Thank you for your quicky reply!

You mean with [this](https://scikit-learn.org/stable/modules/generated/sklearn.utils.parallel_backend.html)?

I tried like below, but it probably is not how to do it.

[code]

[2020-12-13 21:08] Filco306 commented on #549
A strange thing, however, is that it does not seem to affect regular functions. I am yet to confirm this, but it seems to not necessarily affect, e.g., the `OneDimensionalCover`

[2020-12-13 21:19] ulupo commented on #549
Sorry, I meant use the parameter in `make_mapper_pipeline` (which is useful to know about, eg "threads" is the fastest option for `DBSCAN`).

In light of what I sent above, this will only affect components using `joblib` and in the pipeline the only one is the clustering step.

[2020-12-13 21:32] Filco306 commented on #549
Hmm, it still seems to return None, no change in the output when changing to `processes` nor `threads`. `multiprocessing` not a parameter option

[2020-12-13 21:40] ulupo commented on #549
Ok. From what I sent it seems this is due to a bad interaction between joblib and jupyter. I assume you are running on a notebook. Can you confirm that this does *not* occur when running from a script?

[2020-12-13 21:42] Filco306 commented on #549
I am actually running the example from the terminal! And it does output what I outputted above.

So yes, this *does* occur unfortunately when I use a script.

[2020-12-13 21:46] Filco306 commented on #549
What I essentially wish to do, because I am running multiple experiments, is to only cluster once, and then use that cluster several times as I am running on the same sets but different parameter choices of overlaps etc. That would speed up the process a whole lot, since I do not have to re-cluster each time I call the pipeline.

But, this does not work of course if I cannot save the actual cluste

[2020-12-13 22:08] ulupo commented on #549
Since you are using a dev install, could you test this: sync with `master` by doing `git pull`, then modify
https://github.com/giotto-ai/giotto-tda/blob/1ee697bc53db83560082791906203bb13ac80f71/gtda/mapper/cluster.py#L148-L156
to
[code]
and test again?

[2020-12-13 22:10] ulupo commented on #549
This seems incorrect to me. Changing *anything* prior to the clustering step, including the overlap, will change the pullback cover sets and hence the sets that will have to be clustered. In particular, it will change the clusters.

[2020-12-13 22:13] Filco306 commented on #549
Oh god, yes, you are right of course. Thank you for that! I should not program when I am tired, haha. I will let things run for longer simply. However; my problem persists after the change you suggested. Now this problem is not needed a quick fix anymore, but it is still mysterious. If you do not get the same, perhaps there is some problem with my installations?

[2020-12-13 22:25] Filco306 commented on #549
I fixed it now through an ugly use of a global variable; I only need it for a single string variable for the cluster preprocessor. The rest will be handled properly I believe.

[2020-12-13 22:25] ulupo commented on #549
I reproduced your problem.  It is not due to `joblib` but it is happens *by design* because of `scikit-learn`. When reproducing, I get this warning:
[code]
The point is that we clone the clusterer as many times as there are pullback cover sets, and the behaviour is triggered by the cloning. The issue is solved if you instantiate an attribute in `__init__`, by `self.example = example`.

[2020-12-13 22:25] Filco306 commented on #549
Very nice! Thank you! :D

[2020-12-13 22:26] ulupo commented on #549
;)

[2020-12-13 22:26] #549 closed, assigned to nobody

[2020-12-13 22:27] ulupo commented on #549
About avoiding recomputations though: we help you out with that, using the `memory` argument of `make_mapper_pipeline`. I recommend you check it out.

[2021-01-12 15:02] ulupo opened #556 "Increase number of bibliographical entries in glossary"
I think it would be good if we included a few more citations in the glossary.  In particular, it would be good to have a few references to trace the history of persistent homology.  A few such are listed in the first page of https://www.maths.ed.ac.uk/~v1ranick/papers/edelhare.pdf, and an even earlier precursor is the 1994 paper by Barannikov [The Framed Morse complex and its invariants](https://h

[2021-01-27 19:32] hellorp1990 opened #559 "3D image"
Hi, is it possible to use a 3D stack (e.g., 256x256x64) to analyze using Giotto-tda?

[2021-01-27 19:38] ulupo commented on #559
Hi!  Could you please describe what the nature of this dataset is?  Is it a set of 64 greyscale images, each of size 256x256?

[2021-01-27 19:40] hellorp1990 commented on #559
@ulupo thank you for your reply.

64 is the grayscale image/dicom image in a stack (e.g. a brain mri). I was asking about using 3D medical images.

[2021-01-27 20:02] ulupo commented on #559
So you have a single *voxelised* image?  If so, yes you can analyze it using `giotto-tda`.  Indeed, you can even analyze *batches* of either grayscale images or greyscale voxelized images.  Normally a pipeline with such data will involve first using one or more of the transformers in https://giotto-ai.github.io/gtda-docs/0.4.0/modules/images.html, and then `CubicalPersistence` (https://giotto-ai.g

[2021-02-02 23:01] Filco306 opened #560 "ValueError when using other clustering algorithms than DBSCAN for the Mapper"
**Describe the bug**

For several clustering algorithms, the clustering will not work for a low amount of points. This is because some arguments require more points for some arguments (see example below with `min_samples` for `OPTICS`.

**To reproduce**

To reproduce, simply use `OPTICS` or any other clustering method instead of `DBSCAN` in the Mapper tutorial. The error will be thrown in cell 4.

[2021-02-03 17:47] ulupo commented on #560
Hi @Filco306, thanks for the report!  If I understood the report correctly, the issue is that your chosen clusterer is set up to refuse to cluster in some circumstances dependent on the number of points (not enough or too many points in the pullback cover set relative to the chosen `min_samples`).

If so, this is not a bug in `giotto-tda` and it is not something we can or even *should* try to addr

[2021-02-03 17:58] Filco306 commented on #560
Hello @ulupo ,

Thank you for your response! And yes, now that I think about it, I think you are absolutely right. In general, the Mapper cannot accept certain clustering methods, in particular those that relies on a certain number of clusters being present.

Thanks for the code snippet, I will use that!

Cheers,
Filip

[2021-02-03 17:58] #560 closed, assigned to nobody

[2021-02-03 17:59] ulupo commented on #560
I hope it works.  It should be "morally" correct, but I have not tested it.  Glad I could help.

[2021-02-04 09:23] Filco306 commented on #560
Yes, I will modify it slightly to suit my purpose, but I also think that the general idea holds :) thanks again!

[2021-02-12 15:55] ulupo commented on #559
Hi @hellorp1990 , I'm closing the issue due to inactivity but please feel free to comment further and reopen it.

[2021-02-12 15:55] #559 closed, assigned to nobody

[2021-02-15 12:39] unJul opened #563 "Persistence Diagrams fail for reconstructed MNIST images"
I trained a simple Autoencoder on MNIST and wanted to compare the persistence diagrams of the reconstructions to those of the inputs.

For some of the reconstructed images it raised the following error:

**Code:**

from gtda.homology import CubicalPersistence
cubical_persistence=CubicalPersistence(n_jobs=-1)
im7_r_cubical=cubical_persistence.fit_transform(im7_r_filtration)
im7_r_cubical.shape
cubi

[2021-02-15 12:41] ulupo commented on #563
Hi @unJul , thanks for the report!  It looks like `im7_r_cubical[0]` is pathological in some way, could you show it here (at least the first few entries, and its shape)?

[2021-02-15 13:26] unJul commented on #563
Hi @ulupo, thanks for the very fast response. im7_r is the reconstructed image given back by the Autoencoder.

 im7_r_cubical[0] is:
 [[0. 0. 0.]
 [0. 0. 1.]]

And has shape: (2,3)

For the orignal MNISt image it was:
[[ 0.          0.          0.        ]
 [ 5.38516481 30.          1.        ]]

[2021-02-15 13:27] ulupo commented on #563
Right.  Your issue is that the diagram to plot is entirely trivial (it is empty, i.e. there are only zero-persistence points).  Thus there is nothing at all to plot.

[2021-02-15 13:34] unJul commented on #563
Ok thank you then. Do you have any experience with this happening on image data? May the reason be the style of filtration? It happens only within the reconstructed images

[2021-02-15 13:42] ulupo commented on #563
I am a little puzzled because even your "original MNIST image" seems to have a very trivial persistent diagram in H0, which is odd.  What I would need now is a minimum reproducible example to see what is happening.

[2021-02-15 14:15] unJul commented on #563
#imports
import matplotlib.pyplot as plt
import numpy as np

import torch
import torch.nn as nn
import torch.optim as optim
import torchvision

seed=42
torch.manual_seed(seed)
torch.backends.cudnn.benchmark=False
torch.backends.cudnn.deterministic=True

batch_size=512
epochs=20
learning_rate=1e-3

#dataset
transform=torchvision.transforms.Compose([torchvision.transforms.ToTensor()])

train_dataset

[2021-02-15 14:16] unJul commented on #563
Sorry, I don't know where to upload jupyter notebooks. This is just a dummy example I wanted to try out - nothing special. Just peek on the (reconstructed) MNIST images...

[2021-02-15 14:20] ulupo commented on #563
@unJul thanks!  Sorry to be annoying, but I will (politely, I hope!) insist that the example be minimal.  In this case, this would mean e.g. uploading `im7` and showing only the `gtda` part of the code (no `pytorch`, although I like what you are doing with `giotto-tda`! :))

[2021-02-15 14:20] ulupo commented on #563
A way to upload notebook-like things (and data, I think) is to use https://gist.github.com/

[2021-02-15 14:37] unJul commented on #563
![newplot(1)](https://user-images.githubusercontent.com/79091236/107959435-b4497f00-6fa3-11eb-863b-36afb9ab3b55.png)
![newplot](https://user-images.githubusercontent.com/79091236/107959439-b6134280-6fa3-11eb-860c-e766863a1985.png)

[2021-02-15 14:38] unJul commented on #563
So here the image above is the heat map of the reconstructed digit 7 and the image below is the original one. The one that was fed into the Autoencoder. For both, I just do exactly the same thing, with basically is the example given on the giotto tutorial page for a MNIST digit8:

[2021-02-15 14:40] unJul commented on #563
binarize -> filtrate -> PH
1. binarize:
#binarize image
from gtda.images import Binarizer

im7_r=im7_r[None,:,:]
binarizer=Binarizer(threshold=0.2)
im7_r_binarized=binarizer.fit_transform(im7_r)

2. filtrate:
#from binary image to filtration
from gtda.images import RadialFiltration

radial_filtration=RadialFiltration(center=np.array([20,6]))
im7_r_filtration=radial_filtration.fit_transform(im7_r_b

[2021-02-15 14:41] unJul commented on #563
Now the strange thing is: for the "original" 7 it works, for the reconstructed one, it throws the respective error...

Thanks a lot for your comments and replies anyways :)

[2021-02-15 14:49] ulupo commented on #563
Thanks a lot!  Nonetheless, it would help to have the array data for the figure 7 images.  Once I have that (both original and reconstructed) I can have a detailed look at why this is happening.  I don't think there is a bug here but just something interesting to be said about using these filtrations in these contexts.

[2021-02-15 15:06] unJul commented on #563
[digit7.zip](https://github.com/giotto-ai/giotto-tda/files/5982357/digit7.zip)

[2021-02-15 15:06] unJul commented on #563
thanks a lot @ulupo :) I am really curious of what is happening here!
I have put both in numpy format into the zip folder, hope it works!

[2021-02-15 15:31] ulupo commented on #563
Ok, got it!  See [this gist](https://gist.github.com/ulupo/f582f009883e5a9a77cd670baff351f7).  You will notice that when I use the original image, there is a tiny hole surrounding just one pixel at position (18, 10).  This is born at 5.38516481 because that is the maximum value of all neighbouring pixels (pixels "diagonally neighbouring" are not actually considered neighbours).  This little hole n

[2021-02-15 15:34] ulupo commented on #563
TL;DR: Not a bug, but the error message should probably be more helpful, and the default value of `reduced_homology` is likely inconvenient in the case of `CubicalPersistence`.

[2021-02-15 15:38] ulupo commented on #563
@unJul, btw I hope the gist convinces you that using `fit_transform_plot` can be great for following what is going on at every step :)

[2021-02-15 15:42] unJul commented on #563
@ulupo thank you so so much :) :) That helps a lot! - especially regarding the fact that I actually want to investigate more complicated (image) datasets with giotto!

I am still thinking about it, but cubical complexes seem to be natural and favorable for image data also from a computative point of view...

[2021-02-15 15:48] ulupo commented on #563
You are welcome!  You may wish to consider joining the Giotto-AI Slack workspace (https://slack.giotto.ai/), or maybe writing some thoughts on https://github.com/giotto-ai/giotto-tda/discussions.

[2021-02-15 15:48] #563 closed, assigned to nobody

[2021-03-11 23:39] #556 closed, assigned to ammedmar

[2021-03-15 08:51] tanjia123456 opened #566 "Can apply it to 3D graph?"
Hello, thank you for your works!
I currently have three-dimensional node coordinates and triangle, so I can use the tri_ surf builds a graph,
I want to use this library for topology data analysis of my data. My topic is to segment the brain by graph neural network. The goal is to get continuous two-dimensional code and Betti number to process the holes on the graph. Which examples are more suitabl

[2021-03-15 09:49] ulupo commented on #566
Hi!  I am not 100% sure I understand the question but tell me if this helps:
Given a set of points in 3D (or in any number of dimensions in that matter) and a set of edges between these points which you can use to define a graph, you have a few options depending on what exactly you want to achieve and how much of the structure in the data you want to use.

## Simplest: number of holes in the unwei

[2021-03-15 11:18] tanjia123456 commented on #566
hello, thank you for your reply! Let me elaborate on my problem： I have vertice,edge,triangle(see:https://github.com/tanjia123456/Brain_area_PH/blob/main/lhvertices.txt
https://github.com/tanjia123456/Brain_area_PH/blob/main/lhedges.txt
https://github.com/tanjia123456/Brain_area_PH/blob/main/triangles.txt) which can use plt.tri_surf to create a graph(3D).

My research topic is to use graph neural

[2021-03-15 11:36] ulupo commented on #566
Thanks for the clarification!  At the moment, `giotto-tda` cannot deal with triangulation input of the kind you describe, so if this is extremely important to you then your best bet for now is indeed to use GUDHI for this.

However, if you are happy for `giotto-tda` to do the triangulation for you, then you may want to look at the `WeakAlphaPersistence` transformer here.  It will contruct the Dela

[2021-03-16 16:03] ulupo commented on #566
@tanjia123456 did my last message help?

[2021-03-17 01:01] tanjia123456 commented on #566
Hi, your answer is helpful.
I was going to have the code adjusted before I told you.
Thank you very much for sharing.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "giotto-ai/giotto-tda"

[2021-03-24 04:09] ahmed-akader opened #569 "Mapper tutorial - plot_interactive_mapper_graph"
**Describe the bug**
The very last cell produces a single line of text with no plot

Also, `gtda/mapper/tests/test_visualization.py` passes

**To reproduce**
Just browse to the [mapper tutorial](https://giotto-ai.github.io/gtda-docs/latest/notebooks/mapper_quickstart.html) and go to the bottom. Same happened locally.

**Expected behavior**
I've never seen the interactive plot, but I expect it to l

[2021-03-24 04:31] seanlaw commented on #143
Hi, @ulupo!I am a bit late to the game here but, as the creator of STUMPY, is there anything I can do to help or any matrix profile related questions I can answer?

[2021-03-24 05:40] ulupo commented on #569
Interactive mapper plots only work (by design) in a jupyter notebook. This is explained in the tutorial. We can also add a note in the API reference page for `plot_interactive_mapper_graph`.

[2021-03-24 08:45] ulupo commented on #143
Hey Sean!  Great to see you here!  As you might have guessed, this went on the backburner somewhat.  Still, it would be interesting to pursue this further.  I am guessing the connection I am hinting at is clear to you?  Essentially, my (very basic) understanding of STOMP is that one creates d-dimensional vectors of the form X = (x_t, x_{t+1}, ..., x_{t+d-1}) for each time t, and, given a time wind

[2021-03-24 13:49] seanlaw commented on #143
@ulupo Thank you for the description! First, you'll have to excuse my ignorance as it pertains to TDA as I have limited exposure to this area (but I am very interested in learning) and, more importantly, I am even less familiar with the terminology.

Yes, if I understand you correctly, then this is consistent with my understanding of STOMP.  In the time series literature, `X` is often referred to

[2021-03-24 15:24] ahmed-akader commented on #569
Thanks for explaining. I was actually running the jupyter notebook locally and still not getting the plot, just that same line from the webpage.

[2021-03-24 17:01] ulupo commented on #569
Hi @ahmadabdolkader, thanks for getting back.  To diagnose, we need to know your config. Please run the following snippet and paste the output below.

[code]

We also should know what version of `jupyter` you are using, and whether you are using `jupyter notebook`, `jupyter lab` or something else, like Google's colab.  Only `jupyter notebook` is supported without extra steps.

[2021-03-25 00:00] ulupo commented on #143
@seanlaw thanks for reacting so quickly and for showing so much interest!  Let me try to answer your questions:

When I say "high-dimensional vectors" I just referred to the subsequences X, which are ordered `d`-tuples of real numbers and hence can be thought of geometrically as position vectors in a `d`-dimensional Euclidean space.  Let me know if this is still unclear.

Let me see if I can say i

[2021-03-26 04:45] ahmed-akader commented on #569
Config

I'm using `jupyter notebook` and this is my version info

[2021-03-26 07:21] ulupo commented on #569
Thanks!  For comparison, as far as `jupyter` goes, I have been running as follows with no problem:
[code]

So this is a bit strange.  Two further questions:
- Are you able to display the *static* plots, using `plot_static_mapper_graph`?
- Is the widget displayed if you explicitly call `display`?
[code]
- Are other, simpler `ipywidgets` automatically displayed in your jupyter notebooks, i.e. withou

[2021-03-26 11:41] seanlaw commented on #143
Thanks, @ulupo. I will take some time to digest your writing and respond with my questions.

[2021-03-26 22:24] glacey1 opened #570 "[BUG] Cannot call module 'gtda'"
Hi there,

I have just discovered Giotto TDA and am looking forward to getting stuck in. However, I am having a ModuleNotFoundError when I try to use the library.

I have tried both venv within PyCharm as well as my global interpreter in my laptop, but both come up with the error despite both being verified by using:

pip list

Interestingly enough, PyCharm recognises the module and autofills clas

[2021-03-28 20:07] seanlaw commented on #143
I just realized that I had missed your notation where, if I understand correctly, you've designated lowercase `x_t` as an individual point and uppercase `X_t` as a vector of points. I think that I have most of the picture but to help me better understand, I think it would would be useful to start with a real (simple) [illustrative example](https://stumpy.readthedocs.io/en/latest/Tutorial_The_Matri

[2021-03-29 18:12] ahmed-akader commented on #569
Simply switching to plot_static_mapper_graph still produced some json text.

That didn't work for neither the interactive nor the static plots. Using the static plot as `fig` and calling `fig.show()` worked as earlier in the mapper notebook.

No. I tried this and got a line of text instead of what's shown on the page.

I tried both FireFox and Google Chrome. Same behavior.

I tried upgrading my ip

[2021-03-29 18:30] ulupo commented on #569
Thanks for the detailed report @ahmadabdolkader !

Since it seems you have more fundamental issues with `ipywidgets` (the simplest possible example does not work) it seems to me that your best bet is to seek a solution within their community/issue tracker.  They will likely be able to find a solution for you!

[2021-03-30 15:52] ulupo commented on #570
Hi!  Sorry you are experiencing this issue.  Did you install the library using `conda` or `pip`?  The `conda` version is, I believe, broken at the moment.

[2021-03-31 03:57] #569 closed, assigned to nobody

[2021-03-31 06:18] ahmed-akader opened #571 "node_color_statistic as ndarray for plot_static_mapper_graph"
**Describe the bug**
The documentation of `plot_static_mapper_graph` indicates that `node_color_statistic` can be set as an `ndarray` with node color values. However, I'm getting the following error:

**To reproduce**
Call `plot_static_mapper_graph` with `node_color_statistic` as an ndarray.

**Versions**
Linux-5.4.0-66-generic-x86_64-with-glibc2.29
Python 3.8.5 (default, Jan 27 2021, 15:41:15)
[G

[2021-03-31 06:30] ulupo commented on #571
I think this is an actual bug so thank you for reporting it!  That line (164) is trying to be too clever for its own good, and it should just be substituted with a more explicit handling of the `None` case (which is all it is trying to do), as follows:
[code]
I will push a patch as soon as possible, but it might be a few days.  In the meantime, are you able to modify your source to continue with y

[2021-03-31 06:52] ulupo commented on #143
Thanks for the nice explanation @seanlaw!  I think it confirms my previous understanding.  The geometric interpretation that I have been selling above comes from thinking of the sequences `T[i : i + m]` as vectors in an `m`-dimensional space.  Then you are effectively finding the nearest neighbor to each such vector and recording its distance to the latter.  *Clusters* of similar vectors (and, hen

[2021-03-31 16:08] seanlaw commented on #143
Great! Glad that we are on the same page.

I believe that the original authors think of it the same way as well (see [slides 35-40](https://www.cs.ucr.edu/~eamonn/Matrix_Profile_Tutorial_Part1.pdf))! In the matrix profile case, it's essentially a brute-force search for each nearest neighbor (i.e., it is exact and not approximate). As you can imagine, even for a single value of `m` (the embedding d

[2021-03-31 18:21] seanlaw commented on #143
Oh, one additional note. In matrix profiles, we typically compute "z-normalized Euclidean distances" (i.e., for each pair of subsequences, we z-normalize each subsequence first (i.e., for each value within a subsequence we subtract the subsequence mean and divide by the subsequence stddev) before computing the Euclidean distance) rather than straight Euclidean distance. Typically, this is z-normal

[2021-03-31 22:20] seanlaw opened #572 "[BUG] Possible Error in Topology Time Series Notebook"
**Describe the bug**

In the ["From time series to time delay embeddings" section of the Topology Time Series Notebook](https://giotto-ai.github.io/gtda-docs/0.4.0/notebooks/topology_time_series.html#from-time-series-to-time-delay-embeddings), it was stated that:

<img src="https://render.githubusercontent.com/render/math?math=f_i = [f(t_i), f(t_i %2B 2{\tau}),..., f(t_i %2B (d-1){\tau})] ">

I ma

[2021-04-01 01:39] ulupo commented on #572
Well spotted!  Thanks!

[2021-04-01 01:41] seanlaw commented on #572
@ulupo Would you like me to submit a PR for this?

[2021-04-01 01:41] ulupo commented on #572
Sure @seanlaw, please go ahead!

[2021-04-01 04:55] #572 closed, assigned to nobody

[2021-04-01 21:09] ahmed-akader commented on #571
Thanks for the quick response. I figured it out on my end.

[2021-04-02 04:40] ulupo commented on #571
Reopening as it needs fixing

[2021-04-02 08:23] wreise commented on #572
Ah, I will update the documentation!

[2021-04-11 10:47] ulupo commented on #566
Closing due to inactivity, but feel free to reopen if you have news, @tanjia123456!

[2021-04-11 10:47] #566 closed, assigned to ulupo

[2021-04-11 19:19] #571 closed, assigned to ulupo

[2021-04-16 12:54] bm-1961 commented on #570
Hey, I have the same problem and cant load with either conda or pip?

[2021-04-16 12:59] bm-1961 commented on #570
Sorry I made an error here (was entirely my mistake) and possibly where others are getting stuck - but need to have following to install rather than gtda:
pip install -U giotto-tda --user

[2021-04-16 13:02] ulupo commented on #570
Thanks @bm-1961.  @glacey1 , could this be what happened to you too?

[2021-05-15 12:42] silent-code opened #578 "[BUG] pip install giotto-tda won't upgrade to 0.4.0"
**Describe the bug**
pip install giotto-tda won't upgrade from 0.1.4 to latest release 0.4.0 on Mac High Sierra 10.13.6.

**To reproduce**
Steps to reproduce the behavior:
pip install --upgrade giotto-tda==0.4.0

**Expected behavior**
pip install should succeed with 0.4.0 upgrade

**Actual behaviour**
ERROR: Could not find a version that satisfies the requirement giotto-tda==0.4.0 (from versions:

[2021-05-15 13:11] ulupo commented on #578
Hi!  Unfortunately, this is expected.  We only upload wheels to PyPI for macOS X versions 10.15 or above.  This is due to limitations in our CI.  In future, we should also support macOS X 10.14, but 10.13 might just be a bit too ancient for us to be able to support.

You can still install `giotto-tda` from sources as explained in the "Developer Installation" section in https://giotto-ai.github.io/

[2021-05-15 13:52] silent-code commented on #578
Thanks for the quick response and the great tda package.

Kind of a noob question, but I have MacOS 10.13. Are you saying I have to have specifically a MacOS **X** version 10.5 or above? In other words, mac OS's only from this list:

OS X El Capitan | 10.11.6
OS X Yosemite | 10.10.5
OS X Mavericks | 10.9.5
OS X Mountain Lion | 10.8.5
OS X Lion | 10.7.5
Mac OS X Snow Leopard | 10.6.8
Mac OS X Leopa

[2021-05-15 14:01] ulupo commented on #578
Oh I'm so sorry!  My message was full of typos, now corrected.  I meant 10.15 when I wrote 10.5 and 10.14 when I wrote 10.4.  Sorry!  In any case, it's not quite the case that you won't be able to use `giotto-tda` with macOS 10.14 or below.  It's just that you'll have to install the package in a different, slightly more complex, way in that case.  But it's really not all that bad if you have the c

[2021-05-15 14:03] silent-code commented on #578
Ah thanks! Got it.

[2021-05-15 14:14] ulupo commented on #578
Perfect.  I'll close the issue for now but feel free to reopen if something remains unclear.

[2021-05-15 14:14] #578 closed, assigned to nobody

[2021-06-04 23:41] Delamater commented on #149
These links return a 404 error for me.

[2021-06-05 12:40] computervisionpro commented on #115
Hi,

I am also facing this error and not able to solve even after trying whole day. I read the above answers and referred other sites as well, still did not understand properly, what should be done.
Following is the error:

[code]

My error says it has found suitable version, but don't know why it can't find Boost. Can anyone explain me what values should I give in the environment path exactly? Sp

[2021-06-05 12:55] ulupo commented on #570
Closing due to inactivity.  Feel free to reopen if you the issue is still there and you can provide further information.

[2021-06-05 12:55] #570 closed, assigned to nobody

[2021-06-05 12:58] ulupo commented on #149
@Delamater thanks for reporting this. Please use these up-to-date links: https://giotto-ai.github.io/gtda-docs/0.4.0/modules/generated/mapper/pipeline/gtda.mapper.make_mapper_pipeline.html and https://giotto-ai.github.io/gtda-docs/0.4.0/_images/mapper_pipeline.svg

[2021-06-05 13:01] ulupo commented on #115
@MonkeyBreaker do you think you might be able to assist with this?

[2021-06-05 17:38] computervisionpro commented on #115
Hi, I was able to solve with the help of this [video](https://www.youtube.com/watch?v=-YEaxAFIMhc)

[2021-06-09 18:34] MonkeyBreaker commented on #115
Hi,

Sorry for my late answer. I'm glad that you could resolve the issue !
From the message error it seems that it was finding a `boost` version `1.72`, but it was missing some extensions.
This happens when you install by extensions or a light version of `boost`.

From the video @computervisionpro, you reinstall the complete version of `boost` ?

Best,
Julián

[2021-06-10 17:48] computervisionpro commented on #115
No i had installed boost from the video that I mentioned in my first comment and just needed to make environment variables which i referred from the second video.
thanks!

[2021-06-15 16:10] RichardShea opened #581 "[BUG] giotto-tda/examples/topology_time_series.ipynb"
**Describe the bug**

When running line 8:

periodic_persistence.fit_transform_plot(y_periodic_embedded)
 I get the following error in both Jupyter Notebook and Spyder 4.

`ValueError: cannot reshape array of size 0 into shape (0,newaxis)`

**Below is the full input and output of Line 8 (every other line runs perfect)**

[code]

[code]

[2021-06-15 16:21] ulupo commented on #581
@RichardShea thanks for describing your issue.  However, for us to be able to reproduce, you should also provide us with the offending input, i.e. `y_nonperiodic_embedded`.  My suspicion is that there are no non-trivial birth-death pairs in one of the dimensions (probably in dim 2), and that the line
https://github.com/giotto-ai/giotto-tda/blob/52975f3cd7672dc45d7c99e2e311d486361cbd69/gtda/plottin

[2021-06-15 17:31] RichardShea commented on #581
@ulupo

Sorry, I was implying `y_periodic_embedded` as well.

If I comment out the non_periodic code, I get same error (see below):

I was going through the tutorial [`https://giotto-ai.github.io/gtda-docs/0.4.0/notebooks/topology_time_series.html`] and doing line by line in Spyder 4 and got the error.  So I figured I just download the topology_time_series.ipynb file from the repo and run it to se

[2021-06-16 14:05] wreise commented on #581
Hey @RichardShea ,

Thank you for the report.

Let me understand the scenario. You downloaded the [topology of time series notebook](https://github.com/giotto-ai/giotto-tda/blob/master/examples/topology_time_series.ipynb) and opened it with jupyter notebook. You executed all the cells linearly, exactly once, until cell 7 included. Then, you execute cell 8, which terminates with the error you poste

[2021-06-16 14:55] RichardShea commented on #581
Hi @wreise,

Yes, but the `periodic_persistence.fit_transform_plot` will run (2 plots) on the last cell [16] of the notebook.  So only cell 8 is the issue I am having.

I even copied the code line by line in Spyder 4 and I get the same results.

Here you go:

[code]

[2021-06-17 07:48] wreise commented on #581
Thanks for the output, @RichardShea.

I have tried reproducing your issue with your environment, however, i failed. Let me explain why, and how to fix it.

The requirements for `giotto-tda 0.3.0` were, among others,
[code]
These two packages create dependency conflicts that i faced when i tried to recreate your environment. I verified though that the notebook can be successfully run with the depen

[2021-06-17 17:04] RichardShea commented on #581
@wreise

I went with a new envrioment and it worked.

A couple of things:

1.  `python -m pip install giotto-tda>=0.3.0`  did not work for me.
Error: `0.3.0 not found`

I went with `python -m pip install -U giotto-tda`

So I did:
[code]
Everything works fine in Jupyter.

2.  For Spyder 4 there were no errors, but no plots would display.  After installing "plotly-orca" ([https://github.com/plotly/o

[2021-06-17 17:36] mir-cat opened #582 "Question/References about calculations of Pairwise distance metrics"
Hello!

I have been using the pairwise distance functions to create distance matrices for manifold learning (UMAP). Up to this point, I have been calculating full distance matrices as input to the algorithm.

Now however, I am in a situation where I am calculating the distances between 10s of thousands of  persistence diagrams and I can no longer calculate the full distance mayrices. In order to u

[2021-06-18 07:04] #582 closed, assigned to nobody

[2021-06-18 11:09] wreise commented on #581
Indeed, you are right - sorry for the misleading suggestion. Anyway, I am glad that you could run the notebook and see the plots in the IDE of your choice.

Since this issue was solved by using an environment which follows the guidelines, I am closing it. Feel free to comment or reopen the issue if you think it should be given more consideration.

[2021-06-18 11:09] #581 closed, assigned to nobody

[2021-06-28 09:19] ulupo commented on #164
@lewtun @wreise I have resurrected this issue in my mind and am thinking of the following solution along the object-oriented lines Lewis initially suggested:
- Create a ``MapperInteractivePlotter`` class with a ``plot`` method whose output is exactly the same interactive widget as now
- Store the ``igraph`` object, inner ``plotly`` figure, pipeline, color array, node summaries as attributes during

[2021-06-30 05:24] ektas0330 opened #587 "[BUG] fit_transform() of a EuclideanCechPersistence() throws error with 3D point cloud"
**Bug description**

Incompatible constructor arguments error is thrown when using fit_transform() of a EuclideanCechPersistence object on a 3-dimensional point cloud. The error does not appear when a 2-dimensional point cloud is used.

**Code to reproduce**

`from gtda.homology import EuclideanCechPersistence`
`import numpy as np`
`X = np.array([[[0.0, 0,0],`
`               [1, 3,0],`
`

[2021-06-30 06:24] ulupo commented on #587
@ektas0330 thanks a lot for opening the issue!  I can indeed reproduce and have determined the reason to be the following line in our bindings:
https://github.com/giotto-ai/giotto-tda/blob/aaa9f871b2ef7b10c391f4803a64d47b34804313/gtda/externals/bindings/cech_complex_bindings.cpp#L27
This restricts the point clouds we currently take to be 2-dimensional in the case of Cech.  I am not the author of t

[2021-06-30 06:50] MonkeyBreaker commented on #587
You're right @ulupo, I don't remember why it was hard coded this way.
But looking at the constructor of `Cech_complex`, it should support without any issue N dimensional points.

We could replace :

[code]

By

[code]

And it should work. I'll try it on my side

[2021-06-30 06:53] ulupo commented on #587
@MonkeyBreaker thank you for the quick reply.  I'll add a tiny regression test once you are done with this.

@ektas0330 we will be releasing `0.5.0` this week or early next week, so hopefully the bug fix will be included in that version.

[2021-06-30 16:33] ektas0330 commented on #587
Thanks @ulupo and @MonkeyBreaker for the quick response. I look forward to version `0.5.0`.

Thanks for this TDA toolbox; its great!

[2021-06-30 16:45] ulupo commented on #587
@ektas0330 thanks. The fix is now merged to `master` so I will close the issue. You can always try a developer install (from clone of the repo) if you want to try the fix before the PyPI release. Instructions on how to perform a developer install are in the online documentation.

[2021-06-30 16:45] #587 closed, assigned to nobody

[2021-07-03 21:44] ektas0330 opened #589 "[BUG]Validation of argument 'metric_params' initialized to a dictionary fails when used with a callable metric"
**Describe the bug**
The validate_params function from utils fails to validate the 'metric_params' argument when initialized to a dictionary with custom parameters to be used with a custom metric. I think I have tracked it down to be an issue related to the following lines in the documentation for the validate_params function

`If reference['type'] == dict – meaning that parameter should be a dict

[2021-07-05 10:22] ulupo commented on #589
Hi @ektas0330!  Thanks for your continued and detailed reporting.  It really helps :)

As you can see, @wreise and I are fixing this in #590 and the fix will be included in the next release in a couple of days.

@wreise I think we should add regression tests for this one.

[2021-07-05 18:11] ektas0330 commented on #589
Hi @ulupo! Thank you again for the quick action. I sincerely appreciate your effort in addressing issues and providing such a great TDA tool! Thanks, @wreise!

Closing this issue for now as it would be fixed by #590 :)

[2021-07-05 18:14] ulupo commented on #589
Thanks for the kind words @ektas0330 ! I thank you also for the initiative to close the issue. For next time, however, let me suggest that we keep issues open until GitHub automatically closes them when a linked PR is merged.

[2021-07-05 18:17] ektas0330 commented on #589
Sure @ulupo; that makes sense! Re-opening the issue.

[2021-07-08 15:13] #164 closed, assigned to ulupo

[2021-07-08 15:55] #589 closed, assigned to nobody

[2021-07-08 15:56] ulupo commented on #589
Thanks again @ektas0330 and @wreise! This was one of those (luckily rare so far) actually major bugs which somehow went undetected all this time.

[2021-07-08 17:33] ulupo opened #594 "The default of weight_params in WeightedRipsPersistence should be the empty dict"
https://github.com/giotto-ai/giotto-tda/blob/1d757d5c7b49246093770d2740dda5b8e0a55b5b/gtda/homology/simplicial.py#L435

[2021-07-08 19:14] #594 closed, assigned to nobody

[2021-07-09 04:49] ulupo opened #596 "[BUG] Memory caching globally broken in Mapper pipelines because ParallelClustering cannot be pickled"
**Describe the bug**
Because lambdas are currently used inside the `ParallelClustering` code, this class cannot be pickled.  This trivial-to-fix issue means that memory caching is entirely broken in Mapper pipelines, because `ParallelClustering` cannot be pickled.

**To reproduce**

**Expected behavior**

**Actual behaviour**

**Versions**

**Additional context**

[2021-07-09 04:57] #596 closed, assigned to nobody

[2021-07-19 14:43] malalejandra opened #603 "Pairwise distance comparison between packages"
Mismatch in Wasserstein distance calculation (compared with GUDHI (Hera+own backend) and Persim). Maybe I am using the wrong parameters?

**To reproduce**
[code]

**Expected behavior**
The outputs of Wasserstein distances being the same or at least close enough.

**Actual behaviour**
[code]

[2021-07-22 20:41] wreise commented on #603
Thank you for reporting this, @malalejandra !

At first sight, it seems that the issue stems from the naming of parameters, and different APIs for giotto and Gudhi (or persim?). To be more specific, the parameter `internal_p` from `gudhi.wasserstein.wasserstein_distance` cannot be specified in the `gtda.diagrams.PairwiseDistance` transformer, where is it set to `np.inf`.
The parameter `order` from

[2021-07-30 09:00] wreise commented on #603
@ulupo , do you have any thoughts on that?

The interface for the wasserstein distance allows to modify all the parameters mentioned here, as desired. Ideally, i would propose to modify the implementation, so that `PairwiseDistances(metric="wasserstein")` has a similar API to the other packages. My only worry is that then, the consistency between `metric="wasserstein"` and `metric="bottleneck"` is

[2021-07-30 09:06] ulupo commented on #603
Thanks for investigating this @wreise!  I haven't had enough time to think about this yet and I suspect your diagnosis is right.  However, in the short term I think it would be good to reassure @malalejandra and other users who bumped into this issue that it is possible (with the right parameters) to reproduce the results of the ``Hera`` library that we use internally for bottleneck and Wasserstei

[2021-09-14 19:20] jcoll3 opened #605 "Taken's Parameter Search - Potential bug/enhancement"
Hello,

I am currently experimenting with time series classifies using Taken's embedding. The function takens_embedding_optimal_parameters is behaving somewhat differently than I expected. I am getting the following error.

`ValueError: Not enough time stamps (176) to produce at least one 7-dimensional vector under the current choice of time delay (30).  `

I understand why this is happening, but

[2021-09-14 19:41] ulupo commented on #605
Thanks for the report @jcoll3 !  I agree that this seems like  undesirable behaviour.  May I just squeeze a minimal reproducible example out of you to make sure we're talking about the same thing?

[2021-09-14 22:14] jcoll3 commented on #605
Thanks for the fast reply @ulupo! Here is a small example that causes the behavior.

[code]

[2021-09-15 07:38] ulupo commented on #605
Thanks @jcoll3 !  I can indeed reproduce the bad behaviour.

Personally, I think we should pre-empt such situations by restricting the range of the `for` loop in

https://github.com/giotto-ai/giotto-tda/blob/eaa1dd0c301192f57a6b1de8e2bcee90c96ae1aa/gtda/time_series/embedding.py#L106

Specifically, I think we need to replace `max_dimension` with `max_dimension_` where
[code]
This is because we actu

[2021-09-15 07:42] ulupo commented on #605
Actually I think the situation is even stricter than what I said above.  To avoid errors in line

https://github.com/giotto-ai/giotto-tda/blob/eaa1dd0c301192f57a6b1de8e2bcee90c96ae1aa/gtda/time_series/_utils.py#L61

one would also need to make sure that `X_embedded` has at least three points -- because we are calling `NearestNeighbors` with 2 neighbours per sample.  But this is another easy check

[2021-09-15 17:19] jcoll3 commented on #605
I think we're on the right track. I worked out the math for the minimum length to get 3 samples from any (stride, delay, dimension). The third vector starts at point `X[stride*2]`. Each vector requires `(dimension-1)*time_delay+1` points. So we get the inequality `(dimension-1)*time_delay+1+stride*2 <= len(X)`.

Then `_max_dimension = min(max_dimension, (len(X)-2*stride-1)//time_delay+1))`. You ca

[2021-09-22 13:16] songxinyuty opened #611 "I am trying to implement mnist classification project,but I meet the issue: no module named 'gtda.externals.modules.' ,I haven't found the folder named modules in externals. Can anyone help me?"
I can't find the folder named modules. The folder named modules is not in the externals folder.Then when I am trying to implement mnist classification project,Imeet the bug:no module named 'gtda.externals.modules
Traceback (most recent call last):
  File "mnist_classification.py", line 13, in <module>
    from gtda.homology import CubicalPersistence
  File "/home/sxy/giotto-tda-master/gtda/homolog

[2021-09-22 13:21] ulupo commented on #611
Hi!  This is probably due to a bad installation.  Could you guide me through the steps you followed to install the library?

[2021-09-22 13:40] songxinyuty commented on #611
I download master from https://github.com/giotto-ai/giotto-tda/, then create the  new linux environment which python =3.6.13 , then run the command:  python -m pip install -U giotto-tda

[2021-09-22 13:47] ulupo commented on #611
Thanks!  Just to check: are you specifically wishing to build from sources (it is much easier to just install the PyPI distribution), or are you downloading the repository just as a way to have the notebooks?

Additionally, could you please uninstall, then remove the cloned repository, then repeat the steps you performed but share the outputs with us here?

[2021-09-22 13:49] ulupo commented on #611
In addition, could you please make sure that `pip` itself is up-to-date?  You can run `python -m pip install -U --upgrade pip` to upgrade `pip` to the latest version.  Old versions of `pip` can misbehave in Linux systems.

[2021-09-22 14:00] songxinyuty commented on #611
Thanks for your advice. I make sure that pip is up-to-date. I uninstall the repository and then install the PyPI distribution again,but I meet the same question:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/sxy/giotto-tda-master/gtda/homology/__init__.py", line 5, in <module>
    from .simplicial import VietorisRipsPersistence, WeightedRipsPersistence, \

[2021-09-22 14:04] ulupo commented on #611
Hi, thanks!  I wasn't sufficiently clear.  I meant if you could share the outputs of the `python -m pip install -U giotto-tda` step.

[2021-09-22 14:17] songxinyuty commented on #611
I have solved the issue .Maybe I haven't clean it completely, Now it can work. Thank you very much!

[2021-09-22 14:17] #611 closed, assigned to nobody

[2021-09-22 14:19] ulupo commented on #611
Glad the process was helpful!

[2021-09-27 14:27] aranos-tda opened #612 "Issue installing giotto-tda (MacOS Mojave V.10.14.6)"
Dears,

I wanted to download giotto-tda on my machine (MacOS) but i got the following error:
Building wheel for giotto-tda (setup.py) ... error

  ERROR: Command errored out with exit status 1:

   command: /Applications/anaconda3/envs/myenv/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/4r/m9z6p7yx3099pyhnsjxw6h3c0000gn/T/pip-install-jpm5kayb/g

[2021-09-27 15:39] ulupo commented on #612
Hi @aranos-tda !  The issue here I believe is that the PyPI package only supports macOS 10.15 or above.  So PyPI is falling back to a tarball installation that is doomed to fail, see #308.

For now, I would recommend installing the library from sources, i.e. to perform a developer installation as described in https://giotto-ai.github.io/gtda-docs/0.5.1/installation.html#developer-installation.

[2021-10-03 19:50] ulupo commented on #612
@aranos-tda , did my suggestion solve the issue?

[2021-10-10 07:00] songxinyuty opened #613 "help for extract color image features"
hello,I want to extract geometric topological features of color images(RGB three channels) by giotto-tda, but the example for images of handwritten digits have one channel.  Can you give me a suggestion  about how I can use giotto-tda to extract color image features?

[2021-10-10 08:59] ulupo commented on #612
Closing the issue due to inactivity.  @aranos-tda feel free to reopen if still not resolved!

[2021-10-10 08:59] #612 closed, assigned to nobody

[2021-10-10 09:02] ulupo commented on #613
Thanks for getting in touch!  I think this depends a lot on your application and I don't think a "best" method is known or obvious.  I can help you with the API once you narrow down a way you'd like to approach this, but don't have the time right now to do the research myself, as I don't have much experience with color image data.

[2021-10-18 21:55] ektas0330 commented on #613
Perhaps it would be useful to continue this in the discussion section, but commenting here as this is still open.
@songxinyuty, I had a similar question when I was working on using TDA for color images. Though I did not directly generate persistence diagrams from color images, I found a way to use giotto-tda for my application (where inputs were color images). [Here](https://ieeexplore.ieee.org/do

[2022-01-24 14:48] anmolguppta commented on #612
I am facing the similar issue in MacOS Monterey 12.1. While trying to install using the developer options it says the following for giotto-ph:

Obtaining file:///Users/anmolgupta/PycharmProjects/pythonProject/giotto-tda/giotto-tda/giotto-tda/giotto-tda
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.19.1 in /Users/anmolgupta/PycharmProjects/pythonProject/venv/lib/p

[2022-01-24 14:51] anmolguppta opened #617 "Installing on Apple Silicon"
I am facing the similar issue in MacOS Monterey 12.1 (M1 Macbook Air) . While trying to install using the developer options it says the following for giotto-ph:

Obtaining file:///Users/anmolgupta/PycharmProjects/pythonProject/giotto-tda/giotto-tda/giotto-tda/giotto-tda
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.19.1 in /Users/anmolgupta/PycharmProjects/python

[2022-01-24 15:02] anmolguppta commented on #617
Upon entering gcc --version, I get the following details: (If it in case it helps in any way)
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX12.1.sdk/usr/include/c++/4.2.1
Apple clang version 13.0.0 (clang-1300.0.27.3)
Target: arm64-apple-darwin21.2.0
Thread model: posix
InstalledDir: /Library/Developer/Comman

[2022-01-26 13:47] ulupo commented on #617
Hi!  I've changed the title as your issue is due to the fact that we don't yet have PyPI wheels for Apple Silicon in `giotto-tda` or even `giotto-ph`.  Your developer installation of `giotto-tda` fails because it is trying to install `giotto-ph` from PyPI but this cannot yet be done for the M1 processors.  The solution is to first install both `giotto-ph` and `pyflagser` in developer mode and then

[2022-01-26 20:30] MonkeyBreaker commented on #617
When the new CI will be merged, the MacOS job will be build on Clang.
About if Clang will be the *recommended* compiler for Apple Silicon, no clue.

I think that we should speed-up on having ASAP wheels for Apple new Silicon and Python 3.10 !

Sorry for the inconvenience @anmolguppta ...

[2022-01-31 04:42] anmolguppta commented on #617
**Heyy, thankyou so much for replying back! I tried installing through the method you mentioned by installing first giotto-ph, pyflagser and then installing giotto-tda.

However on doing pytest, from the main directory and doing the pytest of a for a particular directory from inside it, the pytest results are different. I just wanted to confirm once if I've been able to install the setup completel

[2022-01-31 06:40] ulupo commented on #617
`pytest` should be run from within the root directory of the repo as you did in the second example. I think this is what we state in documentation (and we say to run `pytest gtda`).

In your case, all tests pass apart from a single flaky test (sometimes this happens with the more CPU-intensive tests), so your installation worked!  Closing the issue but feel free to ask more questions.

[2022-01-31 06:40] #617 closed, assigned to nobody

[2022-02-02 13:29] #613 closed, assigned to nobody

[2022-02-02 13:32] ulupo commented on #514
Closing as it is superseded by migrating to GitHub actions #615.

[2022-02-02 13:32] #514 closed, assigned to nobody

[2022-02-02 13:33] ulupo commented on #511
Does not look like they will ever answer this!  Closing to reduce issue noise.

[2022-02-02 13:33] #511 closed, assigned to nobody

[2022-02-02 13:35] ulupo commented on #208
Closing as obsolete.

[2022-02-02 13:35] #208 closed, assigned to ulupo

[2022-02-02 13:36] ulupo commented on #307
Closing as this should no longer be an issue with GitHub actions #615

[2022-02-02 13:36] #307 closed, assigned to nobody

[2022-02-02 13:37] ulupo commented on #167
Closing as we should be in a much better position re memory consumption with `giotto-ph`.

[2022-02-02 13:37] #167 closed, assigned to MonkeyBreaker, lewtun, wreise

[2022-02-02 13:38] ulupo commented on #59
Closing as this is likely no longer an issue with the `giotto-ph` backend.

[2022-02-02 13:38] #59 closed, assigned to nobody

[2022-02-02 13:38] ulupo commented on #107
This is still relevant, and should be bumped.

[2022-02-02 13:42] ulupo opened #619 "[DOCS] Missing refs in PersistenceEntropy"
The correct historical reference for persistence entropy is

An entropy-based persistence barcode. H. Chintakunta, T. Gentimis,
R.Gonzalez-Diaz, MJ Jimenez, H.Krim.
https://doi.org/10.1016/j.patcog.2014.06.023

Another important reference is

On the stability of persistent entropy and new summary functions for
topological data analysis. N. Atienza, R. Gonzalez-Díaz, M.
Soriano-Trigueros. https://d

[2022-02-23 09:41] ulupo commented on #619
Fixed in #609

[2022-02-23 09:41] #619 closed, assigned to ammedmar

[2022-02-27 01:57] galenseilis opened #621 "Pip installation from PyPI fails on Python 3.10"
**Describe the bug**

Pip installation failed on Archlinux.

**To reproduce**
Simply open up a BASH session and call `pip3 install giotto-tda`.

**Expected behavior**
The code above should terminate with an output saying `successfully installed giotto-tda`, or something similar.

**Actual behaviour**
[code]

**Versions**
My version of Linux is `orcus 5.15.13-arch1-1` and my version of pip is `pip

[2022-02-27 11:24] ulupo commented on #621
Hi @galenseilis! The issue here I believe is that installation from PyPI is not yet supported on Python 3.10.  We're working on this!  So, `pip` is falling back to a tarball installation that is doomed to fail, see #308.

For now, I would recommend installing the library from sources, i.e. to perform a developer installation as described in https://giotto-ai.github.io/gtda-docs/0.5.1/installation.

[2022-02-27 17:14] galenseilis commented on #621
Thank you for responding, @ulupo. That makes sense. Thank you for the recommendation.

[2022-02-27 20:21] ulupo commented on #621
You're welcome.  Closing the issue for now, but feel free to reopen if issues remain.

[2022-02-27 20:21] #621 closed, assigned to nobody

[2022-03-11 20:35] OmarRafique opened #622 "Use PCA as filter function"
Could you please help me with the code that uses PCA as a filter function for the Mapper.

[2022-03-11 20:54] ulupo commented on #622
Hi! You can pass an instance of scikit-learn's PCA class (https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html) as the filter function.  If you have not already consulted our official documentation website, please do so as there are several resources there to get you started.

[2022-03-12 06:47] OmarRafique commented on #622
[code]

That worked. Thanks!!!

[2022-03-12 07:00] OmarRafique commented on #622
Will TSNE work the same way???

[2022-03-12 07:05] ulupo commented on #622
Yes.  You can pass arbitrary objects with a `fit_transform` method, so arbitrary scikit-learn transfomers.  You can even pass arbitrary functions which act on 1D vectors. See https://giotto-ai.github.io/gtda-docs/0.5.1/modules/generated/mapper/pipeline/gtda.mapper.make_mapper_pipeline.html.

[2022-03-12 07:05] #622 closed, assigned to nobody

[2022-03-16 21:52] OmarRafique opened #623 "Increase Node size"
Is there any way to change the size of the nodes and also the contrast in their colours?

In the graph produced by the Mapper  how can the node sizes be increased (proportionally). Also, how can the contrast in colour between the nodes be increased.

[2022-03-16 21:55] ulupo commented on #623
Hi @OmarRafique!  Glad you are interested and I'd like to help, but could you please rephrase your question in a more precise way? In particular, we'd need minimal reproducing code at the very least.

[2022-03-19 21:24] OmarRafique opened #624 "Working with large datasets."
Hi.

I have a datasets of one 1 million samples and each sample has 50000 features. My machine is Intel i9 with 64GB DDR4 RAM.
Will the giotto-tda Mapper scale up to this dataset on the specified machine?

In general, what are the scalability issues that I should expect while using  giotto-tda Mapper?

[2022-03-20 06:57] #624 closed, assigned to nobody

[2022-03-20 07:02] #623 closed, assigned to nobody

[2022-03-21 21:30] OmarRafique commented on #622
Could you please  give a code example to use tSNE as a filter function?

[2022-03-21 21:40] ulupo commented on #622
This is as simple as importing the tSNE class from `scikit-learn`
[code]
and using an instance of this class as a filter function in `make_mapper_pipeline`.  Please read the tutorial https://giotto-ai.github.io/gtda-docs/0.5.1/notebooks/mapper_quickstart.html for more details.

[2022-03-23 20:59] andro-demir opened #627 "[BUG] Using distance matrix to compute the Vietoris Rips Persistance"
Hi!
I'm trying to compute the Vietoris Rips persistence of my graph using its distance matrix.
I have an unweighted, undirected graph and its distance matrix is:
dist_matrix = np.array([[0,1,2,4,4],[1,0,1,3,3],[2,1,0,2,2],[4,3,2,0,2],[4,3,2,2,0]])
dist_matrix_{ij} represents the distance of the shortest between node i and node j.
I choose metric="precomputed", but the fit transform returns me an i

[2022-03-23 22:11] ulupo commented on #627
Could you please explain in what way the result is incorrect?  Please explain your expectations clearly, even if they may be completely obvious to you.

[2022-04-07 20:42] anmolguppta opened #628 "Computing L^p Norms (specificically L^1 norm) from persistence diagram"
Hi,
I am a junior undergraduate student from India and am researching on Application of TDA on stocks. The data I'm working with is financial time series data.

I'm trying to replicate a paper -
( [TDA in investment decisions.pdf](https://github.com/giotto-ai/giotto-tda/files/8446345/TDA.in.investment.decisions.pdf) )

Where in the algorithm 2 ( Pg 7),  a TDA norm value is being obtained by applyi

[2022-04-07 22:56] WizenPainter opened #629 "[BUG] Installation error on Windows 10 (user)"
When trying to install the package through Pipy I get the following error :

[code]

This issue has been reported before on June 2020, but no solution was found at the cause of inactivity. I've tried both of the recommended by @ulupo. The error given by doing
`pip install https://files.pythonhosted.org/packages/0b/7a/1ff328d9cf2aed3733d6e47f48b3388e07fa260bd6a855106535da3e1620/giotto_tda-0.2.2-cp3

[2022-04-07 23:03] WizenPainter commented on #629
Running the following will also generate an error:
`python -m pip install -U giotto-tda-nightly`

The error is the following:

raise RuntimeError("CMake must be installed to build the "
      RuntimeError: CMake must be installed to build the  following extensions: gtda
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-insta

[2022-04-08 06:38] ulupo commented on #628
I think you may want to look at `Amplitude`: https://giotto-ai.github.io/gtda-docs/0.5.1/modules/generated/diagrams/features/gtda.diagrams.Amplitude.html#gtda.diagrams.Amplitude (and more generally to the `diagrams` subpackage (https://giotto-ai.github.io/gtda-docs/0.5.1/modules/diagrams.html).  Let me know if that helps!

[2022-04-08 06:43] ulupo commented on #629
Hi @WizenPainter, thanks for the report!  The problem is that the library is now in version 0.5.1, but we don't yet support Python 3.10.  `pip` falls back to the best it can, which is installing from sources, but this cannot work, see #308.

We are working on supporting Python 3.10, but for now I'm afraid you'll have to either compile the project from sources (harder) or install the library in an

[2022-04-08 19:08] hellorp1990 opened #630 "Statistical test for mapper"
Hi,
I am new to the TDA-Mapper area. I was experimenting with mapper on some of my data (e.g., 7 features after feature selection and outcome/label is binary: 1 or 0) and found some interesting patterns with respect to color variables (outcome/label) and also coloring patterns of mapper graph with respect to individual 7 features. I am right now visualizing the mapper graphs to understand the diff

[2022-04-08 19:17] #630 closed, assigned to nobody

[2022-04-08 23:55] WizenPainter commented on #629
Ok, I'll wait for the Python 3.10 support to be done. Thank you for answering!

[2022-04-08 23:55] #629 closed, assigned to nobody

[2022-04-21 04:25] bostonnd commented on #629
Hi @ulupo ,
My python is 3.7.9 but I still get the same issue. Could you please help?

[2022-04-30 09:22] raphaelreinauer opened #632 "[DOCS] Unclear documentation for VietorisRipsPersistence padding"
There is unclear documentation for the padding used in VietorisRipsPersistence. The documentation says that diagrams may be padded with some points on the diagonal, but it does not say what the padding values are or how they are chosen. This cannot be confusing for users trying to understand the output of the persistence algorithm.

https://github.com/giotto-ai/giotto-tda/blob/8d09a39403ca11b50605

[2022-05-03 17:24] wreise commented on #632
Hey @raphaelreinauer , thank you for pointing this out.

Let me provide clarification here before the docs are updated. For each dimension, we choose the minimum value which appears in any of the diagrams (it is set to zero if there is no finite value), see https://github.com/giotto-ai/giotto-tda/blob/8d09a39403ca11b50605bf466c1aa9f4f3876e5f/gtda/homology/_utils.py#L44-L48

This choice is indeed n

[2022-05-03 18:27] ulupo commented on #632
Excellent reply @wreise!  I agree that padding was done this way for a reason, but @raphaelreinauer has a point that we could/should document it somewhere.

[2022-05-03 19:05] raphaelreinauer commented on #632
Thanks, @wreise for providing clarity on this. As @ulupo pointed out, it would be ideal if you could state the padding strategy and your reason for doing this in the docs.
For example, people familiar with Transformer Models (like the ones in used in NLP) could mistakenly assume that the diagrams are padded with zeroes as this is the most common form of padding for the input to Transformers which

[2022-05-17 16:14] bioshot-dotcom opened #633 "[BUG] Import FilterFunctionName"
**Describe the bug**
ImportError: cannot import name 'FilterFunctionName' from 'gtda.mapper.filter'

**To reproduce**
I was in the 3rd cell of the code and an issue cames while running the import of the above function.

from gtda.mapper.filter import FilterFunctionName

**Expected behavior**

**Actual behaviour**

**Versions**

Windows-10-10.0.19041-SP0
Python 3.8.3 (default, Jul  2 2020, 17:30:36

[2022-05-17 16:56] ulupo commented on #633
Thanks for the question @ireriga98!  I see that the notebook is less than perfectly clear there.  There in fact does *not* exist a filter function called `FilterFunctionName` in `gtda`, or a clustering algorithm called `ClusteringAlgorithm` in `sklearn.cluster`.  These are just dummy names to indicate that you can place any class that actually exists there.  The non-code cells in our notebooks are

[2022-05-19 06:49] bioshot-dotcom commented on #633
Dear Daniele,

Ok I was thinking it was already ready to be runned, I will try, thank you!

IR

Il mar 17 mag 2022, 18:56 Umberto Lupo ***@***.***> ha
scritto:

[2022-05-19 06:50] bioshot-dotcom commented on #633
Sorry for the name, I was meaning Umberto 🙈

Il gio 19 mag 2022, 08:49 ire ***@***.***> ha scritto:

[2022-05-19 06:52] ulupo commented on #633
Great! I'll close the issue but feel free to reopen if issues persist!

[2022-05-19 06:52] #633 closed, assigned to nobody

[2022-05-19 10:56] Bernat-Jorda-Carbonell opened #634 "[BUG] Instalation problems"
I've tried to run Giotto from github or from a copy from github in pycharm and installing the package (User and developer instalation). At the end the same always happens:

"No module named 'gtda.externals.modules'"

It happens with the repository copied from git directly (git copy on cmd). I've runed setup.py before trying some examples and if I do so :

"Cannot find reference 'packaging' in '__i

[2022-05-19 11:02] ulupo commented on #634
It appears that Boost is not found by CMake. Or marybe it's an old version. @MonkeyBreaker any idea why this might be happening despite our efforts to help finding Boost in Windows systems?

[2022-05-19 12:21] MonkeyBreaker commented on #634
@Estudiant-roqueta as @ulupo mention, it seems that cmake is not able to find the boost library in your system.

We put in place a procedure specifically for Windows, to help make it work for all users. See the related [documentation](https://giotto-ai.github.io/gtda-docs/0.5.1/installation.html#id2).

Try one of the suggested solution and let us know if this resolves the installation issue.

One

[2022-05-19 13:22] Bernat-Jorda-Carbonell commented on #634
Thank you very much. Since I actually did the first option in the first place and it didn't worked (I had the folder "C:\local\boost_1_79_0" and it failed, I uninstalled and tried with prebuilt binaries. Now the error ocurrs while running setup:

File "C:\Users\isbjo\AppData\Local\Programs\Python\Python39\lib\subprocess.py", line 373, in check_call
        raise CalledProcessError(retcode, cmd)

[2022-05-19 13:36] MonkeyBreaker commented on #634
I am a bit lost here.

The first report we are using `C:/Users/isbjo/anaconda3/envs/gtda_tests/python.exe `, version `3.7.13`.
Your second message you are now using `C:\Users\isbjo\AppData\Local\Programs\Python\Python39\python.exe`, which I cannot see the exact version but I assume it should be something like `3.9.X`.

To which versions you want to proceed ? Because using Anaconda, it might be nor

[2022-05-20 15:50] Bernat-Jorda-Carbonell commented on #634
I'm really sorry I was really sleep deprived and I made some dumb mistakes. I have python 3.9.7 installed and I use 3.7.8 in that environment  but I am open to use any version of python. The main deal is that I had conda prompt and cmd opened and I closed one of them without knowing ( :'( ). The second code was obtained running in local with Python 3.9.7. I redone it just in case and here it is wh

[2022-05-22 09:37] MonkeyBreaker commented on #634
No worries, I always encountered issues installing on Windows and when things are not clear to me it is hard to point out what could be wrong.

From your last output results, it seems it still cannot find `boost`:

[code]

To be sure, could you share the content of your `C:\local` folder ? It should contain I think a folder named `1.79.0` and inside this folder you should find something like:

[co

[2022-05-23 13:44] wreise opened #635 "Many connected components from sublevel filtration on VietorisRips"
**Describe the bug**
I am using `VietorisRipsPersistence` to calculate sublevel set persistence on a 1-d complex. For very particular inputs (see attached file), I obtain diagrams with a few connected components, whereas there should be only one.

**To reproduce**
Download and unzip `arrays.zip`, then execute:
[code]

**Expected behavior**
The diagram for the first array should contain a single es

[2022-05-23 13:46] ulupo commented on #635
Thanks @wreise!  So, this is definitely with the PyPI wheels?

[2022-05-23 13:50] wreise commented on #635
You have a point, @ulupo, it's not! :sweat: Let me do that!

[2022-05-23 13:53] wreise commented on #635
I redownloaded the wheels and the behavior persists

[2022-05-23 13:56] ulupo commented on #635
Ok, thanks!  Would be also interesting to see if this is something we inherit from ripser.py, do you think you would be able to test that?

[2022-05-23 14:12] wreise commented on #635
The data contains zeros, which are not explicit in `complexes`. Hence, they are interpreted by `VietorisRipsPersistence` as missing edges, instead of edges with value 0.

[2022-05-23 14:12] #635 closed, assigned to nobody

[2022-05-24 08:35] Bernat-Jorda-Carbonell commented on #634
I checked the folder local and it is just as you said it hsould be:
Path: C:\local\boost_1_79_0
![image](https://user-images.githubusercontent.com/73082782/169984932-6c97d7b2-93f7-4afc-ba0e-038f72b2e9a9.png)

I download the prebuild version of boost: boost_1_79_0-msvc-14.2-64.exe

and I looked up wich version of msvc I'm usin following the stackoverflow thread:

C:\Program Files\Microsoft Visual S

[2022-05-24 14:18] MonkeyBreaker commented on #634
I see that there is as boost version this one [boost_1_79_0-msvc-14.3-64.exe](https://sourceforge.net/projects/boost/files/boost-binaries/1.79.0/boost_1_79_0-msvc-14.3-64.exe/download), but you installed `boost_1_79_0-msvc-14.2-64`.
I really don't know if you should maybe try that one because you have `MSVC\14.32.31326`.
Could you try this by deleting the older one and retry with this ? (in your g

[2022-05-24 14:59] Bernat-Jorda-Carbonell commented on #634
I just upgraded boost and deleted build and the same happened

C:\Users\isbjo\giotto-tda>python -m pip install -e ".[dev]"
Obtaining file:///C:/Users/isbjo/giotto-tda
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.19.1 in c:\users\isbjo\appdata\local\programs\python\python39\lib\site-packages (from giotto-tda==0.5.1) (1.22.2)
Requirement already satisfied: scipy>=

[2022-05-25 06:29] MonkeyBreaker commented on #634
Thank you for the output, as I cannot test on my side I am really sorry to use you as a test subject ...

Looking around what others did to resolve this on Windows, see the following [SO](https://stackoverflow.com/a/30441362) thread.

Could you please try one of the different possibilities, for each one you need to change the file located in `giotto-tda/cmake/HelperBoost.cmake`:

1. Change this li

[2022-05-25 11:51] Bernat-Jorda-Carbonell commented on #634
Hey, don't worry about that, I'm glad to help you out while learning something on the go.

I added the three system variables from the thread and I tried the two lines.

With the second option:

if(WIN32)
    list(APPEND BOOST_ROOT "C:/local")
    list(APPEND Boost_INCLUDE_DIR "C:/local/boost_1_79_0") # Add custom path to your boost installation
endif()

EDIT: I just realised that I had an adition

[2022-05-25 11:58] MonkeyBreaker commented on #634
Good news then !

Hope you enjoy using `giotto-tda` !

If your issue is resolved, could you please close this issue ? Otherwise, let me know if I can help you further :) .

[2022-05-25 12:45] ulupo commented on #634
Thanks so much @MonkeyBreaker for taking care of this!

[2022-05-25 16:59] #634 closed, assigned to nobody

[2022-06-20 20:52] maximelucas commented on #617
Hi!
I think it would be very useful to mention this in the `README.md` or anywhere people go to find installation instructions.
I actually spent the whole day trying to find out why the installation process for `giotto-tda` was failing. But the error messages never pointed in the direction the Apple chip being the problem.
Going once again to the Issues page, I only now noticed that there was a pi

[2022-08-11 12:03] riddhamanna opened #639 "Cannot install in MacOS v12.5 with M1 pro chip"
Cannot install through pip (updated), as well as by cloning the git repository and trying

cd giotto-tda
python -m pip install -e ".[dev]" :

Defaulting to user installation because normal site-packages is not writeable
Obtaining file:///Users/riddha/git/giotto-tda
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.19.1 in /Users/riddha/Library/Python/3.8/lib/python/s

[2022-08-11 14:23] ulupo commented on #639
Hi @riddhamanna!  In short, the problem here is that you would *also* have to install `giotto-ph` and `pyflagser` (which are dependencies of `giotto-tda`) from sources, because they too are missing PyPI wheels for Apple Silicon.  See https://github.com/giotto-ai/giotto-tda/issues/617.  We are working on releasing Apple Silicon wheels for these three libraries as soon as possible.

[2022-08-11 14:38] riddhamanna commented on #639
Hello @ulupo, Thank you for informing. Will be waiting for the release. :)

[2022-08-11 14:38] #639 closed, assigned to nobody

[2022-08-15 12:14] n-otter opened #641 "Cannot install Giotto with pip on MAC OS"
**Cannot install Giotto with pip**

I am trying to install Giotto on a MAC OS 12.5, with pip 22.2.2, and Cmake 3.24.0, but there seems to be issues with building wheels, as well as with CMake. Running the following in the terminal
`pip3 install Giotto-learn`
gives the following error message:

[code]

[2022-08-15 12:30] ulupo commented on #641
Hi @n-otter!  I'm honoured to see you here :)

If you are on a Mac with Apple Silicon, this is simply because as of right now there are still no available wheels on PyPI for these systems.  We are (as we speak) working on shipping them!  In fact, we need to first release wheels for the [`giotto-ph`](https://github.com/giotto-ai/giotto-ph) and [`pyflagser`](https://github.com/giotto-ai/pyflagser) p

[2022-08-17 12:44] n-otter commented on #641
Thanks for much for the quick response! It worked like a charm.

[2022-08-17 12:44] #641 closed, assigned to nobody

[2022-08-17 12:47] ulupo commented on #641
Thanks @n-otter!  Btw, the Apple Silicon wheels for `giotto-ph` are now on PyPI.  `pyflagser` soon to follow.  But if you installed both from sources in the last couple of days, you're possibly even better off in terms of performance.

[2022-08-18 08:09] ulupo commented on #627
Closing due to inactivity.  @andro-demir please feel free to add more detail if you wish it reopened.

[2022-08-18 08:09] #627 closed, assigned to nobody

[2022-08-18 08:12] ulupo commented on #539
Done in #636.

[2022-08-18 08:12] #539 closed, assigned to nobody

[2022-08-18 08:15] #603 closed, assigned to nobody

[2022-08-18 08:16] #271 closed, assigned to MonkeyBreaker, ulupo

[2022-08-18 08:17] #248 closed, assigned to nobody

[2022-08-18 08:17] #200 closed, assigned to nobody

[2022-08-18 08:18] ulupo commented on #150
Closing as this has not been reported again by other users.

[2022-08-18 08:18] #150 closed, assigned to ulupo

[2022-08-18 08:20] ulupo commented on #152
Taking the route of better notebooks to showcase these possibilities.

[2022-08-18 08:20] #152 closed, assigned to lewtun

[2022-08-26 20:00] #311 closed, assigned to lewtun, ulupo

[2022-08-26 22:11] #628 closed, assigned to nobody

[2022-08-26 22:13] #310 closed, assigned to wreise

[2022-08-27 07:19] ulupo commented on #621
Fixed by the release of giotto-tda 0.6.0!

[2022-08-27 07:19] ulupo commented on #617
Fixed by the release of giotto-tda 0.6.0!

[2022-09-28 19:06] andro-demir opened #652 "CubicalPersistence"
Hi,

I'm attempting to compute the persistence diagram of a 3D gray scale image X.
It's an np.array of shape n_rows * n_cols * n_channels  whose values range between 0-255.

I first reshape it as:
X = X.reshape((1, X.shape[0], X.shape[1], X.shape[2]))
so it becomes: (ndarray of shape (n_samples, n_pixels_1, .., n_pixels_d))

Then I compute its persistence diagram as:
cp = CubicalPersistence(homolo

[2022-09-28 19:13] ulupo commented on #652
Hi @andro-demir!  Your code does not look incorrect to me.  However, I cannot comment on correctness of the output without seeing the data and the expected output.  I'm a little confused by the fact that you talk about `n_channels`.  `CubicalPersistence` does not support multi-channel data ("gray scale" means only one channel).

[2022-09-28 19:34] andro-demir commented on #652
Hi ulupo,

Sorry about the confusion. I have 3D volumetric medical images (each 3D image is a stack of 2D images, where each 2D image is a grayscale image).

This is a short example from my notebook:

import os
import nibabel as nib
from gtda.homology import CubicalPersistence
from gtda.plotting import plot_diagram

X = nib.load('BraTS19_2013_2_1_flair.nii').get_fdata()
print(X.shape)
X_std = (X -

[2022-09-28 19:42] andro-demir commented on #652
I can work in 2D, here is a working example:

import os
import nibabel as nib
from gtda.homology import CubicalPersistence
from gtda.plotting import plot_diagram
import matplotlib.pyplot as plt

X = nib.load('BraTS19_2013_2_1_flair.nii').get_fdata()
plt.imshow(X[:,:,70], cmap="gray")
plt.show()
print(X.shape)
X_std = (X - X.min()) / (X.max() - X.min())
X = (X_std * (255 - 0) + 0).astype(int)
cp =

[2022-09-28 19:54] #652 closed, assigned to nobody